@import '../../../../assets/styles/variables';

div {
  padding: 4px 0 4px 16px;
  background: $light-blue;
  border-bottom: 1px solid $grey;

  span {
    color: $light-black;
    font-size: $tiny-font-size;
  }
}
