@import '../../../../../../assets/styles/variables';

.c-row {
  display: flex;

  .c-col {
    height: 50px;
    font-size: 10px;
    text-align: center;
    flex: 1;
    min-width: 0;
    border-color: $grey;
    border-width: 0 1px 1px 0;
    outline: none;
    box-shadow: none;

    &:active,
    &:focus {
      border-bottom-color: $blue;
    }

    &:last-child {
      border-right-width: 0;
    }
  }
}

.remove-button {
  width: 100%;
  height: 50px;
  padding: 0;
  background: $white;
  border-style: solid;
  border-color: $grey;
  border-width: 0 0 1px;
  outline: none;
  box-shadow: none;
}
