@import '../../assets/styles/variables';
@import '../../assets/styles/font-icons';

.search-icon {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: center;

  i {
    font-size: 19px;
  }
}

input {
  width: 100%;
  border: 0;
  font-size: $base-font-size;
  margin-left: 20px;
  outline-width: 0;
}

.right {
  display: flex;
  height: 100%;
  align-items: center;

  // .new-load {
  //   width: 74px;
  //   height: 29px;
  //   font-size: $tiny-font-size;
  //   cursor: pointer;
  // }

  span {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 57px;
    height: $top-panel-height;
    font-size: $top-panel-icon-size;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $grey;

      a {
        text-decoration: none;
      }
    }
  }
}
