<span class="search-icon">
  <i class="fa fa-search" aria-hidden="true"></i>
</span>
<input type="text" placeholder="Search for anything by number, name, date or amount. You can also type action you would like to perform...">
<div class="right">
  <span>
    <icon-with-count-indicator [count]="1111" [class]="'icon-tasks'">
    </icon-with-count-indicator>
  </span>
  <span>
    <icon-with-count-indicator [count]="22" [class]="'icon-messages'">
    </icon-with-count-indicator>
  </span>
  <span>
    <icon-with-count-indicator [count]="333" [class]="'icon-notifications'">
    </icon-with-count-indicator>
  </span>
  <span>
    <div>
    <i class="icon-user"></i>
  </div>
  </span>
</div>
