<span class="search-icon">
  <i class="fa fa-search" aria-hidden="true"></i>
</span>
<input type="text" placeholder="Search for anything by number, name, date or amount. You can also type action you would like to perform...">
<div class="right">

<bd-notification-popover
    [itemsCount]="5888"
    [width]="400"
    [notificationType]="'tasks'">
      <!-- <task-notification-card
      *ngFor="let notification of this.notifications"
      [notification]="notification">
    </task-notification-card> -->

</bd-notification-popover>
<bd-notification-popover
    [itemsCount]="1"
    [width]="400"
    [notificationType]="'messages'">

</bd-notification-popover>
<bd-notification-popover
    [itemsCount]="5"
    [width]="400"
    [notificationType]="'notifications'">

</bd-notification-popover>

  <span>
    <div>
      <i class="icon-user"></i>
    </div>
  </span>
</div>
