@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/form-control';

.pickup-commodity-item {
  background-color: $white;
  width: 100%;
  border-bottom: 0;

  &:hover {
    cursor: pointer;
    background-color: $light-blue;
  }
}
