<commodities-header [titles]='titles'  [focusedColumnIndex]='focusedCol'></commodities-header>
<dropoff-commodity
  class='commodity-item'
  *ngFor="let data of renderFormData; let i = index; trackBy:commodityTrackBy"
  [viewMode]="viewMode"
  [commodity]="data.item"
  [group]="data.group"
  (blur)="onBlur($event)"
  (focus)="onFocus($event)"
  (update)="updateItem($event)"
  (remove)="removeItem(data)">
</dropoff-commodity>
<div>
  <div style="position: relative;">
    <bd-dropdown
      autoClose='always'
      clearLabel='Leave Empty'
      defaultTitleText=''
      [dropdownItemTemplate]="dropdownItemTemplate"
      [toogleTemplate]='toogleTemplate'
      keyField="id"
      [items]="availablePickups">
    </bd-dropdown>
  </div>
</div>
<template #dropdownItemTemplate let-item="item">
  <pickup-commodity
    class='pickup-commodity-item'
    [isRemoveButtonHidden]="'true'"
    [viewMode]="viewMode"
    [disabled]="'true'"
    (click)="pickupSelect(item)"
    [commodity]="item">
  </pickup-commodity>
</template>
<template #toogleTemplate>
  <bd-add-button class="bd-form-control"></bd-add-button>
</template>
