<template #dropdownItemTemplate let-item="item">
  <commodity
    class='pickup-commodity-item'
    [isRemoveButtonHidden]="'true'"
    [viewMode]="viewMode"
    [disabled]="'true'"
    (click)="pickupSelect(item)"
    [commodity]="item">
  </commodity>
</template>
<template #toogleTemplate>
  <bd-add-button class="bd-form-control"></bd-add-button>
</template>
<base-commodity-form
  [viewMode]="viewMode"
  #commodityForm
  [formArray]="formArray"
  (update)="onUpdate($event)"
  (remove)="onRemove($event)"
  [items]="commodities">
</base-commodity-form>
<div>
  <div style="position: relative;">
    <bd-dropdown
      autoClose='always'
      clearLabel='Leave Empty'
      defaultTitleText=''
      [dropdownItemTemplate]="dropdownItemTemplate"
      [toogleTemplate]='toogleTemplate'
      abelText=""
      keyField="id"
      valueField="commodity"
      [items]="availablePickups">
    </bd-dropdown>
  </div>
</div>
