<form [formGroup]="addressForm">
	<bd-input placeholder="Street address 1" formControlName="streetAddress">
	</bd-input>
	<div class="section">
		<div class="left-side right-border">
			<google-autocomplete placeholder="Street address 2" formControlName="streetAddress" (placeChanged)="onPlaceChanged($event)">
			</google-autocomplete>
			<bd-input formControlName="city">
			</bd-input>
			<div class="section">
				<div class="right-border">
					<bd-input placeholder="State" formControlName="state">
					</bd-input>
				</div>
				<bd-input placeholder="Zip" formControlName="zip">
				</bd-input>
			</div>
		</div>
		<div class="right-side bottom-border">
			<google-map #googleMap [location]="_location"></google-map>
		</div>
	</div>
	<div class="section">
			<div class="left-side right-border">
				<bd-input [labelText]="'phone'" formControlName="phone">
				</bd-input>
				<bd-input  [labelText]="'fax'" placeholder="fax" formControlName="fax">
				</bd-input>
			</div>
			<div class="right-side">
				<bd-input formControlName="phoneExtension">
				</bd-input>
				<bd-input formControlName="faxExtension">
				</bd-input>
			</div>
	</div>
</form>
