@import '../../../assets/styles/variables';

.section {
	display: flex;
}

.left-side {
	width: 60%;
}

.right-side {
	width: 40%;
}

.right-border {
	border-right: $border;
}

.bottom-border {
	border-bottom: $border;
}

.item-wrapper {
	display: flex;
	height: 100%;
	padding: 0 17px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	.text {
		color: #000;
		font-size: 14px;
	}
}