<form [formGroup]="addressForm">
	<template #customItemTemplate let-model="item" let-index="index">
    <div class="item-wrapper">
			<div class="text">
				{{model.description}}
			</div>
    </div>
</template>
<bd-typeahead
	class="bd-form-control"
	formControlName="streetAddress1"
	placeholder="Street address"
  [source]="_placeSource"
  [(query)]="_placeQuery"
  [itemTemplate]="customItemTemplate"
	[removeButtonHidden]="false"
  (onRemove)="onAddressRemove()"
  (onSelect)="onPlaceSelect($event)"
	[optionField]="'description'">
</bd-typeahead>
	<div class="section">
		<div class="left-side">
			<bd-input
				class="bd-form-control left-control"
				placeholder="Street address 2"
				formControlName="streetAddress2">
			</bd-input>
			<bd-input class="bd-form-control left-control" formControlName="city" placeholder="City" (valueChange)="onRemoveMap($event)">
			</bd-input>
			<div class="section">
				<bd-input
					class="bd-form-control left-control half-side"
					placeholder="State"
					formControlName="state"
					(valueChange)="onRemoveMap($event)">
				</bd-input>
				<bd-input
					class="bd-form-control middle-control half-side"
					placeholder="Zip"
					(valueChange)="onRemoveMap($event)"
					formControlName="zip">
				</bd-input>
			</div>
		</div>
		<div class="right-side bottom-border">
			<google-map
				[longitude]="_map.longitude"
        [latitude]="_map.latitude"
				[info]="_map.labelText">
			</google-map>
		</div>
	</div>
</form>
