<div class="company-popover">
  <div class="section">
    <span class="blue">{{company.name.slice(0, 16)}} <span class="black">| {{status}}</span></span>
    <span>MC#{{company.mc}} | USDOT: {{company.taxId}}</span>
  </div>
  <div class="section">
    <span class="blue">Address</span>
    <span>{{company.addresses[0].streetAddress1}}</span>
    <span>{{company.addresses[0].city}}, {{company.addresses[0].state}}</span>
    <span>{{company.addresses[0].zip}}</span>
  </div>
  <div class="section">
    <span class="blue">Billing Address</span>
    <span>{{company.addresses[1].streetAddress1}}</span>
    <span>{{company.addresses[1].city}}, {{company.addresses[1].state}}</span>
    <span>{{company.addresses[1].zip}}</span>
  </div>
  <div class="section">
    <span>{{phone}}</span>
  </div>
</div>
