@import '../../../../../assets/styles/variables';

.datepicker-navigation-select {
  display: flex;
  justify-content: center;

  .border {
    border-left: $border;
    border-right: $border;

  }

  .dropdown-container {
    width: 100%;
    max-width: 170px;
  }

  .dropdown-item {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    align-items: center;
    padding-left: 17px;
  }
}
