@import '../../../../../assets/styles/variables';

.collapsed {
  margin-bottom: -1.7rem;
}

.header {
  width: 100%;
  height: $form-control-height;
  background: $white;
  padding-left: $default-margin;
  padding-right: $default-margin;
  border-bottom: $border;

  .arrow-left {
    height: 20px;
    background: url('../../../../../assets/img/arrow-left.svg') no-repeat;
    margin-left: $default-margin;
  }

  .arrow-right {
    height: 20px;
    background: url('../../../../../assets/img/arrow-right.svg') no-repeat;
    float: right;
    margin-right: $default-margin;
   }

  button {
    &:focus {
      outline: 0;
    }
  }
}
