@import '../../../../../assets/styles/variables';

.datepicker-navigation-select {
  display: flex;
  justify-content: center;

  .border {
    border-left: $border;
    border-right: $border;
  }

  .dropdown-container {

    /deep/ .datepicker-dropdown {
      .bd-dropdown-wrapper {
        position: relative;
        border-left: $border;
        border-right: $border;
        border-bottom: 0;
        border-color: transparent;

        .bd-dropdown-value {
          padding-left: 17px;
          padding-right: 15px;
        }
      }

      .dropdown {
        &.open {
          .bd-dropdown-wrapper {
            border-color: $grey;
          }
        }

        .bd-dropdown-list {
          z-index: auto;
          top: $form-control-height + $default-border-size;
          box-shadow: none;
          min-width: 0;
        }
      }
    }
  }

  .dropdown-item {
    display: flex;
    width: 100%;
    height: $form-control-height;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    align-items: center;
    padding-left: 17px;
  }
}
