@import '../../../../../assets/styles/variables';

.collapsed {
  margin-bottom: -1.7rem;
}

.header {
  width: 100%;
  height: $form-control-height;
  background: $white;
  padding-left: $default-margin;
  padding-right: $default-margin;
  border-bottom: $border;

  tr {
    td {
      button {
        padding: 0;
        border: 0;
        background: transparent;
        color: $dark-grey;
        outline: 0;
      }
    }
  }

  .arrow-left {
    height: 20px;
    margin-left: $default-margin;
  }

  .arrow-right {
    height: 20px;
    float: right;
    margin-right: $default-margin;
   }

  button {
    &:focus {
      outline: 0;
    }
  }
}
