<div class="license-container interactive-background">
  <div class="top interactive-background">
    <div class="left">
      <span class="license-number interactive-text">{{driver.license.number}}</span>
      <span class="license-class interactive-text">{{licenseClassText}}</span>
    </div>
    <div class="right">
      <span class="state-issued">{{driver.license.stateIssued}}</span>
      <span class="date">{{driver.license.dateIssued | bdDate:constants.DATE_FORMAT}} - {{driver.license.expiration | bdDate:constants.DATE_FORMAT}}</span>
    </div>
  </div>
  <div class="bottom">
      <div class="endorsements-container">
        <span class="bottom-label">Endors:</span>
        <span class="types interactive-text">{{endorsements}}</span>
      </div>
      <div class="restrictions-container">
        <span class="bottom-label">Restrict:</span>
        <span class="types interactive-text">{{restrictions}}</span>
      </div>
  </div>
</div>
