<div class="preview-container">
  <bd-file-preview
     *ngFor="let item of this.documents; let i = index;"
    [documentType]="item.documentType"
    [itemIndex]="i + 1"
    [item]="item"
    (removeFile)="onRemoveFile($event)">
  </bd-file-preview>
</div>


<div class="upload-container">
  <bd-upload-file
    [documentType]="'Rate Sheet'"
    (documentsSelected)="documentsOnLoad($event)">
  </bd-upload-file>

  <bd-upload-file
    [documentType]="'Bill of Lading'"
    (documentsSelected)="documentsOnLoad($event)">
  </bd-upload-file>
</div>
