<div class="preview-container">
  <bd-file-preview
     *ngFor="let document of this.documents; let i = index;"
    [documentType]="document.type"
    [itemIndex]="i + 1"
    [newDocument]="document.newDocument"
    [document]="document.file"
    [progress]="document.progress | async"
    (removeFile)="onRemoveFile(document)">
  </bd-file-preview>
</div>


<div class="upload-container">
  <bd-upload-file
    [documentType]="'Rate Sheet'"
    (documentsSelected)="onLoadDocuments($event)">
  </bd-upload-file>

  <bd-upload-file
    [documentType]="'Bill of Lading'"
    (documentsSelected)="onLoadDocuments($event)">
  </bd-upload-file>
</div>
