@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/font-icons';

$icon-size: 35px;

.icons {
  display: flex;
  width: $icon-size - 5px;
  height: $icon-size - 5px;
  background: $white;
  font-size: $icon-size;
  border-radius: $circle-radius;
  align-items: center;
  justify-content: center;
}
