<div class="commodity-detail-container">
    <div class="commodity-detail-column">
        <span>{{index}}</span>
    </div>
    <div
        *ngFor="let column of columns; let ind = index" 
        class="commodity-detail-column">
        <span
            [attr.id]="'commodity-detail-' + index + ind"
            [bd-popover]="detailsPopover"
            [popoverDisabled]="isDisabled('commodity-detail-'+ index + ind)"
            [popoverCloseOnMouseOutside]="true"
            [popoverOnHover]="true">
            <bd-popover-content
                #detailsPopover
                placement="auto"
                [closeOnClickOutside]="true">
                {{column}}
            </bd-popover-content>
            {{column}}
        </span>
    </div>
</div>