<commodities-header [titles]='titles' [fucsedColumnIndex]='focusedCol'></commodities-header>
<pickup-commodity
  class='commodity-item'
  *ngFor="let data of renderFormData; let i = index; trackBy:commodityTrackBy"
  [viewMode]="viewMode"
  [commodity]="data.item"
  [group]="data.group"
  (blur)="onBlur($event)"
  (focus)="onFocus($event)"
  (update)="updateItem($event)"
  (remove)="removeItem(data)">
</pickup-commodity>
<bd-add-button class="bd-form-control" (mousedown)="addNewItem()"></bd-add-button>
