<div class="commodities-section">
  <template ngFor let-stopAction [ngForOf]="stopActions" let-stopActionIndex="index">
    <div
     [ngClass]="['commodities-container', getStopActionClass(stopAction)]">
      <commodities-header
        size='small'
        *ngIf="stopActionIndex == 0 && hasCommodities(stopAction)"
        [titles]="commodityHeaders">
      </commodities-header>
      <commodity-details
        *ngFor="let commodity of stopAction.commodities; let i = index;"
        [commodity]="commodity"
        [index]="i">
      </commodity-details>
    </div>
  </template>
</div>
