@import '../../../../assets/styles/variables';

:host {
  display: block;
  padding-top: 20px;

  .bd-section-title {
    margin: 25px $default-margin 15px;
    font-size: $tiny-font-size;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
}
