@import '../../../../assets/styles/variables';

:host {
  display: block;
  padding-top: 20px;

  .bd-section-title {
    margin: 10px 17px 20px;
    font-size: $small-font-size;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
}
