@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/styles';

.card-section {

  .left {

    .equipment-make {
      font-weight: bold;
    }
  }

  .middle {

    .driver-name {
      display: flex;
      overflow: hidden;
      align-items: flex-end;
      font-weight: bold;
    }
  }
}
