<div class="equipment-card-section">
  <div class="left">
    <div class="equipment-type-container">
      <span>{{equipmentShortTypeText}}</span>
    </div>
    <div class="equipment-make">
      <span>{{equipment.make}}</span>
    </div>
    <div>{{equipment.number}}</div>
  </div>
  <div class="middle">
    <div class="driver-name">
    <span>{{equipment.driverFirstName}} {{equipment.driverLastName}}</span>
  </div>
  <div class="driver-type">
    <span>{{driverType}}</span>
  </div>
  <div class="changes">fluids change</div>
  </div>
  <div class="right">
      <div class="tr-city">
        <span style="background: rgb(133, 209, 131)" class="tr-city-circle"></span>
        <span class="tr-city-name">TR{{equipment.lastTripNumber}}</span>
      </div>
      <div class="tr-city">
        <span style="background: red" class="tr-city-circle"></span>
        <span class="tr-city-name">last city</span>
  </div>
      <span [style.background]="equipmentStatusColor" class="status"></span>
  </div>
</div>
