@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/styles';

.card-section {

  .left {

    .equipment-make {
      font-weight: bold;
    }
  }

  .middle {

    .driver-name {
      display: flex;
      overflow: hidden;
      align-items: flex-end;
      font-weight: bold;
    }
  }
}

:host-context(.active) {
  &.equipment-card {
    background: $mako;
    color: $silver;

    .card-section {
      border-radius: $default-border-radius;

      .status {
        opacity: 1;
      }
    }
  }
}
