<div
class="card-section"
(mouseover)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="left">
    <bd-initials-circle
      class="initials-circle"
      [firstName]="firstLetter"
      [lastName]="lastLetter">
    </bd-initials-circle>
    <div class="equipment-make ellipsis">
      {{item.make}}
    </div>
    <div>{{item.number}}</div>
  </div>
  <div class="middle">
    <span class="driver-name">{{item.driverFirstName}} {{item.driverLastName}}</span>
    <span class="driver-type ellipsis" *ngIf="this.item.driver">{{driverTypeText}}</span>
  <div class="changes ellipsis">{{this.item.itemNotification?.date | date:'MM/dd'}}</div>
  </div>
  <div class="right">
      <div class="tr-city">
        <span style="background: rgb(133, 209, 131)" class="tr-city-circle"></span>
        <span class="tr-city-name">TR{{item.lastTripNumber}}</span>
      </div>
      <div class="tr-city">
        <span style="background: red" class="tr-city-circle"></span>
        <span class="tr-city-name">{{item.lastAddress}}</span>
  </div>
  </div>
  <span *ngIf="statusText" [style.color]="itemStatusColor()" class="status-text">{{itemStatusText()}}</span>
  <span
  [style.background]="itemStatusColor()"
  class="status">
  </span>
</div>
