<div class="form-navigation-container" *ngIf="selectedItem">
  <form-navigation sticky [stickyPositionInsideScroll]="true" [title]="selectedItem.name" [anchors]="anchors">
  </form-navigation>
  <div class="company-detail-container">
    <navigation-anchor id="basic-information"></navigation-anchor>
    <bd-view-detail-section [labelText]="'BASIC INFORMATION'" [addButton]="false" (editClick)="onEditInfoClick()">
      <company-basic-information [company]="selectedItem"></company-basic-information>
    </bd-view-detail-section>
    <navigation-anchor id="address"></navigation-anchor>
    <bd-view-detail-section [labelText]="'Location'" [addContent]="'add location'" [editButton]="false" (addClick)="onAddLocationClick()">
        <company-address *ngFor="let location of selectedItem.locations" [location]="location"></company-address>
    </bd-view-detail-section>
    <navigation-anchor id="contacts"></navigation-anchor>
    <bd-view-detail-section [labelText]="'Contacts'" [addContent]="'add contact'" [editButton]="false" (addClick)="onAddContactClick()">
        <company-contact *ngFor="let contact of selectedItem.contacts" [contact]="contact"></company-contact>
    </bd-view-detail-section>
  </div>
</div>
