@import '../../../../assets/styles/variables';

company-address,
company-contact {
  display: block;

  &:first-child {
    margin-top: 0;
  }

  margin-top: 10px;
}

 div {
  color: $dark-grey;
}

:host-context():hover {

   div {
    color: $black;
  }


}
