<div *ngIf="selectedItem">
  <form-navigation sticky [stickyPositionInsideScroll]="true" [title]="selectedItem.name" [anchors]="anchors">
    <bd-form-button [buttonText]="'edit'" buttonType="small" (click)="onEdit()">
    </bd-form-button>
  </form-navigation>
  <div class="company-detail-container">
    <navigation-anchor id="basic-information"></navigation-anchor>
    <bd-view-detail-section [labelText]="'BASIC INFORMATION'" [addButton]="false">
      <company-basic-information [company]="selectedItem"></company-basic-information>
    </bd-view-detail-section>
    <navigation-anchor id="address"></navigation-anchor>
    <bd-view-detail-section [labelText]="'Address'" [addContent]="'add address'" [editButton]="false">
        <company-address *ngFor="let location of selectedItem.locations" [location]="location"></company-address>
    </bd-view-detail-section>
    <navigation-anchor id="contacts"></navigation-anchor>
    <bd-view-detail-section [labelText]="'Contacts'" [addContent]="'add contact'" [editButton]="false">
        <company-contact *ngFor="let contact of selectedItem.contacts" [contact]="contact"></company-contact>
    </bd-view-detail-section>
  </div>
</div>
