<div class="base-notification-container">
  <div [bd-popover]="notifyPopover"
       [popoverOnHover]="true"
       (onShown)="handleOnShownEvent($event)"
       (onHidden)="handleOnHiddenEvent($event)"
        class="popover-target">
          <icon-with-count-indicator [count]="_itemsCount" [class]="_iconClass" [isActive]="_topIconActive">
          </icon-with-count-indicator>
    <bd-popover-content
      #notifyPopover
      placement="bottom"
      [horizontalOffset]="-10"
      [closeOnClickOutside]="true"
      [width]="width"
      class="bd-popover-content">
          <div class="notifications-container">
            <div class="notifications-header">
              <span class="title">
                {{_titleText}}
              </span>
              <div
                  class="new-items-info">
                  <span *ngIf="_itemsCount > 0"
                        class="new-items-count">
                    {{_itemsCount}} new {{_itemsName}} -
                  </span>
                  <button class="btn-refresh" (click)="onRefreshClick($event)">
                    Refresh
                  </button>
              </div>
            </div>
            <div class="notifications-body">
              <bd-notification-card
                  *ngFor="let item of _notifications"
                [isClosable]="false"
                [notification]="item">
              </bd-notification-card>
            </div>
            <div class="notifications-footer">
              <button class="btn-show-all"
                (click)="onShowAllClick()">
                  Show All
              </button>
            </div>
          </div>
    </bd-popover-content>
  </div>
</div>
