@import '../../../../assets/styles/variables';

.register-form-wrapper {
  width: 480px;

  h3 {
    color: $blue;
    font-size: $large-font-size;
    font-weight: 600;
  }

  .links-wrapper {
    color: $dark-grey;
    margin-top: 10px;

    a {
      color: $dark-grey;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
