<multi-pane-layout>
    <first-pane>
      <div class="data-panel">
        <bd-button
          class="add-button"
          [color]="'primary'"
          [text]="'Add'"
          (click)="onAddCustomer()">
        </bd-button>
        <swui-datatable
          #datatable
          class="material striped"
          [rows]="customers"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [selectionType]="'single'"
          (select)="onCustomerSelect($event)"
          [limit]="10">
        </swui-datatable>
      </div>
    </first-pane>

    <second-pane>
    </second-pane>

    <third-pane>
      <div>
        <form-navigation 
          *ngIf="selectedCustomer"
          sticky
          [title]="'Customer'"
          [anchors]="anchors"
          class="sticked-form-navigation">
        </form-navigation>
        <customer-form
          *ngIf="selectedCustomer"
          [scrollable]="true"
          [customer]="selectedCustomer"
          [viewMode]="customerViewMode"
          (save)="onCustomerSave($event)"
          (cancel)="onCustomerCancel()">
        </customer-form>
      </div>
    </third-pane>
</multi-pane-layout>
