@import '../../../../../assets/styles/variables';

$circle-diameter: 28px;

.circle {
  display: flex;
  width: $circle-diameter;
  height: $circle-diameter;
  background: $black;
  color: $white;
  font-size: $mini-font-size;
  border-radius: 50%;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
