@import '../../../../assets/styles/variables';

.common {
	width: 100%;
	height: 50px;
	border: 0;
	border-bottom: $border;
	border-radius: $default-border-radius;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}
}

.primary {
	border: 0;
	background: $blue;
	color: $white;

	&:hover {
		background: $blue;
	}
}

.default {
	background: $light-grey;
	color: $black;

	&:hover {
		background: $light-grey;
	}
}
