@import '../../../assets/styles/variables';
@import '../../../assets/styles/form-control';
@import '../../../assets/styles/styles';

.button-group {
  padding-top: 30px;
}

.same-as-company-label {
  display: flex;
  width: 100%;
  border-bottom: $border;
  margin-bottom: 0;
  font-weight: normal;
  padding-left: 15px;
  min-height: $form-control-height;
  align-items: center;

  input {
    margin: 0;
  }

  span {
    padding-left: 15px;
  }
}

navigation-anchor {
  &.not-scrollable {
    padding-top: $form-navigation-height;
  }
}
