<form [formGroup]="customerForm">

	<bd-input [labelText]="'Company Name'" formControlName="name" *ngIf="controlVisible('name')" [errorText]="'Company name is required'">
	</bd-input>
	<bd-dropdown [defaultLabelText]="'Customer type'" [selectedValue]="selectedCustomerType" [items]="customerTypes">
	</bd-dropdown>
	<bd-dropdown [defaultLabelText]="'Status'" [selectedValue]="selectedCustomerStatus" [items]="customerStatuses">
	</bd-dropdown>
	<bd-input [labelText]="'MC #'" formControlName="mc">
	</bd-input>
	<bd-input [labelText]="'Tax ID (W9)'" formControlName="taxId">
	</bd-input>
	<address-form [group]='customerForm' [address]='customer.address'></address-form>
	<div>
		<button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
		<button (click)="changeMode()" class="btn">Change Mode</button>
	</div>
	<div class="section">
		<bd-button
		[disabled]='false'
		type='default'
		[text]="'Cancel'"
		class="bd-button"
		>
		</bd-button>
		<bd-button
		type='primary'
		class="bd-button"
		[disabled]='false'
		[text]="'Add Customer'"
		>
		</bd-button>
	</div>
</form>
