<bd-form-expand [expanded]="isFormExpanded" (changed)="onExpandChanged($event)" [viewMode]="viewMode">
	<form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm.value)" [class.edit]="isEditMode" [class.view]="!isEditMode">
		<bd-form-section [labelText]="'CUSTOMER > BASIC INFORMATION'" [isExpanded]='isFormExpanded'>
			<bd-input class="bd-form-control" [labelText]="'Company Name'" formControlName="name" *ngIf="isFormExpanded">
			</bd-input>
			<bd-dropdown class="bd-form-control" [labelText]="'Customer type'" formControlName="customerType" [items]="customerTypes">
			</bd-dropdown>
			<bd-form-switch class="bd-form-control" [labelText]="'Status'" [enableButtonSwitch]="isEditMode" formControlName="status" [items]="customerStatuses">
			</bd-form-switch>
			<bd-validator [component]="customerForm.controls.mc" [errorDefs]="{required: 'MC# is required'}">
				<bd-input class="bd-form-control" [labelText]="'MC #'" formControlName="mc">
				</bd-input>
			</bd-validator>
			<bd-input class="bd-form-control" [labelText]="'Tax ID (W9)'" formControlName="taxId" *ngIf="isFormExpanded">
			</bd-input>
		</bd-form-section>
		<bd-form-section [labelText]="'CUSTOMER > ADDRESS'" [isExpanded]='isFormExpanded'>
			<address-form [group]='customerForm.controls.address' [isExpanded]="isFormExpanded" [address]='customer.address' [viewMode]="viewMode"></address-form>
			<bd-input class="bd-form-control" [labelText]="'Email'" formControlName="email" *ngIf='isExpanded'>
			</bd-input>
		</bd-form-section>
		<bd-form-section [labelText]="'CUSTOMER > BILLING'" *ngIf='isExpanded' [isExpanded]="isFormExpanded">
		 <label class="bd-form-control same-as-company-label"><input type="checkbox" (change)="sameAsCompanyChange($event)"><span>Same as Company Address</span></label>
		 <address-form [group]='customerForm.controls.billingAddresses' [address]='customer.billingAddresses' [viewMode]="viewMode"></address-form>
		 <bd-textarea class="bd-form-control" [labelText]="'Notes'">
		 </bd-textarea>
		</bd-form-section>
		<div class="section btn-container" *ngIf="isEditMode">
			<bd-button
				type="default"
				(click)="onCancel()"
				[text]="'Cancel'"
				class="bd-button">
			</bd-button>
			<bd-button
				type="submit"
				color="primary"
				class="bd-button"
				(click)="onSubmit()"
				[text]="'Add Customer'">
			</bd-button>
		</div>
	</form>
</bd-form-expand>
