@import '../../../../assets/styles/variables';

equipment-card {
  background: transparent;
  color: $dark-grey;

  &.active {
    color: $black;
  }

  &.active,
  &:hover {
    background: $light-blue;

    .status-text {
      background: $light-blue;
    }
  }
}

:host() {
  &:hover {
    background: red;

    &.card {
      color: $black;
      background: red;
      transition: all 0.5s;

      .card-section {
        .status {
          opacity: 1;
        }
      }
    }
  }
}
