.main-area {
  overflow: hidden;
  height: 100vh;
  padding: 20px 10px 0;
}

.panel {
  height: calc(100vh - 40px);
  border: 0;
  margin: 0 10px 20px;
  background: transparent;
  overflow-y: auto;
}

.col-sm-4,
.col-sm-6,
.col-sm-12 {
  padding: 0;
  margin: 0;
}
