@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

.mileage-container {
  @include default-view-container;
  display: flex;
  height: 35px;
  padding: 0 $default-margin;
  align-items: center;
  justify-content: space-between;

  .info-container {
    color: $black;

    .value-container {
      display: flex;

      .value {
        width: 82px;
      }
    }
  }

  .date-container {
    .date {
      color: $dark-grey;
    }
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
