@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

.mileage-container {
  display: flex;
  height: 35px;
  padding: 0 $default-margin;
  font-size: $tiny-font-size;
  border-bottom: $default-border;
  align-items: center;
  justify-content: space-between;

  .info-container {
    color: $black;
  }

  .date-container {
    .date {
      color: $dark-grey;
    }
  }
}

@include hovered-text;

:host-context(.interactive-panel:hover) {
  @include hovered-bg;
}
