@import '../../../../../../assets/styles/variables';

.filter-item-container {
  display: flex;
  height: $form-control-height;
  padding: 0 $default-margin;
  border-bottom: $border;
  align-items: center;

  &:hover {
    background: $light-blue;
  }
}
