@import '../../../../../../assets/styles/variables';

.filter-item-container {
  display: flex;
  height: $form-control-height;
  padding-right: $default-margin;
  border-bottom: $border;
  align-items: center;

  bd-form-checkbox {
    width: $form-control-height;
  }

  &:hover {
    background: $light-blue;
  }
}
