<div class="filter-item-container">
  <div class="left">
    <bd-checkbox></bd-checkbox>
    <div
    *ngIf="statusItemTemplate"
    class="status-item"
    >
    </div>
  <template
  *ngIf="companyItemTemplate"
  [ngOutletContext]="{item: item}"
  [ngTemplateOutlet]="companyItemTemplate">
</template>
<template
*ngIf="statusItemTemplate"
[ngOutletContext]="{item: item}"
[ngTemplateOutlet]="statusItemTemplate">
</template>
  </div>
  <div *ngIf="companyItemTemplate" class="right">
    MC# : 33333
  </div>
</div>
