@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/font-icons';
$element-height: 18px;

.basic-information-container {
  display: flex;
  width: 100%;
  background: $default-background;
  font-size: $tiny-font-size;
  line-height: $element-height;
  border-bottom: $border;

  .left {
    display: flex;
    width: 50%;
    padding: $default-margin;
    border-right: $border;

    .name-type {
      overflow: hidden;
      flex: 1;
      margin-left: $default-margin;

      .name {
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .type {
        color: $dark-grey;
      }
    }
  }

  .right {
    width: 50%;
    padding: $default-margin;

    .right-label {
      color: $dark-grey;
    }

    .mc,
    .tax-id {
      margin-left: 5px;
    }
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
