@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/font-icons';
$element-height: 18px;

.basic-information-container {
  display: flex;
  width: 100%;
  font-size: $tiny-font-size;
  line-height: $element-height;

  .left {
    display: flex;
    width: 50%;
    padding: $default-margin;

    .cropped-company-name {
      display: flex;
      width: 28px;
      height: 28px;
      margin: 4px 0;
      background: $nevada;
      color: $white;
      font-size: $mini-font-size;
      border-radius: $circle-radius;
      justify-content: center;
      align-items: center;
    }

    .name-type {
      overflow: hidden;
      flex: 1;
      margin-left: $default-margin;

      .name {
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .type {
        color: $dark-grey;
      }
    }
  }

  .right {
    width: 50%;
    padding: $default-margin;

    .right-label {
      color: $dark-grey;
    }

    .mc,
    .tax-id {
      margin-left: 5px;
    }
  }
}
