@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

.employment-container {
  @include default-view-container;
  display: flex;
  color: $dark-grey;
  border-radius: $default-border-radius;

  section {
    width: 50%;
    padding: $default-margin;

    &:first-of-type {
      border-right: $border;
    }
  }
}

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
