@import '../../../../../../assets/styles/variables';

.employment-container {
  display: flex;
  background: $white;
  color: $dark-grey;
  font-size: $tiny-font-size;
  border-radius: $default-border-radius;
  border-bottom: $border;

  section {
    width: 50%;
    padding: $default-margin;

    &:first-of-type {
      border-right: $border;
    }
  }
}
