<div class="employment-container">
    <section class="general-info">
        <div class="vin">
            <span class="label">VIN:</span>
            <span class="value">435345636366</span>
        </div>
        <div class="mode">
            <span class="value">Company Equipment</span>
        </div>
        <div class="sub-mode">
            <span class="value">Purchased</span>
        </div>
    </section>
    <section class="vehicle-info">
        <div class="type">
            <span class="value">Power Unit</span>
        </div>
        <div class="sub-type">
            <span class="value">Tractor</span>
        </div>
        <div class="owned-mode">
            <span class="value">InterState</span>
        </div>
    </section>
</div>