<div class="employment-container interactive-background">
    <section class="general-info left">
        <div class="vin">
            <span class="value">VIN: {{equipment.vin}}</span>
        </div>
        <div class="mode">
            <span class="value">{{equipmentOwnership}}</span>
        </div>
        <div class="sub-mode">
            <span class="value"></span>
        </div>
    </section>
    <section class="vehicle-info">
        <div class="type">
            <span class="value">{{equipmentType}}</span>
        </div>
        <div class="sub-type">
            <span class="value">{{equipmentSubType}}</span>
        </div>
        <div class="owned-mode">
            <span class="value">{{vehicleOperating}}</span>
        </div>
    </section>
</div>
