:host-context(.parent-hover) {
  &.card {
    background: green!important;

    .card-section {
      background: red!important;

      .left {
        background: red;

        .initials-circle {
          background: red;
        }
      }
    }
  }
}
