@import '../../../../../../assets/styles/variables';

:host {
  display: block;
  padding-top: $form-navigation-height;
  margin-top: -$form-navigation-height;

  &:first-child {
    padding-top: $form-navigation-height * 2;
  }
}
