@import '../../../../../../assets/styles/variables';

$offset: $form-navigation-height - 20;

:host { 
  display: block; 
  visibility: hidden;
  padding-top: $offset; 
  margin-top: -$offset; 

  &:first-child {
    &:not(.nested-form) {
      padding-top: $offset * 2;
    }
  }
}
