@import '../../../../../../assets/styles/variables';

:host {
  display: block;
  visibility: hidden;
  padding-top: $form-navigation-height;
  margin-top: -$form-navigation-height;

  &:first-child {
    &:not(.nested-form) {
      padding-top: $form-navigation-height * 2;
    }
  }
}
