<div class="side-menu">
    <div class="logo-container">
        <span class="logo-letter">b</span>
        <span class="logo-number">18</span>
    </div>

    <div class="menu-item" [routerLinkActive]="['active']">
        <a [routerLink]="['./home']">Home</a>
    </div>
    <div class="menu-item" [routerLinkActive]="['active']">
        <a [routerLink]="['./drivers/1']">Drivers</a>
    </div>
    <div class="menu-item" [routerLinkActive]="['active']">
        <a [routerLink]="['./#']">Menu item</a>
    </div>
    <div class="menu-item" [routerLinkActive]="['active']">
        <a [routerLink]="['./#']">Menu item</a>
    </div>
    <div class="menu-item" [routerLinkActive]="['active']">
        <a [routerLink]="['./#']">Menu item</a>
    </div>
</div>