<div class="side-menu">
    <div class="logo-container">
        <span class="logo-letter">b</span>
        <span class="logo-number">18</span>
    </div>

    <menu-item [menuItem]="item" *ngFor="let item of items"></menu-item>

    <layout-switch [switchState]="switchState" (switchStateChange)="onSwitchStateChange($event)"></layout-switch>
</div>
<div class="parent-test">
  <span [bd-popover]="notifyPopover"
        [popoverOnHover]="true"
        class="test">
    <i class="icon-down-arrow"></i>
    <bd-popover-content
      #notifyPopover
      placement="auto"
      [horizontalOffset]="-10"
      [closeOnClickOutside]="false">
      <bd-notification-popover
        [headerTitleText]="'Latest notifications'"
        [newItemsCount]="4">
      </bd-notification-popover>
    </bd-popover-content>
  </span>
</div>
