<div class="list-items-wrapper">
  <div class="load-number-customer-id-wrapper">
    <span class="load-number">LD123456</span>
    <span class="customer-name">CH Robinson</span>
    <span>1234567</span>
  </div>
  <div class="distance-schedule-date-wrapper">
    <div class="distance-wrapper">
      <span>Laredo, TX</span>
      <span>San-Francisco, CA</span>
    </div>
    <div class="schedule-date-wrapper">
      <div class="start-date">
        date1
      </div>
      <div class="schedule">
        schedule
      </div>
      <div class="end-date">
        date2
      </div>
    </div>
  </div>
  <div class="driver-track-trailer-number-current-trip-status-wrapper">
    <div class="driver-track-trailer-number-wrapper">
      <span>Govind</span>
      <span>|</span>
      <span>Tk1021</span>
      <span>|</span>
      <span>Tk1021</span>
    </div>
    <div class="current-trip-status-wrapper">
      <span class="current-trip">
      TR349616
    </span>
      <span class="status">
        status
    </span>
    </div>
  </div>
</div>
