<div class="driver-popover">
  <div class="section">
    <span class="blue">{{driver.contact.firstName}} {{driver.contact.lastName}} <span class="black">| {{type}} | {{status}}</span></span>
    <span>{{driver.ssn}}</span>
    <span>Notifications: {{driver.notes}}</span>
  </div>
  <div class="section">
    <span class="blue">{{getEquipmentTypeText(driver.currentTruck.type)}}: {{driver.currentTruck.number}}</span>
    <span>{{driver.currentTruck.make}} {{driver.currentTruck.model}} | {{getEquipmentModeText(driver.currentTruck.mode)}} | {{getEquipmentStatusText(driver.currentTruck.status)}}</span>
    <span>Notifications: {{driver.currentTruck.notes}}</span>
  </div>
  <div class="section">
    <span class="blue">{{getEquipmentTypeText(driver.currentTrailer.type)}}: {{driver.currentTrailer.number}}</span>
    <span>{{driver.currentTrailer.make}} {{driver.currentTrailer.model}} | {{getEquipmentModeText(driver.currentTrailer.mode)}} | {{getEquipmentStatusText(driver.currentTrailer.status)}}</span>
    <span>Notifications: {{driver.currentTrailer.notes}}</span>
  </div>
</div>
