<div class="driver-popover">
  <div class="section">
    <span class="blue">{{driver.firstName}} {{driver.lastName}} <span class="black">| {{type}} | {{status}}</span></span>
    <span>{{driver.ssn}}</span>
    <span>Notifications: {{driver.notes}}</span>
  </div>
  <div class="section">
    <span class="blue">{{getEquipmentTypeText(driver.powerUnitAssigned.type)}}: {{driver.powerUnitAssigned.number}}</span>
    <span>{{driver.powerUnitAssigned.make}} {{driver.powerUnitAssigned.model}} | {{getEquipmentModeText(driver.powerUnitAssigned.mode)}} | {{getEquipmentStatusText(driver.powerUnitAssigned.status)}}</span>
    <span>Notifications: {{driver.powerUnitAssigned.notes}}</span>
  </div>
  <div class="section">
    <span class="blue">{{getEquipmentTypeText(driver.trailerAssigned.type)}}: {{driver.trailerAssigned.number}}</span>
    <span>{{driver.trailerAssigned.make}} {{driver.trailerAssigned.model}} | {{getEquipmentModeText(driver.trailerAssigned.mode)}} | {{getEquipmentStatusText(driver.trailerAssigned.status)}}</span>
    <span>Notifications: {{driver.trailerAssigned.notes}}</span>
  </div>
</div>
