@import '../../../../../../assets/styles/variables';

$black: #333;

.driver-popover {
  overflow: hidden;

  .section {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  span {
    display: block;
    padding: 3px 0;
    color: $black;
    font-size: $tiny-font-size;
    line-height: 1;
  }

  .blue {
    color: $blue;
  }

  .black {
    display: inline-block;
    padding: 0;
    color: $black;
  }
}
