@import '../../../../assets/styles/variables';

:host {
  position: absolute;
  z-index: $sticked-z-index + 1;
  top: 0;
  width: 100%;
  height: 100%;
}

.bd-form-spinner {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  background: $white;
  left: 0;
  bottom: 0;
  opacity: .5;
}
