<form [formGroup]="contactForm">
  <bd-input class="bd-form-control" [disabled]="disabled" formControlName="firstName" [labelText]="'First Name'">
  </bd-input>
  <bd-input class="bd-form-control" [disabled]="disabled" formControlName="lastName" [labelText]="'Last Name'">
  </bd-input>
  <bd-input class="bd-form-control" [disabled]="disabled" formControlName="email" [labelText]="'Personal Email'">
  </bd-input>
  <bd-input class="bd-form-control" [disabled]="disabled" formControlName="position" [labelText]="'Position'">
  </bd-input>
  <bd-dropdown
    [disabled]="disabled"
    clearLabel='Leave Empty'
    class="bd-form-control"
    labelText='Address'
    [items]="addresses"
    formControlName="addressId"
    defaultTitleText="Select Address"
    [dropdownItemTemplate]="contactsAddressDropdown"
    keyField="id"
    valueField="name">
  </bd-dropdown>
</form>

<template #contactsAddressDropdown let-item="item">
  <address-item-template [item]='item'></address-item-template>
</template>
