<form>
  <navigation-anchor id="information"></navigation-anchor>
<bd-form-section [labelText]="'INFORMATION'">
  <div class="information-container">
    <div class="left">
      <div class="top">
        <bd-initials-circle class="initials-circle" [firstName]="'Nick'" [lastName]="'Smith'">
        </bd-initials-circle>
        <div class="top-right">
          <div class="full-name">
            Nick Smith
          </div>
          <div class="top-icons">
            <span class="icon-mail"></span>
            <span class="icon-call"></span>
            <span class="icon-message"></span>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="birth">
          Birth: 09/091967
        </div>
        <div class="ssn">
          SSN: 568-555-444
        </div>
        <div class="driver-type">
          Company driver
        </div>
      </div>
    </div>
    <div class="right">
      added ruslan markup
    </div>
  </div>
</bd-form-section>
  <navigation-anchor id="equipment-associations"></navigation-anchor>
<bd-form-section [labelText]="'EQUIPMENT ASSOCIATIONS'">
</bd-form-section>
<div class="equipment-associations-container">
  <div class="left">
      <div class="make-model-circle-wrapper">
        <span style="background: rgb(133, 209, 131)" class="status-circle"></span>
        <span class="make-model">Kenworth T610</span>
      </div>
      <div class="number">
        101
      </div>
  </div>
  <div class="right">
    <div class="equipment">
      Company Equipment
    </div>
    <div class="pover-unit">
      Pover unit
    </div>
  </div>
</div>
<div class="price">
  Per Miles: $0,35
</div>
<navigation-anchor id="license"></navigation-anchor>
<bd-form-section [labelText]="'License'">
</bd-form-section>
<div class="license-container">
  <div class="top">
    <div class="left">
      qwerty1
    </div>
    <div class="right">
      qwerty2
    </div>
  </div>
  <div class="bottom">
    <div class="restric">
      <span class="bottom-title">Restrict:</span>
      <span>A, B, C</span>
    </div>
    <div class="endors">
      <span class="bottom-title">Endors:</span>
      <span>A, B, C</span>
    </div>
  </div>
</div>
</form>
