@import '../../../assets/styles/form-control';
@import '../../../assets/styles/styles';
@import '../../../assets/styles/font-icons';

.information-container {
  display: flex;
  width: 100%;
  padding: 0 $default-margin;
  border-bottom: $border;

  .left {
    width: 50%;
    padding: $default-margin 0;

    .top {
      display: flex;

      .top-right {
        margin-left: $default-margin;

        .full-name {
          font-weight: bold;
        }

        .top-icons {
          color: $grey;
        }
      }
    }

    .bottom {
      .birth,
      .ssn {
        color: $grey;
      }
    }
  }

  .right {
    width: 50%;
  }
}

.equipment-associations-container {
  display: flex;
  width: 100%;
  padding: 0 $default-margin;
  background: $white;
  font-size: $tiny-font-size;
  border-bottom: $border;

  .left {
    width: 50%;
    padding: $default-margin 0;
    border-right: $border;

    .make-model-circle-wrapper {
      display: flex;

      .status-circle {
        width: 10px;
        height: 10px;
        margin: 3px 5px 0 0;
        border-radius: $circle-radius;
      }

      .make-model {
        font-weight: bold;
      }
    }

    .number {
      color: $grey;
    }
  }

  .right {
    width: 50%;
    padding: $default-margin 0 $default-margin $default-margin;
    color: $grey;
  }
}

.price {
  display: flex;
  width: 100%;
  height: 34px;
  padding: 0 $default-margin;
  background: $white;
  font-size: $tiny-font-size;
  align-items: center;
  margin-top: 10px;
  border-bottom: $border;
}

.license-container {
  width: 100%;
  border-bottom: $border;

  .top {
    display: flex;
    width: 100%;
    height: 34px;
    border-bottom: $border;

    .left {
      width: 50%;
      height: 34px;
      padding: $default-margin;
      border-right: $border;
    }

    .right {
      width: 50%;
      height: 34px;
      padding: $default-margin;
    }
  }
}
