@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/font-icons';

.autocomplete-filter {
  position: relative;

  .autocomplete-title {
    display: flex;
    padding: 0 $default-margin;
    border-bottom: $border;

    button {
      padding: 0;
      border: 0;
      background: 0;
      color: $active-color;
      font-size: $default-font-size;
      text-transform: capitalize;
      flex: 1;

      &:focus {
        outline: 0;
      }

      &.hide {
        color: transparent;
        pointer-events: none;
      }
    }

    bd-input {
      max-width: 50%;
      flex: 1;

      /deep/ .bd-input-wrapper {
        padding: 0;
        border: 0;
      }
    }
  }



  .autocomplete-section-header {
    display: flex;
    height: $form-control-height;
    padding: 0 $default-margin;
    color: $grey;
    font-size: $tiny-font-size;
    border-bottom: $border;
    align-items: center;
    letter-spacing: 1px;
  }
}
