<div class="autocomplete-filter">
  <div
    class="infinite-scroll"
    infinite-scroll
    [debounce]="debounce"
    [infiniteScrollDistance]="infiniteScrollDistance"
    [scrollWindow]="scrollWindow"
    (scrolled)="onScrolledDown($event)">
    <bd-input
      sticky
      (valueChange)="onAutocompleteChange($event)"
      [value]="query"
      placeholder="Enter data">
        <i bd-suffix (click)="clearField($event)" class="icon-minus"></i>
    </bd-input>
    <div *ngIf="isSearchMode">
      <filter-item
        *ngFor="let item of loadedItems; let i = index;"
        [itemTemplate]="itemTemplate"
        [selected]="isSelected(item)"
        (selectedChange)="onSelect($event)"
        [item]="item">
      </filter-item>
    </div>
    <div *ngIf="!isSearchMode">
      <filter-item
        *ngFor="let item of selectedItems; let i = index;"
        [selected]="isSelected(item)"
        [itemTemplate]="itemTemplate"
        (selectedChange)="onSelect($event)"
        [item]="item">
      </filter-item>
      <div *ngIf="availableItems.length">
        <span>ALL VALUES</span>
        <filter-item
          *ngFor="let item of availableItems; let i = index;"
          [itemTemplate]="itemTemplate"
          [selected]="isSelected(item)"
          (selectedChange)="onSelect($event)"
          [item]="item">
        </filter-item>
      </div>
    </div>
    <bd-spinner *ngIf="isLoading"></bd-spinner>
  </div>
</div>
