@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/font-icons';

.autocomplete-filter {
  position: relative;
  padding-top: 50px;

  bd-input {
    position: absolute;
    z-index: $sticked-z-index;
    top: 0;
    display: block;
    width: 100%;
    background: $white;
  }

  .autocomplete-section-header {
    display: flex;
    height: $form-control-height;
    padding: 0 $default-margin;
    color: $grey;
    font-size: $tiny-font-size;
    border-bottom: $border;
    align-items: center;
    letter-spacing: 1px;

    button {
      border: 0;
      background: 0;
      color: $active-color;
      font-size: $default-font-size;
      text-transform: capitalize;

      &:focus {
        outline: 0;
      }
    }
  }
}
