<div>
  <bd-input
      (valueChange)="onAutocompleteChange($event)"
      placeholder="Enter data">
  </bd-input>
  <div *ngIf="isLoading">
    Loading
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="searchedItems">
      <div *ngFor="let item of searchedItems; let i = index;">
        {{getItemValue(item)}}
      </div>
    </div>
    <div *ngIf="!searchedItems.length">
      <div
      class="infinite-scroll"
      infinite-scroll
      [scrollWindow]="scrollWindow" 
      [debounce]="debounce" 
      [infiniteScrollDistance]="infiniteScrollDistance" 
      (scrolled)="onScrolledDown($event)">
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
      adsf fdasdfafsdfdsaf asdfsdfsdf  sfasdfasdf sadfdsafdssaf
        <div *ngFor="let item of allItems; let i = index;">
          {{getItemValue(item)}}
        </div>
      </div>
    </div>
  </div>
</div>
