<div class="requirements-container interactive-background">
    <div class="main-requirements interactive-background">
        <section class="driver-count interactive-text">{{driverRequirement}}</section>
        <section class="power-unit-type interactive-text">{{requiredPowerUnitType}}</section>
        <section class="trailer-type interactive-text">{{requiredTrailerType}}</section>
    </div>
    <div class="additional-requirements"
         [class.is-additional-requirements]="isReeferTrailerType">
        <div class="special-requirements interactive-text">{{load.specialRequirments}}</div>
        <div class="reefer-options">
            <div class="option temperature">57 F</div>
            <div class="option refrigerating-type">Cycle</div>
        </div>
    </div>
</div>
