<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)" class="login-form edit">
  <bd-validator [component]="loginForm.controls.login" [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control"
      [labelText]="'Phone or Email'"
      formControlName="login">
    </bd-input>
  </bd-validator>
  <bd-validator [component]="loginForm.controls.password" [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control"
      [labelText]="'Password'"
      formControlName="password">
    </bd-input>
  </bd-validator>
  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button"
    [(disabled)]="!loginForm.valid"
    [text]="'Login'">
  </bd-button>
</form>
