<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)" class="auth-form">
  <bd-auth-general-form-error *ngIf="isLoginFailed && loginForm.pristine"
    [headerText]="'Unable to login.'">
    Please check that you have entered your Login and Password correctly.
  </bd-auth-general-form-error>
  <bd-validator [component]="loginForm.controls.username" [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control username"
      [labelText]="'Phone or Email'"
      formControlName="username">
    </bd-input>
  </bd-validator>
  <bd-validator [component]="loginForm.controls.password" [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control password"
      [type]="'password'"
      [labelText]="'Password'"
      formControlName="password">
    </bd-input>
  </bd-validator>
  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button login"
    [(disabled)]="!loginForm.valid"
    [text]="'Login'">
  </bd-button>
  <bd-spinner *ngIf="isLoading"></bd-spinner>
</form>
