@import '../../../../assets/styles/variables';

:host {
  .detail-container {
    .title {
      display: flex;
      padding: 0 $default-margin;
      margin: 25px 0 15px;
      justify-content: space-between;

      label {
        color: $nevada;
        font-size: $tiny-font-size;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
        letter-spacing: 2px;
        word-spacing: 3px;
      }

      .buttons-panel {
        position: relative;
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: space-between;

        .add-button,
        .edit-button {
          display: none;
          margin-left: 5px;
        }
      }
    }
  }

  &:first-of-type {
    .detail-container {
      padding-top: 10px;
    }
  }
}

:host-context(.interactive-panel:hover) {
  .detail-container {
    .title {
      label {
        color: $black;
      }

      .buttons-panel {
        bd-form-button {
          display: flex;
        }
      }
    }
  }
}
