<div class="list-section">
  <div class="left">
    <span class="load-number">LD123456</span>
    <span class="customer-name">{{load.customer.name}}</span>
    <span>1234567</span>
  </div>
  <div class="right">
    <div class="distance-wrapper">
      <span>{{load.stops[0].address.city}}, {{load.stops[0].address.state}}</span>
      <span>{{load.stops[load.stops.length - 1].address.city}}, {{load.stops[load.stops.length - 1].address.state}}</span>
    </div>
    <div class="schedule-date-wrapper">
      <div class="start-date">
        {{load.stops[0].date}}
      </div>
      <div class="schedule">
        <stops-line [stops]="load.stops"></stops-line>
      </div>
      <div class="end-date">
        {{load.stops[load.stops.length - 1].date}}
      </div>
    </div>
  </div>
  <div class="bottom">
    <span class="link">{{load.currentTrip.driverFullName}}</span>
    <span class="link">|</span>
    <span class="link">Tk{{load.currentTrip.truckNumber}}</span>
    <span class="link">|</span>
    <span class="link">TI{{load.currentTrip.trailerNumber}}</span>
    <span class="current-trip">
      {{load.currentTrip.number}}
    </span>
    <span class="status" [style.background]="loadStatusColor">
        {{loadStatusText}}
    </span>
  </div>
</div>
