<div *ngFor='let load of this.loads'class="list-section">
  <div class="left">
    <span class="load-number">LD123456</span>
    <span class="customer-name">{{load.customer.name}}</span>
    <span>1234567</span>
  </div>
  <div class="right">
    <div class="distance-wrapper">
      <span>Laredo, TX</span>
      <span>San-Francisco, CA</span>
    </div>
    <div class="schedule-date-wrapper">
      <div class="start-date">
        date1
      </div>
      <div class="schedule">
        schedule
      </div>
      <div class="end-date">
        date2
      </div>
    </div>
  </div>
  <div class="bottom">
    <span class="link">{{load.currentTrip.driverFullName}}</span>
    <span class="link">|</span>
    <span class="link">Tk1021</span>
    <span class="link">|</span>
    <span class="link">TI2349</span>
    <span class="current-trip">
      TR349616
    </span>
    <span class="status">
        status
    </span>
  </div>
</div>
