@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
$element-height: 18px;
$text-margin: 5px;

.appointment-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .type-container {
    display: flex;
    align-items: center;

    span {
      line-height: $element-height;
      font-weight: bold;

      &.circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: $blue;
        opacity: $status-opacity;
        border-radius: 50%;
        margin-right: $text-margin;
        transition: all $interactive-animation-time;
      }
    }
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;

  .appointment-type {
    .type-container {
      span {
        opacity: 1;
        transition: all $interactive-animation-time;
      }
    }
  }
}
