<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FSPA</title>

	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Orbitron" />
	<link rel="stylesheet" href="assets/css/style.css">


</head>
<body>
	<div class="page-container">
		<!-- left sidebar  -->
		<div class="sidebar-menu">
			<!--  container for logo -->
			<div class="logo-container">
				<span class="logo-letter">b</span>
				<span class="logo-number">18</span>
			</div>
			<!-- end of container for logo -->

			<!--  container for Menu items -->
			<div class="menu-container">
				<ul>
					<li class="active">
						<a href="#">Menu item</a>
					</li>
					<li class="">
						<a href="#">Menu item</a>
					</li>
					<li class="">
						<a href="#">Menu item</a>
					</li>
					<li class="">
						<a href="#">Menu item</a>
					</li>
					<li class="">
						<a href="#">Menu item</a>
					</li>
				</ul>
			</div>
			<!--  end of container for Menu items -->

			<!--  container for Menu Master Button -->
			<div class="menu-master-container">
				<button>
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
			<!-- end container for Menu Master Button -->

			<!-- end container for Pane View Switch  -->
			<div class="pane-switch-container">
				<div class="pane-switch-group">
  					<button></button>
  					<button></button>
  					<button></button>
  					<button></button>
				</div>
			</div>
			<!-- end container for Pane View Switch -->
		</div>
		<!-- END OF left sidebar  -->

		<!--  main content  -->
		<div class="main-content">
			<div class="main-header">

				<!--  search container  -->
				<div class="search-container">
					<div class="search-form">
					    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					    <input type="text" placeholder="Search for anything by number, name, date or amount">
					</div>
				</div>
				<!-- end of search container  -->

				<!--  header buttons container  -->
				<div class="buttons-container">

					<button class="header-btn notifications" id="main-notify">
						 <i class="glyphicon glyphicon-bell"></i>

						 <div class="notif-tooltip">
							<div class="notif-item">
								<h4>Notification title</h4>
								<p>Text of notification goes here explaining more.</p>
								<a href="#">Action link</a>
							</div>
							<div class="notif-item">
								<h4>Notification title</h4>
								<p>Text of notification goes here explaining more.</p>
								<a href="#">Action link</a>
							</div>
							<div class="notif-item">
								<h4>Notification title</h4>
								<p>Text of notification goes here explaining more.</p>
								<a href="#">Action link</a>
							</div>
						</div>


					</button>

					

					<button href="" class="header-btn user" id="main-user">
						 <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
						 
						 <div class="notif-tooltip">
							<div class="notif-item">
								<h4>Notification title</h4>
								<p>Text of notification goes here explaining more.</p>
								<a href="#">Action link</a>
							</div>
							<div class="notif-item">
								<h4>Notification title</h4>
								<p>Text of notification goes here explaining more.</p>
								<a href="#">Action link</a>
							</div>
							<div class="notif-item">
								<h4>Notification title</h4>
								<p>Text of notification goes here explaining more.</p>
								<a href="#">Action link</a>
							</div>
						</div>
					</button>

				</div>
				<!-- end of  header buttons container  -->
			</div>
		</div>
		<!--  end of main content  -->


	</div>
	
	
	
</body>
</html>