<div class="pane-switch-container">
    <ul id="pane-switch-group">
        <li 
            #toggleFirst 
            [class.active]="isActive(switchStateEnum.MenuVisible)"
            (click)="onSwitchChange(toggleFirst, switchStateEnum.MenuVisible)">
        </li>
        <li 
            #toggleSecond 
            [class.active]="isActive(switchStateEnum.FirstPaneVisible)"
            (click)="onSwitchChange(toggleSecond, switchStateEnum.FirstPaneVisible)">
        </li>
        <li 
            #toggleThird
            [class.active]="isActive(switchStateEnum.SecondPaneVisible)"
            (click)="onSwitchChange(toggleThird, switchStateEnum.SecondPaneVisible)">
        </li>
        <li 
            #toggleFourth
            [class.active]="isActive(switchStateEnum.ThirdPaneVisible)"
            (click)="onSwitchChange(toggleFourth, switchStateEnum.ThirdPaneVisible)">
        </li>
    </ul>
</div>