<form [formGroup]="formGroup">
  <bd-form-datepicker
    class="bd-form-control"
    formControlName="date"
  >
  </bd-form-datepicker>
  <pick-up-commodity-form
    [formArray]="formGroup.controls.commodities"
    (update)="onCommodityUpdate($event)"
    (remove)="onCommodityRemove($event)"
    (add)="onCommodityAdd()"
    [items]="pickupCommodities$ | async"
    [viewMode]="viewMode">
  </pick-up-commodity-form>
  <bd-input
    class="bd-form-control"
    placeholder="Notes"
    formControlName="notes">
  </bd-input>
</form>
