<form [formGroup]="formGroup">
  <bd-input
    class="bd-form-control"
    placeholder="Date"
    formControlName="date">
  </bd-input>
  <pick-up-commodity-form
    [formArray]="formGroup.controls.commodities"
    (update)="onCommodityUpdate($event)"
    (remove)="onCommodityRemove($event)"
    (add)="onCommodityAdd()"
    [commodities]="stop.commodities"
    [viewMode]="viewMode">
  </pick-up-commodity-form>
  <bd-input
    class="bd-form-control"
    placeholder="Notes"
    formControlName="notes">
  </bd-input>
</form>
