@import '../../../assets/styles/form-control';

/deep/ .bd-form-datepicker {
  .bd-form-datepicker-container {
    .d-inline-block {
      position: absolute;
      z-index: $form-control-popup-z-index;
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}
