@import '../../../../assets/styles/variables';

.popover {
  border: 0;
  background: $white;
  box-shadow: 0 0 12px 0 $dirty-grey;
  max-width: none;

  .virtual-area {
    position: absolute;
    width: 100%;
    height: 11px;
  }

  &.top {
    .virtual-area {
      bottom: -11px;
    }

    .arrow {
      border-bottom-color: $grey;
    }
  }

  &.bottom {
    .virtual-area {
      top: -11px;
    }

    .arrow {
      border-bottom-color: $grey;
    }
  }

  &.left {
    .virtual-area {
      right: -11px;
    }

    .arrow {
      border-bottom-color: transparent;
    }
  }

  &.right {
    .virtual-area {
      left: -11px;
    }

    .arrow {
      border-bottom-color: $grey;
    }
  }
}
