<div class="stop-popover">
  <div class="section">
    <span class="blue">{{typeText}}#{{stop.id}}</span>
    <span>{{stop.date | date:'MM/dd/yy'}} | Appt: {{stop.date | date:'HH:mm'}} | {{statusText}}</span>
  </div>
  <div class="section">
    <span class="blue">{{stop.facility.name}}</span>
    <span>{{stop.address.streetAddress1}}</span>
    <span>{{stop.address.city}}, {{stop.address.state}}</span>
    <span>{{stop.address.zip}}</span>
  </div>
  <div class="section">
    <span>{{phone}}</span>
  </div>
</div>