<div class="stops-container" *ngIf="stops.length">
  <div class="stops">
    <div
      *ngFor="let stop of stops"
      class="stop-icon"
      [style.color]="getColor(stop.type)"
      [style.left.px]="stop.left"
      [style.position]="stop.left ? 'absolute' : ''"
      [class.icon-dropoff]="isDropOff(stop.type)"
      [class.icon-pickup]="!isDropOff(stop.type)"
      (click)="onStopSelect(stop)">
        <stop-popover></stop-popover>
    </div>
  </div>
  <hr [style.border-color]="lineColor">
</div>