@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/font-icons';

.stops-container {
  hr {
    margin: -8px 0 0;
    border-color: $grey;
  }
}

.stops {
  display: flex;
  justify-content: space-between;

  .stop-icon {
    background: $white;
    font-size: $default-font-size;
  }
}
