<form [formGroup]="formGroup">
  <bd-form-datepicker
    class="bd-form-control"
    formControlName="date"
  >
  </bd-form-datepicker>
  <drop-off-commodity-form
    [formArray]="formGroup.controls.commodities"
    [items]="stopAction.commodities"
    [availablePickups]="availableCommodities$ | async"
    (update)="onCommodityUpdate($event)"
    (remove)="onCommodityRemove($event)"
    (select)="onCommoditySelect($event)"
    [viewMode]="viewMode">
  </drop-off-commodity-form>
  <bd-textarea
    class="bd-form-control"
    formControlName="notes"
    [labelText]="'Notes'">
  </bd-textarea>
</form>
