<form [formGroup]="formGroup">
  <bd-form-switch class="bd-form-control" [labelText]="'Action Type'" [enableButtonSwitch]="true" formControlName="type"
    [items]="stopActionTypes">
  </bd-form-switch>
  <drop-off-commodity-form
    [formArray]="commoditiesFormArray"
    [items]="stopAction.commodities"
    [availablePickups]="availableCommodities$ | async"
    (update)="onCommodityUpdate($event)"
    (remove)="onCommodityRemove($event)"
    (select)="onCommoditySelect($event)"
    [viewMode]="viewMode">
  </drop-off-commodity-form>
  <bd-textarea
    class="bd-form-control"
    formControlName="notes"
    [labelText]="'Notes'">
  </bd-textarea>
</form>
