<div class="loaded-file-container">
  <div
    class="upload-progress"
    [style.width.%]="uploadProgress">
  </div>
  <div class="file-info-container">
    <div class="file-type-container">
        <span class="file-name">
          {{titleText}}
        </span>
        <button class="btn-delete"
                (click)="onRemoveClick($event)">
          <i class="icon-minus"></i>
        </button>
    </div>
      <bd-input
        [labelText]="'Issue date'"
        [collapsibleInput]="false"
        [value]="documentIssueDate">
      </bd-input>
  </div>
  <div class="file-preview">
  </div>
</div>
