@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/font-icons';

.loaded-file-container {
  position: relative;
  display: flex;
  background: $default-background;
  margin-bottom: 30px;
  flex-direction: row;
  transition: all $interactive-animation-time;

  .upload-progress {
    position: absolute;
    z-index: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $light-blue;
  }

  .file-info-container {
    z-index: 1;
    display: flex;
    width: 80%;
    flex-direction: column;

    .file-type-container {
      display: flex;
      height: $form-control-height;
      padding: 0 $default-margin;
      border-bottom: $border;
      align-items: center;
      justify-content: space-between;

      button {
        border: 0;
        background: none;

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .file-preview {
    width: 20%;
    background: $iron;
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }

  .error {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 0 $default-margin;
    bottom: -22px;
    align-items: center;

    i {
      color: $label-warning-color;
      margin-right: $default-margin;
    }

    span {
      color: $label-warning-color;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      content: '';
      opacity: .3;
      background-color: $label-warning-color;
    }
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
