<div class="location-container interactive-background">
  <div class="left">
      <bd-user-circle class="initials-circle" [fullName]="fullName">
      </bd-user-circle>
      <div class="full-name-icons-container">
        <div class="full-name interactive-text">
          {{fullName}}
        </div>
        <div class="icons">
          <span class="icon-mail"></span>
          <span class="icon-call"></span>
          <span class="icon-message"></span>
        </div>
      </div>
  </div>
  <div class="right">
    <div class="position">{{contact.position}}</div>
    <div class="location-name-container">
      <span class="icon-location"></span>
      <span>{{contact.location.name}}</span>
    </div>
  </div>
</div>
