@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/font-icons';

$element-size: 16px;
$text-margin: 5px;

.trip-container {
  .trip-info-container {
    button {
      padding: 0;
      border: 0;
      background: transparent;

      &:focus {
        outline: 0;
      }
    }

    span {
      line-height: $element-size;
    }

    display: flex;
    border: $border;
    margin: 10px;
    background: $white;
    border-radius: $default-border-radius;
    flex-direction: row;

    .left-panel {
      display: flex;
      width: 50%;
      padding: $default-margin;
      flex-direction: column;

      .trip-info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .trip-number {
          color: $black;
          margin-left: $element-size;
        }

        .buttons-panel {
          display: inline;
          color: $dark-grey;

          button {
            padding: 0 $text-margin;

            &:hover {
              color: $blue;
            }
          }
        }
      }

      .driver-container {
        .driver-info {
          display: flex;
          color: $dark-grey;
          align-items: center;

          .initials-circle {
            display: inline-block;
            margin-right: $text-margin;
          }

          .driver-count {
            margin-left: $text-margin;
          }

          &:not(:first-of-type) {
            display: none;
          }
        }
      }
      
      .trailer-info {
        overflow: hidden;
        color: $dark-grey;
        margin-left: $element-size;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .right-panel {
      width: 50%;
      padding: $default-margin;
      border-left: $border;

      .appointment-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .type-container {
          display: flex;
          align-items: center;

          span {
            line-height: $element-size;

            &.circle {
              display: inline-block;
              width: 12px;
              height: 12px;
              background: $blue;
              border-radius: 50%;
              margin-right: $text-margin;
            }
          }
        }
      }

      .date-range-container {
        display: flex;
        padding-left: $element-size;
        flex-direction: row;
        justify-content: space-between;

        .date {
          display: flex;
          flex-direction: column;
        }

        .last-date {
          span {
            text-align: right;
          }
        }
      }
    }
  }

  .commodities-section {
    margin: 10px;
  
    .commodities-container {
      overflow: hidden;
      border: $border;
      border-left: 4px solid $grey;
      border-bottom-right-radius: $default-border-radius;
      border-bottom-left-radius: $default-border-radius;

      &.pickup-border {
        border-left-color: $pickup-view-mode-color;
      }

      &.dropoff-border {
        border-left-color: $dropoff-view-mode-color;
      }

      .commodities-notes {
        height: $form-control-height;
        background: $white;
        line-height: $form-control-height;
        margin-left: $text-margin;
      }
    }
  }

  &.expanded {
    .trip-info-container {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .left-panel {

        .driver-container {

          .driver-info {
              display: flex;
              
           .driver-count {
              display: none;
            }
          }
        }
      }
    }
  }
}
