<div class="trip-container" [class.expanded]="isExpanded">
  <div class="trip-info-container">
    <div class="left-panel">
      <div class="info-panel">
        <div class="trip-info-header">
        <span class="trip-number">TR{{tripData.trip.number}}</span>
      </div>
      <div class="driver-container">
        <div 
          *ngFor="let driver of tripData.trip.driverTeams[0].drivers"
          class="driver-info">
          <span class="initials-circle">
                  <bd-initials-circle
                      [firstName]="driver.firstName"
                      [lastName]="driver.lastName"
                      size='small'>
                  </bd-initials-circle>
            </span>
          <span class="driver-name">{{driver.firstName}} {{driver.lastName}}</span>
          <span class="driver-count" *ngIf="tripData.trip.driverTeams[0].drivers.length > 1">
            (+{{tripData.trip.driverTeams[0].drivers.length}})
          </span>
        </div>
      </div>
      <span class="trailer-info">
          {{tripData.trip.trailer.make}} {{tripData.trip.trailer.number}}, {{tripData.trip.trailer.model}}
      </span>
      </div>
      <div class="buttons-panel">
          <button class="icon-fax"></button>
          <button class="icon-call"></button>
          <span [bd-popover]="phonePopover" [popoverOnHover]="true">
              <button class="icon-message"></button>
                  <bd-popover-content
                      #phonePopover
                      placement="auto"
                      [width]="100"
                      [horizontalOffset]="-10"
                      [closeOnClickOutside]="closeOnClickOutside">
                           <phone-popover [phoneNumber]="phoneNumber"></phone-popover>
                   </bd-popover-content>
            </span>
        </div>
    </div>
    <div class="right-panel">
      <div class="appointment-type">
        <div class="type-container">
          <span class="circle"></span>
          <span class="type">{{appointmentType}}</span>
        </div>
      </div>
      <div class="date-range-container">
        <div class="date first-date">
          <span class="date-value">{{tripData.appointment.from | date:'MM/dd/yy'}}</span>
          <span class="time-value">{{tripData.appointment.from | date:'HH:mm'}}</span>
        </div>
        <div class="date last-date">
          <span class="date-value">{{tripData.appointment.to | date:'MM/dd/yy'}}</span>
          <span class="time-value">{{tripData.appointment.to | date:'HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="commodities-section" *ngIf="isExpanded">
    <div 
        *ngIf="hasDropoffCommodities"
        class="commodities-container dropoff-border">
        <commodities-header 
          [titles]="commodityHeaders">
        </commodities-header>
          <commodity-details
              class='commodity-item' 
              *ngFor="let data of dropoffCommodities; let i = index;" 
              [commodity]="data.commodity" 
              [index]="i">
          </commodity-details>
          <div class="commodities-notes" *ngIf="tripData.notes.length > 1">
            {{tripData.notes}}
          </div>
    </div>
    <div 
      *ngIf="hasPickupCommodities"
      class="commodities-container pickup-border">
      <commodities-header 
        *ngIf="!hasDropoffCommodities"
        [titles]="commodityHeaders">
      </commodities-header>
        <commodity-details
          class='commodity-item'
          *ngFor="let data of pickupCommodities; let i = index;" 
          [commodity]="data.commodity"
          [index]="i">
        </commodity-details>
        <div class="commodities-notes" *ngIf="tripData.notes.length > 1">
            {{tripData.notes}}
        </div>
    </div>

  </div>

</div>
