<div class='container-fluid'>

  <!-- Custom item template -->
  <template #customItemTemplate let-model="item" let-index="index">
    <h5>This is: {{model | json}} Index: {{ index }}</h5>
  </template>
  <h4>Custom item template</h4>
  <pre class="card card-block card-header">Model: {{customSelected | json}}</pre>

    <bd-typeahead
           [source]="dataSource"
           [(ngModel)]="query"
           [itemTemplate]="customItemTemplate"
           [optionField]="'name'"
           (onSelect)="typeaheadOnSelect($event)">
      </bd-typeahead>
</div>
