<div class="notifications-container">
  <div class="notifications-header">
    <span class="title">
      {{headerTitleText}}
    </span>
    <div *ngIf="newItemsCount > 0"
        class="new-items-info" >
        <span class="new-items-count">
          {{newItemsCount}} new items -
        </span>
        <button class="btn-refresh" (click)="onRefreshClick($event)">
          Refresh
        </button>
    </div>
  </div>
  <div class="notifications-body">
    some content
  </div>
  <div class="notifications-footer">
    <button class="btn-show-all">
      Show All
    </button>
  </div>
</div>
