@import '../../../../assets/styles/variables';

.notifications-container {
  padding: 0 15px;

  .notifications-header {
    .new-items-info {
      .new-items-count {
        color: $dark-grey;
      }
    }
  }

  .notifications-body {
    position: relative;
  }

  .notifications-footer {
    button {
      &.btn-show-all {
        background: transparent;
        color: $blue;
      }
    }
  }
}
