<div class="notifications-container">

  <div class="notifications-header">
    <div class="header-container">
      <span class="title">
        Latest things
      </span>
      <span class="new-items-info">
        <span class="new-items-count">
          One New Thing
        </span>
        <button class="btn-refresh">
          Refresh
        </button>
      </span>
    </div>
  </div>

  <div class="notifications-body">

  </div>

  <div class="notifications-footer">
    <button class="btn-show-all">
      Show All
    </button>
  </div>

</div>
