.map {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.google-map {
	width: 100%;
	height: 100%;

	* {
		cursor: default;
	}
}

.google-map-info {
	position: absolute;
	color: red;
	left: calc(100% / 2 + 10px);
	line-height: 1;
	font-weight: bold;
	white-space: nowrap;
}

.gmnoprint, .gmnoscreen {
	display: none;
	visibility: hidden;
}

img[src*="google4"],
img[src*="google_white"] {
		display: none;
}
