@import '../../../../assets/styles/variables';

.map {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.google-map {
	width: 100%;
	height: 100%;

	* {
		cursor: default;
	}
}

.google-map-info {
	position: absolute;
	width: 100%;
	color: $red;
	text-align: center;
	font-weight: bold;
}

.gmnoprint,
.gmnoscreen {
	display: none;
	visibility: hidden;
}

img {
	&[src*='google4'],
	&[src*='google_white5'] {
		display: none;
	}
}
