<form [formGroup]="newPasswordForm" novalidate (ngSubmit)="onSubmit(newPasswordForm)" class="auth-form">
  <bd-auth-general-form-error *ngIf="isRequestFailed && newPasswordForm.pristine"
    [headerText]="'Unable to registering.'">
    {{ errorDescription }}
  </bd-auth-general-form-error>
  <bd-validator [component]="newPasswordForm.controls.password"
    [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control"
      [type]="'password'"
      [labelText]="'New Password'"
      formControlName="password">
    </bd-input>
  </bd-validator>
  <bd-complexity-password-messenger [component]="newPasswordForm.controls.password"></bd-complexity-password-messenger>
  <bd-validator [component]="newPasswordForm.controls.retryPassword"
    [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control"
      [type]="'password'"
      [labelText]="'Confirm Password'"
      formControlName="retryPassword">
    </bd-input>
  </bd-validator>
  <bd-validator [component]="newPasswordForm"
    *ngIf="newPasswordForm.controls.password.touched && newPasswordForm.controls.retryPassword.touched"
    [errorDefs]="{passwordsNotMatch: 'Passwords do not match'}">
  </bd-validator>
  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button"
    [(disabled)]="!newPasswordForm.valid"
    [text]="'Submit'">
  </bd-button>
  <bd-spinner *ngIf="isLoading"></bd-spinner>
</form>
