@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/font-icons';
$element-height: 18px;

.location-container {
  @include driver-view-form-container;

  .left {
    .name {
      font-weight: bold;
    }

    .street-address-container {
      @include multi-line-ellipsis($line-height: 18px, $line-count: 2);
      color: $dark-grey;
    }
  }
}
