@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/font-icons';

$element-height: 18px;

.location-container {
  @include driver-view-form-container;

  .left {
    .name {
      font-weight: bold;
    }

    .street-address-container {
      color: $dark-grey;
    }

    .notes {
      word-wrap: break-word;
    }
  }
}
