<default-component-action-panel (edit)="onEdit()" (remove)="onRemove()">
  <div class="location-container interactive-background">
    <div class="left">
      <div class="name interactive-text">
        {{location.name}}
      </div>

      <div class="street-address-container">
        <span class="icon-location"></span>
        <span>{{streetAddress}}</span>
      </div>
      <div class="notes interactive-text">Notes</div>
    </div>
    <div class="right">
      <bd-contact-info [contactCollection]="location.contactInfo"></bd-contact-info>
    </div>
  </div>
</default-component-action-panel>
