<multi-pane-layout>
  <first-pane>
    <div class="data-panel">
      <div class="container">
        <bd-perfect-scrollbar class="container">
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
          <span>test</span>
        </bd-perfect-scrollbar>
      </div>
        <br>
        <load-stop-cards [selected]="selected" [loads]="items" (select)='onSelect($event)'></load-stop-cards>
    </div>
  </first-pane>

  <second-pane>
  </second-pane>

  <third-pane>
    <router-outlet></router-outlet>
  </third-pane>
  </multi-pane-layout>
