<multi-pane-layout>
  <first-pane>
    <bd-infinite-scroll (scrolledDown)="onScrolledDown()">
      <div class="data-panel">
        <div sticky class="bd-filter-container">
          <filter-container (stateChange)="onStateChange($event)">
            <autocomplete-filter
              [itemTemplate]="companyItemTemplate"
              [(loadNextPage)]="loadNextPage"
              defaultLabel="Company"
              valueField="name"
              [autocompleteSearchSource]="autocompleteSearchSource">
            </autocomplete-filter>
            <autocomplete-filter defaultLabel="Drivers" valueField="name" [autocompleteSearchSource]="autocompleteSearchSource"></autocomplete-filter>
          </filter-container>
        </div>
        <div [hidden]="isFilterActive">
          <bd-button class="add-button" [color]="'primary'" [text]="'Add'" (click)="onAdd()">
          </bd-button>
          <load-stop-cards [selected]="selected" [loads]="items" (select)='onSelect($event)'></load-stop-cards>
        </div>
      </div>
    </bd-infinite-scroll>
  </first-pane>

  <second-pane>
  </second-pane>

  <third-pane>
    <router-outlet></router-outlet>
  </third-pane>
  </multi-pane-layout>

  <template #companyItemTemplate let-item="item">
    <div class="filter-item-content">
      <div class="left">
    <span class="item-name">{{item.name}}</span>
  </div>
  <div class="right">
    MC#: {{item.mc}}
  </div>
</div>
  </template>
