<multi-pane-layout>
  <first-pane>
    <div class="data-panel">
      <notification-card [notification]="{
        name: 'Create New Event',
        type: 1,
        message: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        date: 'date 1'
      }"></notification-card>
      <div class="btn-group">
        <button type="button" (click)="onTabClick(1)" class="btn btn-primary">List</button>
        <button type="button" (click)="onTabClick(2)" class="btn btn-primary">Datatable</button>
      </div>
      <div [ngSwitch]="selectedTab">
        <load-stop-cards [selected]="selected" [loads]="items" (select)='onSelect($event)' *ngSwitchCase="1"></load-stop-cards>
        <div *ngSwitchCase="2">
          <bd-button class="add-button" [color]="'primary'" [text]="'Add'" (click)="onAdd()">
          </bd-button>
          <ngx-datatable
            class='material striped'
            [selected]="selected"
            [rows]='items'
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [selectionType]="'single'"
            (select)='onSelect($event)'
            [limit]="10">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </first-pane>

  <second-pane>
  </second-pane>

  <third-pane>
    <router-outlet></router-outlet>
  </third-pane>
  </multi-pane-layout>
