@import '../../assets/styles/variables';

.data-panel {
  height: 100%;
  overflow-y: auto;

  .add-button {
    display: block;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 17px;
  }
}

.filter-item {
  padding-left: 15px;
}

.filter-item-container {
  display: flex;
  height: $form-control-height;
  padding: 0 17px;
  border-bottom: $border;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .right {
    color: $grey;
  }
}
