<div class="pane-switch-container">
    <ul id="pane-switch-group">
        <li 
            #toggleFirst 
            [class.active]="isActive(switchStateEnum.MenuVisible)"
            (click)="onSwitchChange(toggleFirst, switchStateEnum.MenuVisible)">
        </li>
        <li 
            #toggleSecond 
            [class.active]="isActive(switchStateEnum.FirstSlotVisible)"
            (click)="onSwitchChange(toggleSecond, switchStateEnum.FirstSlotVisible)">
        </li>
        <li 
            #toggleThird
            [class.active]="isActive(switchStateEnum.SecondSlotVisible)"
            (click)="onSwitchChange(toggleThird, switchStateEnum.SecondSlotVisible)">
        </li>
        <li 
            #toggleFourt
            [class.active]="isActive(switchStateEnum.ThirdSlotVisible)"
            (click)="onSwitchChange(toggleFourt, switchStateEnum.ThirdSlotVisible)">
        </li>
    </ul>
</div>