$white: #fff;
$background-color: #ccc;


.pane-switch-container {
	text-align: center;
	margin-top: 80px;

	ul {
		display: inline-block;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline;
		height: 20px;
		border: 1px solid $white;
		background: none;
		min-width: 15px;
		margin-left: -1px;
		float: left;

		&:first-child {
			border-radius: 5px 0 0 5px;
		}

		&:last-child {
			border-radius: 0 5px 6px 0;
		}

		&.active {
			background: $background-color;
		}
	}
}
