<div class="pane-switch-container">
    <ul id="pane-switch-group">
        <li 
            #toggleFirst 
            [class.active]="isActive(switchStateEnum.MENU_SLIDED)"
            (click)="onSwitchChange(toggleFirst, switchStateEnum.MENU_SLIDED)">
        </li>
        <li 
            #toggleSecond 
            [class.active]="isActive(switchStateEnum.FIRST_SLOT_VISIBLE)"
            (click)="onSwitchChange(toggleSecond, switchStateEnum.FIRST_SLOT_VISIBLE)">
        </li>
        <li 
            #toggleThird
            [class.active]="isActive(switchStateEnum.SECOND_SLOT_VISIBLE)"
            (click)="onSwitchChange(toggleThird, switchStateEnum.SECOND_SLOT_VISIBLE)">
        </li>
        <li 
            #toggleFourt
            [class.active]="isActive(switchStateEnum.THIRD_SLOT_VISIBLE)"
            (click)="onSwitchChange(toggleFourt, switchStateEnum.THIRD_SLOT_VISIBLE)">
        </li>
    </ul>
</div>