<form [formGroup]="formGroup">
  <bd-input
    class="bd-form-control"
    placeholder="Date"
    formControlName="date">
  </bd-input>
  <drop-off-commodity-form  [formArray]="formGroup.controls.commodities" [commodities]="stop.commodities" [availablePickups]="availablePickups" (change)="onCommodityChange($event)" (select)="onCommoditySelect($event)" [viewMode]="viewMode"></drop-off-commodity-form>
  <bd-input
    class="bd-form-control"
    placeholder="Notes"
    formControlName="notes">
  </bd-input>
</form>
