<form [formGroup]="formGroup">
  <bd-form-datepicker
    class="bd-form-control"
    formControlName="date"
  >
  </bd-form-datepicker>
  <drop-off-commodity-form
    [formArray]="formGroup.controls.commodities"
    [items]="dropoffCommodities$ | async "
    [availablePickups]="availableCommodities$ | async"
    (update)="onCommodityUpdate($event)"
    (remove)="onCommodityRemove($event)"
    (select)="onCommoditySelect($event)"
    [viewMode]="viewMode">
  </drop-off-commodity-form>
  <bd-input
    class="bd-form-control"
    placeholder="Notes"
    formControlName="notes">
  </bd-input>
</form>
