@import '../../../../assets/styles/variables';

:host {
  background: $white;

  &.active,
  &:hover {
    background: $light-blue;
  }

  &.active {
    .customer-card-section {
      border-bottom-color: $blue;
    }
  }
}

.customer-card-section {
  position: relative;
  height: 100px;
  padding: $default-margin;
  background: inherit;
  font-size: $tiny-font-size;
  cursor: pointer;
  border-bottom: $border;
  justify-content: space-between;

  .bottom,
  .top {
    display: flex;
    justify-content: space-between;

    div {
      flex: 1;
    }
  }

  .top {
    .left {
      span {
        display: flex;
        width: 34px;
        height: 34px;
        background: $black;
        color: $white;
        margin-top: -6px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }
    }

    .middle {
      display: flex;
      overflow: hidden;
      align-items: flex-end;
      font-weight: bold;
      padding-left: 17px;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .loads-container {
        .load {
          display: flex;
          margin-left: 5px;

          .load-circle {
            width: 9px;
            height: 9px;
            background: $black;
            margin-top: 3px;
            border-radius: 50%;
          }

          .load-name {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .bottom {
    .left {
      overflow: hidden;

      .customer-name {
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .middle {
      overflow: hidden;
      padding-left: 17px;

      .position {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .right {
      span {
        display: flex;
        width: 79px;
        height: 20px;
        background: $black;
        color: $white;
        float: right;
        align-items: center;
        border-radius: $default-border-radius;
        justify-content: center;
        margin-top: $default-margin;
      }
    }
  }
}
