<div class="customer-card-section" (click)="onClick()">
  <div class="top">
    <div class="left">
      <span>{{this.croppedCustomerName}}</span>
    </div>
    <div class="middle">
      <span>{{customer.contacts[0].firstName}} {{customer.contacts[0].lastName}}</span>
    </div>
    <div class="right">
      <div class="loads-container">
        <div *ngFor="let customer of customer.loads" class="load">
          <span [style.background]="loadStatusColor(customer.status)" class="load-circle"></span>
          <span class="load-name">LD{{customer.carrierLoadNumber}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <div class="customer-name">{{customer.name}}</div>
      <div>MC# {{customer.mc}}</div>
    </div>
    <div class="middle">
      <div class="position">{{customer.contacts[0].position}}</div>
      <div>{{customer.addresses[0].phone}}</div>
    </div>
    <div class="right">
      <div class="first-load-container">
        <span [style.background]="customerStatusColor" class="status">{{customerStatusText}}</span>
      </div>
    </div>
  </div>
</div>
