<div
class="customer-card-section"
(mouseover)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="top">
    <div class="left">
      <span class="crooped-customer-name">{{this.croppedCustomerName}}</span>
    </div>
    <div class="middle">
      <span class="customer-contacts-full-name">{{customer.contacts[0].firstName}} {{customer.contacts[0].lastName}}</span>
    </div>
    <div class="right">
      <div class="loads-container">
        <div *ngFor="let load of customer.loads" class="load">
          <span [style.background]="loadStatusColor(load.status)" class="load-circle"></span>
          <span class="load-name">LD{{load.systemLoadNumber}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <div class="customer-name">{{customer.name}}</div>
      <div class="customer-mc">MC# {{customer.mc}}</div>
    </div>
    <div class="middle">
      <div class="position">{{customer.contacts[0].position}}</div>
      <div class="customer-address-phone">{{customer.addresses[0].phone}}</div>
    </div>
    <div class="right">
      <span [hidden]="!statusText" [style.color]="customerStatusColor" class="status-text">{{customerStatusText}}</span>
        <span
        [style.background]="customerStatusColor"
        class="status">
      </span>
    </div>
  </div>
</div>
