<div class="customer-card-section">
  <div class="top">
    <div class="left">
      <span>CRH</span>
    </div>
    <div class="middle">
      <span>Benjamin von Battenvolken</span>
    </div>
    <div class="right">
      <div class="load-container">
        <span class="load-circle"></span>
        <span class="load-name">LD349616</span>
      </div>
      <div class="load-container">
        <span class="load-circle"></span>
        <span class="load-name">LD349616</span>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <div class="customer-name">CH Robinson</div>
      <div>MC # 23243564</div>
    </div>
    <div class="middle">
      <div class="position">Customer succsess</div>
      <div>phone +2732618381</div>
    </div>
    <div class="right">
      <div class="first-load-container">
        <span class="status">status</span>
      </div>
    </div>
  </div>
</div>
