<form [formGroup]="passwordRecoveryForm" novalidate (ngSubmit)="onSubmit(passwordRecoveryForm)" class="auth-form">
  <bd-auth-general-form-error *ngIf="isConfirmationFailed && passwordRecoveryForm.pristine"
    [headerText]="'Incorrect number.'">
    {{ errorDescription }}
  </bd-auth-general-form-error>
  <bd-auth-form-message-helper>
    A 5-digit Activation Code will be texted to your phone within a few minutes.<br/>
    Code example: 35746
  </bd-auth-form-message-helper>
  <bd-validator [component]="passwordRecoveryForm.controls.verificationToken" [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control verification-token"
      [labelText]="'Confirmation Code'"
      formControlName="verificationToken">
    </bd-input>
  </bd-validator>
  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button confirm-button"
    [(disabled)]="!passwordRecoveryForm.valid"
    [text]="'Confirm'">
  </bd-button>
  <bd-spinner *ngIf="isLoading"></bd-spinner>
</form>
