<div class='bd-typeahead-container'>
  <template #footerTemplate>
    Footer
  </template>
  <template #loaderTemplate>
    <div class='loader'>
      Loading indicator
    </div>
  </template>
  <bd-input [(ngModel)]="value"
      [typeahead]="source"
      [labelText]="labelText"
      [typeaheadItemTemplate]="itemTemplate"
      [typeaheadFooterTemplate]="footerTemplate"
      [typeaheadLoaderTemplate]="loaderTemplate"
      [typeaheadOptionField]="optionField"
      (typeaheadOnSelect)="typeaheadOnSelect($event)"
      (typeaheadLoading)="changeTypeaheadLoading($event)"
      (typeaheadNoResults)="changeTypeaheadNoResults($event)"
      (typeaheadFooterClick)="onFooterClick()"
      [typeaheadOptionsLimit]="'5'">
    </bd-input>
</div>
