<div class='bd-typeahead-container'>
    <template #footerTemplate>
      Footer
    </template>
    <template #loaderTemplate>
      Loading
    </template>
  <bd-input [(ngModel)]="value"
      [typeahead]="source"
      [labelText]="labelText"
      [typeaheadItemTemplate]="itemTemplate"
      [typeaheadFooterTemplate]="footerTemplate"
      [typeaheadLoaderTemplate]="loaderTemplate"
      [typeaheadOptionField]="optionField"
      [typeaheadForceShowPopup]="forceShowPopup"
      (typeaheadOnSelect)="typeaheadOnSelect($event)"
      (typeaheadLoading)="changeTypeaheadLoading($event)"
      (typeaheadNoResults)="changeTypeaheadNoResults($event)"
      [typeaheadOptionsLimit]="'5'"
  ></bd-input>
</div>
