@import '../../../../assets/styles/variables';

$checkbox-size: 14px;

.checkbox-container {
  position: relative;
  overflow: hidden;
  width: $checkbox-size;
  height: $checkbox-size;
  border: $border;
  background: $white;
  border-radius: $default-border-radius;

  .arrow {
    display: none;
  }

  &.checked {
    border: 0;
    background: $blue;

    .arrow {
      position: absolute;
      right: 0;
      display: block;
      width: 30px;
      height: 30px;
      border: 2px solid $white;
      transform: rotate(45deg);
      bottom: 8px;
      left: -11px;
    }
  }
}
