@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/font-icons';
@import '../../../../../assets/styles/mixins';

.message-card-container {
  background: $light-blue;

  .title-container {
    display: none;
  }

  .message-container {
    display: flex;
    padding: $popover-margin;
    font-size: $tiny-font-size;
    border-bottom: $border;

    .circle-container {
      width: auto;
      max-width: 15%;
      margin-right: $popover-margin;
    }

    .content-container {
      width: 85%;
      flex-grow: 1;

      .message-sender {
        font-weight: bold;
      }

      .message-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 12px;
      }

      .message-date {
        color: $dark-grey;
        margin-top: 12px;
      }
    }
  }

  &.had-seen-notification {
    background: $white;
  }

  &.closable {
    background: $shark;
    opacity: .9;
    border-radius: 3px;

    .title-container {
      display: flex;
      padding: $popover-margin $popover-margin 0;
      justify-content: space-between;

      .title-text {
        color: $horizon;
      }

      button {
        border: 0;
        background: 0;
        color: $grey;

        &:hover {
          color: $white;
        }
      }
    }

    .message-container {
      border-bottom: 0;

      .content-container {
        margin-top: -4px;

        .message-date {
          display: none;
        }

        .message-sender {
          color: $horizon;
        }

        .message-text {
          @include multi-line-ellipsis($line-height: 18px, $line-count: 2);
          background: $shark;
          color: $white;
          white-space: normal;
          margin-top: 0;

          &:after {
            background: $shark;
          }
        }
      }
    }

    &:hover {
      background: $shark;

      .message-container {
        .content-container {
          .message-text {
            background: $shark;

            &:after {
              background: $shark;
            }
          }
        }
      }
    }

  }

  &:hover {
    background: $light-blue;

    .message-container {
      .content-container {
        .message-text {
          background: $light-blue;

          &:after {
            background: $light-blue;
          }
        }
      }
    }
  }
}
