<div class="header">
  <div
    *ngFor="let title of titles; let i=index"
    [class.active]="_focusedCol == i">
    <p [innerHTML]="title.name"></p>
  </div>
</div>
<commodity
  class='commodity-item'
  *ngFor="let data of renderFormData; let i = index; trackBy:commodityTrackBy"
  [isRemoveButtonHidden]="renderFormData.length === 1"
  [viewMode]="viewMode"
  [commodity]="data.item"
  [group]="data.group"
  (blur)="onBlur($event)"
  (focus)="onFocus($event)"
  (change)="onChange($event)"
  (remove)="removeItem(data)">
</commodity>
