<form [formGroup]="formGroup" class="commodity-form">
  <div class="header">
    <div 
      *ngFor="let title of _titles; let i=index"    
      [class.active]="_focusedCol == i">
      <p [innerHTML]="title.name"></p>
    </div>
  </div>
  <commodity
    *ngFor="let commodity of commoditiesFormControl.controls; let i = index"
    [isRemoveButtonHidden]="commoditiesFormControl.controls.length === 1"
    [viewMode]="viewMode"
    [group]="commoditiesFormControl.controls[i]"
    [fields]="_fields"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (remove)="onRemove(i)">
  </commodity>
</form>