<div class='bd-typeahead-container'>
  <template #footerTemplate>
    <bd-form-button
      buttonText="{{footerButtonText}}">
    </bd-form-button>
  </template>
  <template #loaderTemplate>
    <bd-spinner></bd-spinner>
  </template>
  <bd-input [value]="value"
      (valueChange)="changeValue($event)"
      #input
      [disabled]="disabled"
      (focusChange)="onFocusChanged($event)"
      [typeahead]="source"
      [collapsibleInput]="true"
      [labelText]="labelText"
      placeholder="{{placeholder}}"
      [typeaheadItemTemplate]="itemTemplate"
      [typeaheadFooterTemplate]="footerButtonText == '' ? null : footerTemplate"
      [typeaheadLoaderTemplate]="loaderTemplate"
      [typeaheadOptionField]="optionField"
      (typeaheadOnSelect)="typeaheadOnSelect($event)"
      (typeaheadLoading)="changeTypeaheadLoading($event)"
      (typeaheadNoResults)="changeTypeaheadNoResults($event)"
      (typeaheadFooterClick)="onFooterClick()"
      [typeaheadOptionsLimit]="'5'">
      <i bd-suffix *ngIf="!removeButtonHidden" (click)="remove($event)" class="icon-minus" aria-hidden="true"></i>
  </bd-input>
</div>
