@import '../../../../assets/styles/variables';

.bd-typeahead-container {
	position: relative;

	.dropdown-menu {
		width: 100%;
		padding: 0;
		margin-top: 0;

		li {
			height: 49px;
			border-bottom: $border;

			&:last-child {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&.active {
				a {
					background-color: $light-blue;
					border-bottom: $border;
					outline: 0;
				}
			}

			a {
				height: $form-control-height;
				padding: 0;
			}
		}
	}
}
