html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

@font-face {
	font-family: 'SFUIText-Bold';
	src: ('../assets/fonts/sf-bold.woff');
}
@font-face {
	font-family: 'SFUIText-Medium';
	src: ('../assets/fonts/sf-medium.woff');
}
@font-face {
	font-family: 'SFUIText-Regular';
	src: ('../assets/fonts/sf-regular.woff');
}

body {
	font-size: 14px;
	font-family: 'SFUIText-Medium';
	background: #F5F9FC;
	overflow: hidden;
}

app {
    display: flex;
}

/*page layout start*/
.content,
navigation-bar {
    transition: margin 0.5s;
    position: relative;
    display: inline-block;
}

.content.slide {
    z-index: 1;
    left: -20px;
}

navigation-bar {
    width: 140px;
    height: 100vh;
}

navigation-bar.slide {
    margin-left: -140px;
    padding-right: 20px;
    height: 100vh;
    width: 160px;
    z-index: 2;
}

navigation-bar.slide:hover {
	margin-left: 0px;
}

/*page layout end*/