<div [ngSwitch]="notification.type">
    <message-card
      *ngSwitchCase="notificationTypeEnum.MESSAGE"
      [isClosable]="isClosable"
      [notification]="notification"
      (close)="onCloseClick($event)">
    </message-card>

    <task-card
      *ngSwitchCase="notificationTypeEnum.TASK"
      [isClosable]="isClosable"
      [notification]="notification"
      (close)="onCloseClick($event)">
    </task-card>

    <notification-card
      *ngSwitchCase="notificationTypeEnum.NOTIFICATION"
      [isClosable]="isClosable"
      [notification]="notification"
      (close)="onCloseClick($event)">
    </notification-card>
</div>
