<div [ngSwitch]="notification.type">
    <message-card
      *ngSwitchCase="notificationTypeEnum.Message"
      [isClosable]="isClosable"
      [notification]="notification"
      (close)="onCloseClick($event)">
    </message-card>

    <task-card
      *ngSwitchCase="notificationTypeEnum.Task"
      [isClosable]="isClosable"
      [notification]="notification"
      (close)="onCloseClick($event)">
    </task-card>

    <notification-card
      *ngSwitchCase="notificationTypeEnum.Notification"
      [isClosable]="isClosable"
      [notification]="notification"
      (close)="onCloseClick($event)">
    </notification-card>
</div>