@import '../../../../assets/styles/variables';

company-card {
  background: transparent;
  color: $dark-grey;

  &.active {
    color: $black;
  }

  &.active,
  &:hover {
    background: $light-blue;

    .status-text {
      background: $light-blue;
    }
  }
}
