@import '../../../../assets/styles/variables';

// :host {
//
//
//   &:hover {
//     .card {
//       background: $white;
//     }
//   }
// }

company-card {
  background: transparent;
  color: $dark-grey;

  &.active {
    color: $black;
  }

  &.active,
  &:hover {
    background: $light-blue;

    .status-text {
      background: $light-blue;
    }
  }
}
