@import '../../../../assets/styles/variables';

:host {
  display: block;
  margin-top: 20px;
}

:host-context(.interactive-panel:hover) {
  background: $white;
  transition: all $interactive-animation-time;

  &.card {
    color: $black;
    transition: all $interactive-animation-time;

    .card-section {
      .status {
        opacity: 1;
      }
    }

    &:hover {
      background: $light-blue;
    }
  }

  &.active {
    &.card {
      color: $silver;
      transition: all $interactive-animation-time;

      .card-section {
        .status {
          opacity: 1;
        }
      }

      &:hover {
        background: $mako;
      }
    }
  }
}

:host-context(.active) {
  &.card {
    background: $mako;
    color: $silver;
    transition: all $interactive-animation-time;

    .card-section {
      .status {
        opacity: 1;
      }
    }
  }
}
