@import '../../../../assets/styles/variables';

:host {
  display: block;
  margin-top: 20px;
}

load-stop-card {
  background: transparent;
  color: $dark-grey;

  &.active {
    color: $black;
  }

  &.active,
  &:hover {
    background: $light-blue;

    .status-text {
      background: $light-blue;
    }
  }
}
