<div dropdown class="bd-dropdown-container" name="bd-dropdown-container">
  <div dropdownToggle
    id="bd-dropdown"
    class="bd-dropdown-wrapper"
    name="bd-dropdown-wrapper">
      <div class="bd-dropdown-label">
        <label>{{labelText}}</label>
      </div>
      <div class="bd-dropdown-value" name="bd-dropdown-value">
        <span
          [class.item-selected]="isSelectedValue">
            {{currentDisplayText}}
        </span>
      </div>
      <div class="bd-dropdown-icon">
        <i class="fa fa-sort"></i>
      </div>
  </div>
  <div
    dropdownMenu
    class="bd-dropdown-list"
    aria-labelledby="bd-dropdown">
    <ul>
      <li
        *ngIf="dropdownHeaderTemplate"
        class="dropdown-header"
        (click)="_handleDropdownHeaderClick($event)">
          <template
            [ngTemplateOutlet]="dropdownHeaderTemplate">
          </template>
      </li>
      <li *ngFor="let item of _items"
          (click)="_handleDropdownItemClick($event, item)">
          <div *ngIf="dropdownItemTemplate">
            <template
              [ngTemplateOutlet]="dropdownItemTemplate"
              [ngOutletContext]="{item: item}">
            </template>
          </div>
          <div *ngIf="!dropdownItemTemplate">
            {{displayText(item)}}
          </div>
      </li>
     <li
       *ngIf="dropdownFooterTemplate"
       dropdownFooter="dropdownFooter"
       class="dropdown-footer"
       (click)="_handleFooterClick($event)">
         <template [ngTemplateOutlet]="dropdownFooterTemplate">
         </template>
     </li>
    </ul>
  </div>
</div>
