<div dropdown [autoClose]="autoClose" class="bd-dropdown-container" [class.bd-disabled]="disabled" name="bd-dropdown-container" (onToggle)="onToggle($event)" [class.bd-focused]="_isOpen">
  <div *ngIf="!toogleTemplate" dropdownToggle [isDisabled]="disabled"
    id="bd-dropdown"
    class="bd-dropdown-wrapper interactive-background"
    name="bd-dropdown-wrapper">
      <div *ngIf="labelText" class="bd-dropdown-label">
        <label>{{labelText}}</label>
      </div>
      <div class="bd-dropdown-value" name="bd-dropdown-value">
        <span
          [class.item-selected]="isSelectedValue">
            {{currentDisplayText}}
        </span>
      </div>
      <div class="bd-dropdown-icon">
        <i [class.icon-caret-down]="!_isOpen"
           [class.icon-caret-up]="_isOpen"></i>
      </div>
  </div>
  <div dropdownToggle *ngIf="toogleTemplate">
    <template
      [ngTemplateOutlet]="toogleTemplate">
    </template>
  </div>
  <div
    dropdownMenu
    class="bd-dropdown-list"
    aria-labelledby="bd-dropdown">
    <ul>
      <li
        *ngIf="dropdownHeaderTemplate"
        class="dropdown-header interactive-text"
        (click)="_handleDropdownHeaderClick($event)">
          <template
            [ngTemplateOutlet]="dropdownHeaderTemplate">
          </template>
      </li>
      <li
        *ngIf="!dropdownHeaderTemplate && clearLabel"
        class="dropdown-header"
        (click)="_handleDropdownHeaderClick($event)">
          {{clearLabel}}
      </li>
      <li *ngFor="let item of items" class="interactive-text" [ngClass]="{'template-item': dropdownItemTemplate}"
          (click)="_handleDropdownItemClick($event, item)">
        <template *ngIf="dropdownItemTemplate"
          [ngTemplateOutlet]="dropdownItemTemplate"
          [ngOutletContext]="{item: item}">
        </template>
        <div *ngIf="!dropdownItemTemplate">
          {{displayText(item)}}
        </div>
      </li>
     <li
       *ngIf="dropdownFooterTemplate"
       dropdownFooter="dropdownFooter"
       class="dropdown-footer interactive-text"
       (click)="_handleFooterClick($event)">
         <template [ngTemplateOutlet]="dropdownFooterTemplate">
         </template>
     </li>
    </ul>
  </div>
</div>
