@import '../../../../assets/styles/variables';

.card-section {
  .left {
    .company-name {
      font-weight: bold;
    }
  }

  .middle {
    .company-contact-full-name {
      overflow: hidden;
      font-weight: bold;
    }
  }

  .right {
    .load {
      display: flex;

      .load-circle {
        width: 10px;
        height: 10px;
        background: $black;
        margin-top: 3px;
        border-radius: $circle-radius;
      }

      .load-name {
        margin-left: 5px;
      }
    }
  }
}

:host-context(.parent-hover) {
  background: $white;

  &.company-card {
    color: $black;
    transition: all .5s;

    .card-section {

      .status {
        opacity: 1;
      }
    }
  }
}

:host-context(.active) {
  &.company-card {
    background: $mako;
    color: $silver;

    .card-section {
      border-radius: $default-border-radius;

      .status {
        opacity: 1;
      }
    }
  }
}
