@import '../../../../assets/styles/variables';

.card-section {

  .left {

    .cropped-company-name {
      display: flex;
      width: 28px;
      height: 28px;
      margin: 4px 0;
      background: $black;
      color: $white;
      font-size: $mini-font-size;
      border-radius: $circle-radius;
      justify-content: center;
      align-items: center;
    }

    .company-name {
      font-weight: bold;
    }
  }

  .middle {

    .company-contact-full-name {
      overflow: hidden;
      font-weight: bold;
    }
  }

  .right {

    .load {
      display: flex;

      .load-circle {
        width: 10px;
        height: 10px;
        background: $black;
        margin-top: 3px;
        border-radius: $circle-radius;
      }

      .load-name {
        margin-left: 5px;
      }
    }
  }
}
