<div
class="card-section"
(mouseenter)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="left">
    <span class="cropped-company-name">{{this.croppedCompanyName}}</span>
    <div class="company-name ellipsis">
      {{item.name}}
    </div>
    <div class="company-mc">MC# {{item.mc}}</div>
  </div>
  <div class="middle" *ngIf="item.contacts">
    <span class="company-contact-full-name">{{item.contacts[0].firstName}} {{item.contacts[0].lastName}}</span>
    <span class="position ellipsis">{{item.contacts[0].position}}</span>
    <div class="company-address-phone ellipsis">{{phone}}</div>
  </div>
  <div class="right">
    <div *ngFor="let load of item.loads" class="load">
      <span [style.background]="loadStatusColor(load.status)" class="load-circle"></span>
      <span class="load-name ellipsis">LD{{load.systemLoadNo}}</span>
    </div>
  </div>
  <span *ngIf="statusText" [style.color]="itemStatusColor()" class="status-text">{{itemStatusText()}}</span>
  <span
    [style.background]="itemStatusColor()"
    class="status">
  </span>
</div>
