<div
class="company-card-section"
(mouseenter)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="left">
    <span class="cropped-company-name">{{this.croppedCompanyName}}</span>
    <div class="company-name ellipsis">
      {{company.name}}
    </div>
    <div class="company-mc">MC# {{company.mc}}</div>
  </div>
  <div class="middle">
    <span class="company-contact-full-name">{{company.contacts[0].firstName}} {{company.contacts[0].lastName}}</span>
    <span class="position ellipsis">{{company.contacts[0].position}}</span>
  <div class="company-address-phone ellipsis">{{phone}}</div>
  </div>
  <div class="right">
    <div *ngFor="let load of company.loads" class="load">
      <span [style.background]="loadStatusColor(load.status)" class="load-circle"></span>
      <span class="load-name ellipsis">LD{{load.systemLoadNo}}</span>
    </div>
      <span *ngIf="statusText" [style.color]="companyStatusColor" class="status-text">{{companyStatusText}}</span>
      <span
      [style.background]="companyStatusColor"
      class="status">
      </span>
  </div>
</div>
