<div class="company-card-section" (click)="onClick()">
  <div class="top">
    <div class="left">
      <span>{{this.croppedCompanyName}}</span>
    </div>
    <div class="middle">
      <span>{{company.contacts[0].firstName}} {{company.contacts[0].lastName}}</span>
    </div>
    <div class="right">
      <div class="loads-container">
        <div *ngFor="let load of company.loads" class="load">
          <span [style.background]="loadStatusColor(load.status)" class="load-circle"></span>
          <span class="load-name">LD{{load.systemLoadNo}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <div class="company-name">{{company.name}}</div>
      <div>MC# {{company.mc}}</div>
    </div>
    <div class="middle">
      <div class="position">{{company.contacts[0].position}}</div>
      <div>{{company.addresses[0].phone}}</div>
    </div>
    <div class="right">
        <span
        [style.background]="companyStatusColor"
        [bd-popover]="companyStatusText"
        [popoverPlacement]="'left'"
        [popoverOnHover]="true"
        class="status">
      </span>
    </div>
  </div>
</div>
