@import '../../../../assets/styles/form-control';
@import '../../../../assets/styles/styles';
@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/font-icons';

$element-height: 18px;

.equipment-associations-container {
  @include driver-view-form-container;

  .left {

    .make-model-circle-wrapper {
      display: flex;

      .status-circle {
        width: 10px;
        height: 10px;
        margin: 3px 5px 0 0;
        border-radius: $circle-radius;
      }

      .make-model {
        font-weight: bold;
      }
    }

    .number {
      color: $dark-grey;
    }
  }

}

.price {
  display: flex;
  width: 100%;
  height: 34px;
  padding: 0 $default-margin;
  background: $white;
  font-size: $tiny-font-size;
  align-items: center;
  margin-top: 10px;
  border-bottom: $border;

  .rate {
    margin-left: 10px;
  }
}
