@import '../../../../assets/styles/variables';

.error-message {
  display: none;
}

.bd-invalid {
  .error-message {
    display: flex;
    height: 35px;
    background: $light-red;
    color: $label-warning-color;
    text-align: left;
    align-items: center;

    i {
      margin: 0 15px 0 17px;
    }
  }
}
