//colors
$defaultGreyColor: #6c6c6c;
$backgroundColor: #ccc;

$logoLetterColor: #a4c2f4;
$logoNumberColor: #ff9900;

$menuActiveColor: #a4c2f4;

//borders
$defaultBorder: 2px solid $defaultGreyColor;
$whiteBorder: 1px solid #fff;


//fonts
$defaultFontFamily:"Times New Roman", Georgia, sans-erif;
$logoFontFamily: Orbitron;
$defaultFontSize:14px;


body{ 
	font-size:$defaultFontSize;
	font-family: $defaultFontFamily;
	background:$backgroundColor;
	height:100%;
}

input:focus{
	outline:0;
}