/* logo */
.logo-container{
	font-family: $logoFontFamily;
	width:100%;
	margin-top: 20px;
	text-align: center;
}

.logo-container span{
	text-transform: uppercase;
	font-weight: 600;
}

.logo-container .logo-letter{
	color: $white;
  font-size: 24px;
}
.logo-container .logo-number{
	color: $tango;
	margin-left: -3px;
  font-size: 24px;
}
