.pane-switch-container{
	text-align:center;
	margin-top:30px;
}

.pane-switch-container ul{
	list-style: none;
	margin:0 auto;
}

.pane-switch-container li {
    border: $whiteBorder;
    margin-left: -1px;
    min-width:15px;
    display:inline;
    height:20px;
	background:none;
	border-color:#fff;
	float:left;
}

.pane-switch-container ul li:first-child {
    border-radius: 5px 0 0 5px;
}

.pane-switch-container ul li:last-child {
    border-radius: 0 5px 6px 0;
}
	
.pane-switch-container ul li.active{
	background:#ccc;
}

.main-content{
	margin-left:120px;
}

.main-area{
	margin:0;
}
.pane{
	display:flex;
	align-items: center;
    justify-content: center;
	min-height:calc(100vh - 47px);
	height:100%;
	border:$defaultBorder;
	padding:0;
}
.pane div{
	color:$defaultGreyColor;
}