$shark: #23282D;
$white: #FFFFFF;
$seagul: #75B3E2;
$nobel: #B3B2B2;
$foam: #F5FEFE;
$gallery: #F0F0F0;
$iron: #D7D8DB;
$black-squeeze: #F5F9FC;
$tango: #E67517;
$outer-space: #32373C;
$gray-chateau: #9EA3A9;
