@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.bd-checkboxes {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 0 $default-margin;
  background-color: $default-background;
  align-items: center;
  flex-direction: row;
  min-height: $form-control-height;
  border-bottom: 1px solid $grey;
  margin-bottom: 0;
  box-shadow: inherit;
  transition: background-color $interactive-animation-time;

  .bd-label {
    display: flex;
    height: $form-control-height;
    color: $dark-grey;
    font-size: $input-label-font-size;
    min-width: 24%;
    font-weight: 300;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: -$default-margin;
    margin-right: $default-margin * 2;
    align-items: center;
    justify-content: flex-end;
  }

  .checkboxes {
    display: flex;
    padding-top: calc(#{$default-margin} - 6px);
    padding-bottom: calc(#{$default-margin} - 6px);
    flex-flow: row wrap;

    .bd-checkbox {
      display: flex;
      align-items: center;
      margin-top: 3px;
      margin-bottom: 3px;
      margin-left: 2px;
      margin-right: 10px;
      font-weight: normal;

      bd-checkbox {
        margin-right: 5px;
      }
    }
  }
}

.bd-disabled {

  .checkboxes {
    color: $label-default-color;
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
