<div class="assignment-container">
    <section class="driver-info">
        <div class="driver-name">
            <div class="circle-container">
                <bd-initials-circle></bd-initials-circle>
            </div>
            <div class="info-container">
                <div class="name">
                    <span class="circle"></span>
                    <span class="text">Nick Smith</span>
                </div>
                <div class="buttons-panel">
                    <button class="icon-mail"></button>
                    <button class="icon-call"></button>
                    <button class="icon-message"></button>
                </div>
            </div>
        </div>
        <div class="driver-type">Compny Driver</div>
    </section>
    <section class="contacts-info">
        <bd-contact-info></bd-contact-info>
    </section>
</div>