<div class="main-area">
    <div [ngClass]="getClass()" *ngIf="isVisible(switchStateEnum.FirstSlotVisible)">
        <div class="panel">
            <ng-content select="first-slot"></ng-content>
        </div>
    </div>
    <div [ngClass]="getClass()" *ngIf="isVisible(switchStateEnum.SecondSlotVisible)">
        <div class="panel">
            <ng-content select="second-slot"></ng-content>
        </div>
    </div>
    <div [ngClass]="getClass()" *ngIf="isVisible(switchStateEnum.ThirdSlotVisible)">
        <div class="panel">
            <ng-content select="third-slot"></ng-content>
        </div>
    </div>
</div>