<div class="wrapper" [ngSwitch]="enableButtonSwitch">
  <bd-button-switch
      *ngSwitchCase="true"
      [labelText]="labelText"
      [items]="items"
      [selectedValue]="selectedValue"
      (onItemClick)="onItemClick($event)">
  </bd-button-switch>
  <bd-dropdown
      *ngSwitchCase="false"
      [labelText]="labelText"
      [defaultTitleText]="defaultTitleText"
      [dropdownHeaderTemplate]="dropdownHeaderTemplate"
      [dropdownFooterTemplate]="dropdownFooterTemplate"
      [dropdownItemTemplate]="dropdownItemTemplate"
      [items]="items"
      [selectedValue]="selectedValue"
      (onItemClick)="onItemClick($event)">
  </bd-dropdown>
</div>
