     <div
       class="bd-input {{_isFilled}}"
     >
      <span class="prefix"><ng-content select="[md-prefix]"></ng-content></span>
      <input
        name="bd-input-element"
        type="text"
        [(ngModel)]="value"
        [disabled]="disabled"
        [attr.maxlength]="maxlength"
        (focus)="_handleFocus($event)"
        placeholder="placeholder"
        (change)="_handleChange($event)"
        (blur)="_handleBlur($event)"
        [attr.name]="name"
        [type]="type"
        class="form-control bd-input-element {{_invalidClass}}"
        id="customer-input-id"
        autocomplete="off"
      >
      <div
        *ngIf="_isInvalid && !_empty"
        class="error-message"
        [innerHTML]="errorText">
      </div>
      <label
        class="bd-input-placeholder {{_invalidClass}} {{_isAnimated}}"
        for="smart-input"
        [innerHTML]="labelText">
      </label>
      </div>
