$white: #FFFFFF;
$seagul: #75B3E2;
$nobel: #B3B2B2;
$iron: #D7D8DB;
$error: #fb3a3a;
$error-background: rgba(251,58,58,0.2);

@keyframes labelFlight {
  from {
    left: 200px;
  }
  to {
    left: 0;
  }
}

.flex-element{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bd-input-wrapper{
  position: relative;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $iron;
  margin-bottom: 0;
  padding:0 17px;
  overflow: hidden;
  @extend .flex-element;
  flex-flow: row wrap;
  background-color: $white;
  
  .bd-label{
    position: relative;
    width: 80px;
    margin-right: 32px;
    color: $nobel;
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
    label{
      position: absolute;
      top: -15px;
      left: 0;
      font-weight:normal;
    }
  }
  .bd-input{
    @extend .flex-element;
    flex-grow: 1;
    justify-content: space-between;
    .bd-input-prefix{
        margin-right: 15px;
        @extend .flex-element;
        flex-grow: 0;
    }
    .bd-input-infix{
      @extend .flex-element;
      flex-grow: 1;
      input{
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        border: none;
        padding: 8px 0;
        background: none;
        box-shadow: none;
        outline: 0;
        &:focus {
          &::placeholder {
            color: $nobel;
            opacity:1;
          }
        }
        &::placeholder {
            color:#fff;
            opacity:0;
        }
      }
    }
    .bd-input-suffix{
        @extend .flex-element;
        flex-grow: 0;
    }
    .error-message{
      display:none;
    }
  }
  + .error-message{
    display: none;
  }

  &.bd-focused{
    border-bottom-color: $seagul; 
    .bd-label{
      color: $seagul;
    }
  }
  &.bd-invalid{
    border-bottom-color: $error;
    .bd-label{
      color: $error;
    }
    + .error-message{
          @extend .flex-element;
          color: $error;
          background: $error-background;
          text-align: left;
          i{
            margin: 0 15px 0 17px;
          }
      }
  }

&.bd-collapsed-input{
    .bd-label{
      flex-grow: 1;
      color: $nobel;
      text-align: left;
      font-size: 16px;
    }
  }
  &.bd-expanded-input{
    .bd-label{
      animation: labelFlight 0.1s 1;
    }
  }
}