@import '../../../../assets/styles/form-control';

.auth-form {
  .section {
    display: flex;
  }

  .section-control {
    display: inline-block;
    flex-grow: 1;
  }

  .divider {
    min-height: 20px;
  }

  .bd-switch-container {
    .bd-switch-label {
      display: none;
    }
  }
}
