<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(registerForm)" class="auth-form">
  <bd-auth-general-form-error *ngIf="isRegisterFailed && registerForm.pristine"
    [headerText]="'Unable to registering.'">
    {{ errorDescription }}
  </bd-auth-general-form-error>
  <div class="section">
    <bd-input
      class="bd-form-control section-control"
      placeholder="First Name"
      formControlName="firstName">
    </bd-input>
    <bd-input
      class="bd-form-control section-control"
      placeholder="Middle Name"
      formControlName="middleName">
    </bd-input>
    <bd-input
      class="bd-form-control section-control"
      placeholder="Last Name"
      formControlName="lastName">
    </bd-input>
  </div>
  <bd-form-switch class="bd-form-control"
    formControlName="registerType"
    [hideLabel]="true"
    [enableButtonSwitch]="true"
    [items]="registerTypes">
  </bd-form-switch>
  <bd-validator *ngIf="registerForm.controls.registerType.value === 'email'"
    [component]="registerForm.controls.email"
    [errorDefs]="{required: 'This field is required', isValidMailFormat: 'Email entered not correct.'}">
    <bd-input
      class="bd-form-control"
      [labelText]="'Email'"
      formControlName="email">
    </bd-input>
  </bd-validator>
  <bd-validator *ngIf="registerForm.controls.registerType.value === 'phone'"
    [component]="registerForm.controls.phone"
    [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control"
      [labelText]="'Phone'"
      formControlName="phone">
    </bd-input>
  </bd-validator>
  <fieldset formGroupName="passwordGroup">
    <bd-validator [component]="registerForm.controls.passwordGroup.controls.password"
      [errorDefs]="{required: 'This field is required'}">
      <bd-input
        class="bd-form-control"
        [type]="'password'"
        [labelText]="'Password'"
        formControlName="password">
      </bd-input>
    </bd-validator>
    <bd-complexity-password-messenger [component]="registerForm.controls.passwordGroup.controls.password"></bd-complexity-password-messenger>
    <bd-validator [component]="registerForm.controls.passwordGroup.controls.retryPassword"
      [errorDefs]="{required: 'This field is required'}">
      <bd-input
        class="bd-form-control"
        [type]="'password'"
        [labelText]="'Retry Password'"
        formControlName="retryPassword">
      </bd-input>
    </bd-validator>
    <bd-validator [component]="registerForm.controls.passwordGroup"
      *ngIf="registerForm.controls.passwordGroup.controls.password.touched && registerForm.controls.passwordGroup.controls.retryPassword.touched"
      [errorDefs]="{passwordsNotMatch: 'Passwords do not match'}">
    </bd-validator>
  </fieldset>
  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button"
    [(disabled)]="!registerForm.valid"
    [text]="'Next'">
  </bd-button>
  <bd-spinner *ngIf="isLoading"></bd-spinner>
</form>
