@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/font-icons';
@import '../../../../../assets/styles/mixins';

.notification-card-container {
  background: $light-blue;

  .title-container {
    display: none;
  }

  .notification-container {
    display: flex;
    padding: 10px 15px;
    font-size: $tiny-font-size;
    border-bottom: $border;

    .content-container {
      margin: 5px 0 0 15px;
      flex-grow: 1;

      .notification-title {
        font-weight: bold;
      }

      .notification-message {
        @include multi-line-ellipsis($line-height: 18px, $line-count: 2);
      }

      .date {
        color: $grey;
        margin-top: 12px;
      }
    }
  }

  &.closable {
    background: $shark;
    opacity: .9;
    border-radius: 3px;

    .title-container {
      display: flex;
      padding: $popover-margin $popover-margin 0;
      justify-content: space-between;

      .title-text {
        color: $horizon;
      }

      button {
        border: 0;
        background: 0;
        color: $grey;

        &:hover {
          color: $white;
        }
      }
    }

    .notification-container {
      border-bottom: 0;

      .content-container {
        .date,
        .notification-title {
          display: none;
        }

        .notification-message {
          @include multi-line-ellipsis($line-height: 18px, $line-count: 3);
          background: $shark;
          color: $white;
          margin-top: -4px;

          &:after {
            background: $shark;
          }
        }
      }
    }

    &:hover {
      background: $shark;

      .notification-container {
        .content-container {
          .notification-message {
            background: $shark;

            &:after {
              background: $shark;
            }
          }
        }
      }
    }
  }

  &.had-seen-notification {
    background: $white;
  }

  &:hover {
    background: $light-blue;

    .notification-container {
      .content-container {
        .notification-message {
          background: $light-blue;

          &:after {
            background: $light-blue;
          }
        }
      }
    }
  }
}
