<div class="notification-card-container"
     [class.closable]="isClosable">
  <div class="title-container">
    <span class="title-text">{{notification.title}}</span>
    <button
      class="btn-close icon-close"
      (click)="onClose($event)">
    </button>
  </div>
  <div class="notification-container">
    <notification-card-icon [eventType]="notification.notificationStatus"></notification-card-icon>
    <div class="content-container">
      <div class="notification-title">{{notification.title}}</div>
      <div class="notification-message">
      {{notification.message}}
      </div>
      <div class="date">
      {{notification.date}}
      </div>
    </div>
  </div>
</div>
