@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.driver-card-section {
  position: relative;
  display: flex;
  height: 100px;
  padding: $default-margin;
  background: inherit;
  font-size: $tiny-font-size;
  line-height: 18px;
  cursor: pointer;
  border-bottom: $border;
  justify-content: space-between;

  .left {
    width: 30%;

    .driver-full-name {
      overflow: hidden;
      padding-top: 6px;

      span {
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .driver-type {
      white-space: nowrap;
    }
  }

  .middle {
    display: flex;
    width: 30%;
    height: 70px;
    padding-left: $default-margin;
    flex-direction: column;
    justify-content: flex-end;

    .driver-phone {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .send-message {
      overflow: hidden;
      color: $blue;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
    }
  }

  .right {
    position: relative;
    width: 40%;
    line-height: 17px;
    flex-direction: column;
    padding-left: $default-margin;
    padding-top: 1px;

    .tr-city {
      display: flex;

      .tr-city-circle {
        width: 10px;
        height: 10px;
        margin: 3px 5px 0 0;
        background: $black;
        border-radius: 50%;
      }

      .tr-city-name {
        @include multi-line-ellipsis($line-height: 17px, $line-count: 2);
        width: 80%;
        text-align: left;
      }
    }

    .status-text {
      position: absolute;
      right: 22px;
      bottom: -5px;
      justify-content: center;
    }

    .status {
      position: absolute;
      right: 0;
      width: 12px;
      height: 12px;
      background: $black;
      bottom: -2px;
      border-radius: $form-control-height;
    }
  }
}

:host {
  background: $white;

  &.active,
  &:hover {
    background: $light-blue;

    .right {
      .tr-city {
        .tr-city-name {
          @include multi-line-ellipsis($line-height: 17px, $line-count: 2);
          width: 80%;
          text-align: left;
        }
      }
    }
  }

  &.active {
    .equipment-card-section {
      border-bottom-color: $blue;
    }
  }
}
