<div
class="card-section"
(mouseover)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="left">
    <div>
      <bd-user-circle
        class="initials-circle"
        [initials]="initials">
      </bd-user-circle>
    </div>
    <div class="driver-full-name ellipsis">
      {{item.firstName}} {{item.lastName}}
    </div>
    <div class="driver-type">{{driverTypeText}}</div>
  </div>
  <div class="middle">
    <span class="driver-phone ellipsis">{{phone}}</span>
    <span class="send-message ellipsis">Send Message</span>
  </div>
  <div class="right">
    <div class="tr-city">
      <span style="background: rgb(133, 209, 131)" class="tr-city-circle"></span>
      <span class="tr-city-name">TR{{item.lastTripNumber}}</span>
    </div>
    <div class="tr-city">
      <span style="background: red" class="tr-city-circle"></span>
      <span class="tr-city-name">{{item.lastAddress}}</span>
    </div>
  </div>
  <span *ngIf="statusText" [style.color]="itemStatusColor()" class="status-text">{{itemStatusText()}}</span>
    <span
    [style.background]="itemStatusColor()"
    class="status">
  </span>
</div>
