<div
class="driver-card-section"
(mouseover)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="left">
    <div>
      <bd-initials-circle
        class="initials-circle"
        [firstName]="driver.firstName"
        [lastName]="driver.lastName">
      </bd-initials-circle>
    </div>
    <div class="driver-full-name ellipsis">
      {{driver.firstName}} {{driver.lastName}}
    </div>
    <div class="driver-type">{{driverTypeText}}</div>
  </div>
  <div class="middle">
    <span class="driver-phone ellipsis">{{phone}}</span>
    <span class="send-message ellipsis">Send Message</span>
  </div>
  <div class="right">
    <div class="tr-city">
      <span style="background: rgb(133, 209, 131)" class="tr-city-circle"></span>
      <span class="tr-city-name">TR{{driver.lastTripNumber}}</span>
    </div>
    <div class="tr-city">
      <span style="background: red" class="tr-city-circle"></span>
      <span class="tr-city-name">{{driver.lastAddress}}</span>
    </div>
    <span *ngIf="statusText" [style.color]="driverStatusColor" class="status-text">{{driverStatusText}}</span>
      <span
      [style.background]="driverStatusColor"
      class="status">
    </span>
  </div>
</div>
