@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/styles';
@import '../../../../assets/styles/mixins';

.card-section {

  .left {

    .driver-full-name {
      font-weight: bold;
    }

    .driver-type {
      white-space: nowrap;
    }
  }

  .middle {

    .send-message {
      color: $blue;
      font-weight: bold;
    }
  }
}
