<div class="stop-view-mode-section"
    [class.expanded-view]="isExpanded">
    <component-action-panel>
      <buttons>
        <div class="expand-collapse-button">
          <button
              [class.icon-down-arrow-bold]="!isExpanded"
              [class.icon-up-arrow-bold]="isExpanded"
              (click)="onExpand()">
          </button>
         </div>
        <default-list-buttons (edit)="onEdit()" (remove)="onRemove()">
        </default-list-buttons>
      </buttons>
      <div class="stop-info-container interactive-background"
      [class.pickup]="isPickup"
      [class.dropoff]="isDropoff"
      [class.combined]="isCombined">
          <div class="stripped-border"></div>
          <div class="facility-info">
              <div class="title interactive-text">{{stop.facility.name}}</div>
              <div class="info-item">
                  <span class="item-icon icon-location"></span>
                  <span class="item-text facility-address">{{stop.facility.address.streetAddress1}}, {{stop.facility.address.city}}, {{stop.facility.address.state}}, {{stop.facility.address.zip}}</span>
              </div>
              <bd-contact-info [contactCollection]="getContactInfoCollection(stop.facility?.contactInfo)"></bd-contact-info>
          </div>
          <div class="business-hours-container">
              <div class="hours-string">
                  <span class="days">Mo-Fr:</span>
                  <span class="hours">08:00-17:00</span>
              </div>
              <div class="hours-string">
                  <span class="days">Sa:</span>
                  <span class="hours">12:00-16:00</span>
              </div>
              <div class="hours-string">
                  <span class="days">Su:</span>
                  <span class="hours">13:00-14:00</span>
              </div>
              <div class="notes">{{stop.facility.notes}}</div>
          </div>
      </div>
    </component-action-panel>
    <div [ngSwitch]="mode">
      <div *ngSwitchCase="'trip'" class="trip-view-container">
        <trip-view
            *ngFor="let tripStop of tripStops"
            class="trip-view-item"
            [tripData]="tripStop"
            [isExpanded]="isExpanded">
        </trip-view>
      </div>
      <div *ngSwitchCase="'load'" class="stop-detail-view-container">
        <stop-detail-view
            [stop]="stop"
            [isExpanded]="isExpanded">
        </stop-detail-view>
      </div>
    </div>
</div>
