<div class="card-section"
(mouseenter)="onEnter()"
(mouseleave)="onLeave()"
(click)="onClick()">
  <div class="left">
    <span class="load-number">LD{{load.systemLoadNo}}</span>
    <span class="company-name" *ngIf="load.customer">
      <span [bd-popover]="companyPopover" [popoverOnHover]="popoverOnHover" [popoverDisbled]="!load.customerBillingLocation || !load.customerLocation">
        {{load.customer.name}}
        <bd-popover-content
          #companyPopover
          placement="auto"
          [width]="popupWidth"
          [horizontalOffset]="-10"
          [closeOnClickOutside]="closeOnClickOutside">
          <company-popover *ngIf="!load.customerBillingLocation || !load.customerLocation" [company]="load.customer" [companyBillingLocation]="load.customerBillingLocation" [companyLocation]="load.customerLocation"></company-popover>
        </bd-popover-content>
      </span>
    </span>
    <span class="customer-load-number">{{load.customerLoadNo}}</span>
  </div>
  <div class="right stops-container" *ngIf="this.load.stops && this.load.stops.length > 1">
    <div class="distance-wrapper">
      <span class="firstStopAddress">{{firstStop.facility.address.city}}, {{firstStop.facility.address.state}}</span>
      <span class="lastStopAddress">{{lastStop.facility.address.city}}, {{lastStop.facility.address.state}}</span>
    </div>
    <div class="schedule-date-wrapper">
      <div class="start-date">
        {{firstStop.plannedArrivalAt | date:'MM/dd'}}
      </div>
      <div class="schedule">
        <stops-line [stops]="load.stops"></stops-line>
      </div>
      <div class="end-date">
        {{lastStop.plannedArrivalAt | date:'MM/dd'}}
      </div>
    </div>
  </div>
  <div *ngIf="load.currentTrips && load.currentTrips.length" class="bottom">
    <span [bd-popover]="driverPopover" [popoverOnHover]="popoverOnHover">
      <span class="link firstName">{{currentTrip.driverTeams[0].drivers[0].firstName}}</span>
      <span class="link">|</span>
      <span class="link truckNumber">
        Tk{{currentTrip.truck.number}}
      </span>
      <span class="link">|</span>
      <span class="link trailerNumber">TI{{currentTrip.trailer.number}}</span>
      <bd-popover-content
        #driverPopover
        placement="auto"
        [width]="popupWidth"
        [horizontalOffset]="-10"
        [closeOnClickOutside]="closeOnClickOutside">
        <driver-popover [driver]="currentTrip.driverTeams[0].drivers[0]"></driver-popover>
      </bd-popover-content>
    </span>
    <span class="current-trip">
      <span class="tripNumber" [bd-popover]="tripPopover" [popoverOnHover]="popoverOnHover">
        TR{{currentTrip.number}}
        <bd-popover-content
          #tripPopover
          placement="auto"
          [width]="popupWidth"
          [closeOnClickOutside]="closeOnClickOutside">
          <trip-popover [trip]="currentTrip"></trip-popover>
        </bd-popover-content>
      </span>
    </span>
  </div>
  <span *ngIf="statusText" [style.color]="loadStatusColor" class="status-text">{{loadStatusText}}</span>
  <span
  [style.background]="loadStatusColor"
  class="status">
  </span>
</div>
