<div class="load-stop-card-section" (click)="onClick()">
  <div class="left">
    <span class="load-number">LD{{load.systemLoadNo}}</span>
    <span class="company-name">
      <span [bd-popover]="companyPopover" [popoverOnHover]="popoverOnHover">
        {{load.company.name}}
        <bd-popover-content
          #companyPopover
          placement="auto"
          [width]="popupWidth"
          [horizontalOffset]="-10"
          [closeOnClickOutside]="closeOnClickOutside">
          <company-popover [company]="load.company"></company-popover>
        </bd-popover-content>
      </span>
    </span>
    <span>{{load.customerLoadNo}}</span>
  </div>
  <div class="right" *ngIf="this.load.stops.length > 1">
    <div class="distance-wrapper">
      <span>{{firstStop.address.city}}, {{firstStop.address.state}}</span>
      <span>{{lastStop.address.city}}, {{lastStop.address.state}}</span>
    </div>
    <div class="schedule-date-wrapper">
      <div class="start-date">
        {{firstStop.plannedArrivalAt | date:'MM/dd'}}
      </div>
      <div class="schedule">
        <stops-line [stops]="load.stops"></stops-line>
      </div>
      <div class="end-date">
        {{lastStop.plannedArrivalAt | date:'MM/dd'}}
      </div>
    </div>
  </div>
  <div class="bottom">
    <span class="link">{{currentTrip.driverTeams.drivers[0].firstName}}</span>
    <span class="link">|</span>
    <span class="link" [bd-popover]="driverPopover" [popoverOnHover]="popoverOnHover">
      Tk{{currentTrip.truckEquipment.number}}
      <bd-popover-content
        #driverPopover
        placement="auto"
        [width]="popupWidth"
        [horizontalOffset]="-10"
        [closeOnClickOutside]="closeOnClickOutside">
        <driver-popover [driver]="currentTrip.driverTeams.drivers[0]"></driver-popover>
      </bd-popover-content>
      </span>
    <span class="link">|</span>
    <span class="link">TI{{currentTrip.trailerEquipment.number}}</span>
    <span class="current-trip">
      <span [bd-popover]="tripPopover" [popoverOnHover]="popoverOnHover">
        TR{{currentTrip.number}}
        <bd-popover-content
          #tripPopover
          placement="auto"
          [width]="popupWidth"
          [closeOnClickOutside]="closeOnClickOutside">
          <trip-popover [trip]="currentTrip"></trip-popover>
        </bd-popover-content>
      </span>
    </span>
    <span class="status" [style.background]="loadStatusColor">
        {{loadStatusText}}
    </span>
  </div>
</div>
