<div class="load-stop-card-section" (click)="onClick()">
  <div class="left">
    <span class="load-number">LD{{load.carrierLoadNumber}}</span>
    <span class="customer-name">
      <span [bd-popover]="customerPopover" [popoverOnHover]="popoverOnHover">
        {{load.customer.name}}
        <bd-popover-content
          #customerPopover
          placement="auto"
          [width]="popupWidth"
          [horizontalOffset]="-10"
          [closeOnClickOutside]="closeOnClickOutside">
          <customer-popover [customer]="load.customer"></customer-popover>
        </bd-popover-content>
      </span>
    </span>
    <span>{{load.brokerLoadNumber}}</span>
  </div>
  <div class="right" *ngIf="this.load.stops.length > 1">
    <div class="distance-wrapper">
      <span>{{firstStop.address.city}}, {{firstStop.address.state}}</span>
      <span>{{lastStop.address.city}}, {{lastStop.address.state}}</span>
    </div>
    <div class="schedule-date-wrapper">
      <div class="start-date">
        {{firstStop.date | date:'MM/dd'}}
      </div>
      <div class="schedule">
        <stops-line [stops]="load.stops"></stops-line>
      </div>
      <div class="end-date">
        {{lastStop.date | date:'MM/dd'}}
      </div>
    </div>
  </div>
  <div class="bottom">
    <span class="link">{{load.currentTrip.driver.firstName}}</span>
    <span class="link">|</span>
    <span class="link" [bd-popover]="driverPopover" [popoverOnHover]="popoverOnHover">
      Tk{{load.currentTrip.truckNumber}}
      <bd-popover-content
        #driverPopover
        placement="auto"
        [width]="popupWidth"
        [horizontalOffset]="-10"
        [closeOnClickOutside]="closeOnClickOutside">
        <driver-popover [driver]="load.currentTrip.driver"></driver-popover>
      </bd-popover-content>
      </span>
    <span class="link">|</span>
    <span class="link">TI{{load.currentTrip.trailerNumber}}</span>
    <span class="current-trip">
      <span [bd-popover]="tripPopover" [popoverOnHover]="popoverOnHover">
        TR{{load.currentTrip.number}}
        <bd-popover-content
          #tripPopover
          placement="auto"
          [width]="popupWidth"
          [closeOnClickOutside]="closeOnClickOutside">
          <trip-popover [trip]="load.currentTrip"></trip-popover>
        </bd-popover-content>
      </span>
    </span>
    <span class="status" [style.background]="loadStatusColor">
        {{loadStatusText}}
    </span>
  </div>
</div>
