@import '../../../../assets/styles/variables';

.card-section {
  position: relative;
  height: $card-height;
  padding: 13px;
  background: inherit;
  font-size: $tiny-font-size;
  cursor: pointer;
  border-bottom: $border;

  .left {
    overflow: hidden;
    width: 30%;
    float: left;

    & > span {
      display: block;
    }

    .load-number {
      font-weight: bold;
    }

    .company-name {
      overflow: hidden;
      color: $blue;
      margin-right: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .right {
    width: 70%;
    float: left;

    .distance-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .schedule-date-wrapper {
      display: flex;
      margin-top: 5px;

      .start-date {
        color: $grey;
      }

      .schedule {
        padding: 0 10px;
        flex: 1;
      }

      .end-date {
        color: $grey;
      }
    }
  }

  .bottom {
    display: flex;
    clear: both;

    .status {
      display: flex;
      width: 79px;
      height: 20px;
      color: $white;
      float: right;
      align-items: center;
      border-radius: 3px;
      justify-content: center;
      margin-top: -2px;
    }

    .current-trip {
      text-align: center;
      flex: 1;
    }

    .link {
      color: $blue;
      margin-right: 3px;
    }
  }

  .status-text {
    position: absolute;
    right: 35px;
    line-height: 1em;
    bottom: 13px;
    justify-content: center;
  }

  .status {
    position: absolute;
    right: 13px;
    width: 12px;
    height: 12px;
    background: $black;
    bottom: 13px;
    border-radius: $form-control-height;
  }
}
