@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/font-icons';
@import '../../../../../../assets/styles/mixins';

.notification-container {
  background: $white;
  font-size: $tiny-font-size;

  .icon-close {
    font-size: 10px;
  }

  &.active,
  &:hover {
    background: $light-blue;

    .message {
      @include multi-line-ellipsis($line-height: 18px, $line-count: 2);
    }
  }

  .title {
    font-weight: bold;
    margin-bottom: 4px;
  }

  .message {
    @include multi-line-ellipsis($line-height: 18px, $line-count: 2);
    margin-bottom: 4px;
  }

  .date {
    color: $grey;
  }

  .top {
    display: flex;
    padding: 13px 12px 0;
    justify-content: space-between;

    button {
      border: 0;
      background: 0;
      color: $grey;

      &:hover {
        color: $white;
      }
    }
  }

  .bottom {
    display: flex;
    padding: 8px $popover-margin;
    font-size: $tiny-font-size;
    border-bottom: $border;

    .right {
      margin-left: $popover-margin;
      flex-grow: 1;
    }
  }

  &.closable {
    position: relative;
    height: 98px;
    background: $closable-card-bg;
    border-radius: 3px;

    .right {
      margin-top: -5px;
    }

    .title {
      color: $blue;
    }

    button {
      &:focus {
        outline: 0;
      }
    }

    .message {
      @include multi-line-ellipsis($line-height: 18px, $line-count: 3);
      background: inherit;
      color: $white;
      margin-bottom: 4px;
    }

    .bottom {
      border-bottom: 0;
    }
  }
}
