@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/font-icons';

$element-size: 16px;
$text-margin: 5px;

.stop-view-mode-section {

  button {
    padding: 0;
    border: 0;
    background: transparent;

    &:focus {
      outline: 0;
    }
   }

  span {
    line-height: $element-size;
  }

  display: flex;
  overflow: hidden;
  border: $border;
  background: $light-blue;
  font-size: $tiny-font-size;
  flex-direction: column;
  border-radius: $default-border-radius;

  .stop-info-container {
    position: relative;
    display: flex;
    background: $white;
    border-bottom: $border;
    border-left: 4px solid $grey;

    &.pickup {
      border-left-color: $pickup-view-mode-color;
    }

    &.dropoff {
      border-left-color: $dropoff-view-mode-color;
    }

    &.combined {
      border-left: 0;
    }

    .stripped-border {
      position: absolute;
      top: 0;
      width: 4px;
      height: 100%;
      background-image: url('assets/img/combined_stop_border.png');
      background-repeat: repeat-y;
      left: -4px;
    }

    .facility-info {
      display: flex;
      width: 50%;
      padding: $default-margin;
      color: $dark-grey;
      border-right: 1px dashed $grey;
      flex-direction: column;

      .title {
        color: $black;
        margin-left: $element-size;
        font-weight: bold;
        max-height: $element-size;
      }

      .info-item {
        display: flex;

        .item-icon {
          margin-right: $text-margin;
        }
      }
    }

    .business-hours-container {
      width: 50%;
      padding: $default-margin;
      color: $dark-grey;

      .hours-string {
        display: flex;
        justify-content: space-between;
      }

      .btn-container {
        position: absolute;
        top: $default-margin;
        right: $default-margin;
        display: none;
        background: $white;
        color: $blue;
        transition: display .2s;

        button {
          padding: 0 $text-margin;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .notes {
        overflow: hidden;
        color: $black;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-height: $element-size;
      }
    }

    &:hover {
      .business-hours-container {
        .btn-container {
          display: block;
          transition: display .2s;
        }
      }
    }
  }
}
