<div class="stop-view-mode-section"
    [class.expanded-view]="isExpanded">
    <div class="stop-info-container"
    [class.pickup]="isPickup"
    [class.dropoff]="isDropoff"
    [class.combined]="isCombined">
        <div class="stripped-border" *ngIf="isCombined"></div>
        <div class="facility-info">
            <div class="title">{{stop.facility.name}}</div>
            <div class="info-item">
                <span class="item-icon icon-location"></span>
                <span class="item-text facility-address">{{stop.facility.address.streetAddress1}}, {{stop.facility.address.city}}, {{stop.facility.address.state}}, {{stop.facility.address.zip}}</span>
            </div>
            <bd-contact-info [contactCollection]="getContactInfoCollection(stop.facility.contactInfo)"></bd-contact-info>
        </div>
        <div class="business-hours-container">
            <div class="btn-container">
                <button 
                    [class.icon-down-arrow]="!isExpanded" 
                    [class.icon-up-arrow]="isExpanded" 
                    (click)="onClick()">
                </button>
            </div>
            <div class="hours-string">
                <span class="days">Mo-Fr:</span>
                <span class="hours">08:00-17:00</span>
            </div>
            <div class="hours-string">
                <span class="days">Sa:</span>
                <span class="hours">12:00-16:00</span>
            </div>
            <div class="hours-string">
                <span class="days">Su:</span>
                <span class="hours">13:00-14:00</span>
            </div>
            <div class="notes">{{stop.facility.notes}}</div>
        </div>
    </div>

    <div class="trip-view-container">
        <trip-view 
            *ngFor="let tripStop of tripStops"
            class="trip-view-item"
            [tripData]="tripStop" 
            [isExpanded]="isExpanded">
        </trip-view>
    </div>
</div>


