<div class="stop-view-mode-section"
    [class.expanded-view]="isExpanded">
    <div class="stop-info-container"
    [class.pickup]="pickupCommodities.length && !dropoffCommodities.length"
    [class.dropoff]="!pickupCommodities.length && dropoffCommodities.length"
    [class.combined]="pickupCommodities.length && dropoffCommodities.length">
        <div class="stripped-border" *ngIf="pickupCommodities.length && dropoffCommodities.length"></div>
        <div class="facility-info">
            <div class="title">Tailor Freshh Foods</div>
            <div class="info-item">
                <span class="item-icon icon-location"></span>
                <span class="item-text facility-address">1275, Hansen street, Salinas, CA, 939001</span>
            </div>
            <div class="info-item main-phone">
                <span class="item-icon icon-phone"></span>
                <span class="item-text facility-phone-number">937-99-92</span>
            </div>
            <div class="info-item alt-phone" *ngIf="isExpanded">
                <span class="item-icon icon-phone"></span>
                <span class="item-text facility-phone-number">937-99-92</span>
            </div>
            <div class="info-item fax" *ngIf="isExpanded">
                <span class="item-icon icon-fax"></span>
                <span class="item-text facility-phone-number">fax@bridge18.com</span>
            </div>
        </div>
        <div class="business-hours-container">
            <div class="btn-container">
                <button 
                    [class.icon-down-arrow]="!isExpanded" 
                    [class.icon-up-arrow]="isExpanded" 
                    (click)="isExpanded = !isExpanded">
                </button>
            </div>
            <div class="hours-string">
                <span class="days">Mo-Fr:</span>
                <span class="hours">08:00-17:00</span>
            </div>
            <div class="hours-string">
                <span class="days">Sa:</span>
                <span class="hours">12:00-16:00</span>
            </div>
            <div class="hours-string">
                <span class="days">Su:</span>
                <span class="hours">13:00-14:00</span>
            </div>
            <div class="notes">Call after 12:00</div>
        </div>
    </div>
        <trip-view [isExpanded]="isExpanded"></trip-view>
</div>


