.inputs {
  display: flex;

  input {
    flex: 1;
    min-width: 0;
    border-color: lightgray;
    border-width: 0 1px 1px 0;
    text-align: center;
    height: 50px;
    outline: none;
    box-shadow: none;
    font-size: 10px;

    &:active,
    &:focus {
      border-bottom-color: #87bce6;
    }

    &:last-child {
      border-right-width: 0;
    }
  }
}

.remove-button{
  width: 100%;
  height: 50px;
  background: white;
  border-style: solid;
  border-color: lightgray;
  border-width: 0 0 1px 0;
  outline: none;
  box-shadow: none;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
