<template let-data ngFor [ngForOf]="renderFormData" let-i="index" [ngForTrackBy]="trackBy">
  <div class='bd-form-list-item'>
    <bd-remove-button class='bd-form-control' (onClick)='removeItem(data)' [prefixLabel]="label(i)"> </bd-remove-button>
    <div [ngSwitch]="data.item.type">
      <stop-action-pickup-form  *ngSwitchCase="stopActionTypes.PICKUP" [group]="data.group" [stopAction]="data.item" [viewMode]="viewMode"></stop-action-pickup-form>
      <stop-action-dropoff-form  *ngSwitchCase="stopActionTypes.DROPOFF" [group]="data.group" [stopAction]="data.item" [viewMode]="viewMode"></stop-action-dropoff-form>
    </div>
  </div>
</template>
<bd-add-button class='bd-form-control' (onClick)='addNewItem()' suffixLabel="Pickup" ></bd-add-button>