@import '../../../../../../assets/styles/variables';

.message-container {
  display: flex;
  padding: $popover-margin;
  background: $light-blue;
  font-size: $tiny-font-size;
  border-bottom: $border;

  .circle-container {
    width: auto;
    margin-right: $popover-margin;
  }

  .content-container {
    flex-grow: 1;

    .message-sender {
      font-weight: bold;
    }

    .message-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .message-date {
      color: $dark-grey;
    }
  }
}
