<div class="details-container interactive-background">
    <div class="info-container interactive-background">
        <section class="equipment-info left">
            <div class="name-info">
                <div class="circle">
                    <bd-user-circle
                        [initials]="shortTypeText">
                    </bd-user-circle>
                </div>
                <div class="text">
                    <div class="name ellipsis interactive-text">{{equipment.make}} {{equipment.model}}</div>
                    <div class="number">{{equipment.number}}</div>
                </div>
            </div>
            <div class="info-item">
                <span class="title">Berth Available</span>
                <span class="value interactive-text">{{isSleeperBerthAvailable}}</span>
            </div>

        </section>
        <section class="license-info">
            <div class="info-item">
                <span class="title">License Plate</span>
                <span class="value interactive-text">{{equipment.licensePlateState}}</span>
            </div>
            <div class="info-item">
                <span class="title">Expiration</span>

                <span class="value interactive-text">{{equipment.licensePlateExpiration | bdDate: constants.DATE_FORMAT}}</span>
            </div>
        </section>
    </div>

    <div class="notes interactive-text">{{equipment.notes}}</div>
</div>
