@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/font-icons';
@import '../../../../../../assets/styles/styles';

.details-container {
  color: $dark-grey;
  font-size: $tiny-font-size;
  border-bottom: $default-border;
  border-radius: $default-border-radius;

  .info-container {
    display: flex;
    border-bottom: $default-border;

    section {
      width: 50%;
      padding: $default-margin;

      &:first-of-type {
        border-right: $default-border;
      }
    }

    .equipment-info {
      .name-info {
        display: flex;

        .circle {
          margin-right: 10px;
        }

        .text {
          overflow: hidden;

          .name {
            font-weight: bold;
          }
        }
      }
    }

    .info-item {
      display: flex;
      justify-content: space-between;

      span {
        line-height: 18px;
      }
    }
  }

  .notes {
    padding: $default-margin;
    min-height: $view-mode-element-height;
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
