<div
  class="bd-toast-manager-wrapper"
  [ngClass]="position"
  (mouseenter)="onEnter()"
  (mouseleave)="onLeave()">
  <div
    *ngFor="let notification of _visibleNotifications"
    class="toast"
    [class.remove]="isNotificationRemoved(notification)">
    {{onStartNotificationTimeOut(notification)}}
      <bd-notification-card
        (close)="removeNotification(notification, true)"
        [isClosable]="true"
        [notification]="notification">
      </bd-notification-card>
  </div>
</div>