@keyframes show_toast_animation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: .9;
    transform: translateY(0);
  }
}

.bd-toast-manager-wrapper {
  overflow: hidden;

  .toast {
    position: relative;
    display: block;
    animation: show_toast_animation 500ms;
    margin-bottom: 10px;
    margin-left: 10px;
    bottom: 0;

    &.remove {
      transition: all 500ms;
      opacity: 0;
      margin-bottom: -96px;
    }
  }
}
