<div
  class="control icon-menu"
  [bd-popover]="additionalControlsPopover"
  [popoverOnHover]="true">
    <bd-popover-content
      #additionalControlsPopover
      placement="left"
      [animation]="false"
      [closeOnMouseOutside]="true"
      [closeOnClickOutside]="true">
        <bd-form-button [buttonText]="'edit'" buttonType="small" (click)="onEditClick()"></bd-form-button>
        <bd-form-button [buttonText]="'remove'" buttonType="small" (click)="onRemoveClick()"></bd-form-button>
    </bd-popover-content>
</div>
