<div class="message-card-container"
     [class.closable]="isClosable">
  <div class="title-container">
    <span class="title-text">New Message</span>
    <button
      class="btn-close icon-close"
      (click)="onClose($event)">
    </button>
  </div>
  <div class="message-container">
    <div class="circle-container">
      <bd-initials-circle
        [firstName]="notification.sender.firstName"
        [lastName]="notification.sender.lastName">
      </bd-initials-circle>
    </div>
    <div class="content-container">
      <div class="message-sender">{{notification.sender.firstName}} {{notification.sender.lastName}}</div>
      <div class="message-text">
        {{notification.message}}
      </div>
      <div class="message-date">
        {{notification.date | bdTimeAgo}}
      </div>
    </div>
  </div>
</div>
