@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/font-icons';
@import '../../../../../../assets/styles/mixins';

.notification-container {
  .right {
    max-width: calc(100% - 50px);
  }

  .message {
    @include multi-line-ellipsis($line-height: 18px, $line-count: 1, $bg-color: $white);
  }

  &.closable {

    .message {
      @include multi-line-ellipsis($line-height: 18px, $line-count: 2, $bg-color: $closable-card-ellipsis);
      background: inherit;
      color: $white;
      margin-top: -4px;
    }
  }
}
