@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/font-icons';
$element-height: 18px;
$element-width: 16px;
$text-margin: 5px;

.trip-container {
  &.expanded {
    .trip-info-container {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .left-panel {
        .info-panel {
          .driver-container {
            .driver-info {
              display: flex;

              .driver-count {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .trip-info-container {
    button {
      padding: 0;
      border: 0;
      background: transparent;

      &:focus {
        outline: 0;
      }
    }

    span {
      line-height: $element-height;
    }
    display: flex;
    border: $border;
    margin: 10px;
    background: $default-background;
    border-radius: $default-border-radius;
    flex-direction: row;
    transition: background-color $interactive-animation-time;

    .left-panel {
      display: flex;
      width: 50%;
      padding: $default-margin;
      flex-direction: row;
      border-right: $border;

      .info-panel {
        flex: 1;

        .trip-info-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .trip-number {
            margin-left: $element-width;
          }
        }

        .driver-container {
          .driver-info {
            display: none;
            color: $dark-grey;
            align-items: center;

            .initials-circle {
              display: inline-block;
              margin-right: $text-margin;
            }

            .driver-count {
              margin-left: $text-margin;
            }

            &:first-of-type {
              display: flex;
            }
          }
        }

        .trailer-info {
          overflow: hidden;
          color: $dark-grey;
          margin-left: $element-width;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .buttons-panel {
        display: flex;
        color: $dark-grey;
        flex-direction: column;

        button {
          padding: 3px 0;

          &:hover {
            color: $blue;
          }
        }
      }
    }

    .right-panel {
      width: 50%;
      padding: $default-margin;
    }
  }
}
@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;

  .trip-info-container {

    .right-panel {
      .appointment-type {
        .type-container {
          span {
            &.circle {
              opacity: 1;
              transition: all $interactive-animation-time;
            }
          }
        }
      }
    }
  }
}
