<div class="trip-container" [class.expanded]="isExpanded">
  <div class="trip-info-container interactive-background">
    <div class="left-panel">
      <div class="info-panel">
        <div class="trip-info-header">
        <span class="trip-number interactive-text">TR{{tripData.trip.number}}</span>
      </div>
      <div class="driver-container">
        <div
          *ngFor="let driver of tripData.trip.driverTeams[0].drivers"
          class="driver-info">
          <span class="initials-circle">
                  <bd-circle
                      [initials]="driverInitials(driver)"
                      size='small'>
                  </bd-circle>
            </span>
          <span class="driver-name">{{driver.firstName}} {{driver.lastName}}</span>
          <span class="driver-count" *ngIf="tripData.trip.driverTeams[0].drivers.length > 1">
            (+{{tripData.trip.driverTeams[0].drivers.length}})
          </span>
        </div>
      </div>
      <span class="trailer-info">
          {{tripData.trip.trailer.make}} {{tripData.trip.trailer.number}}, {{tripData.trip.trailer.model}}
      </span>
      </div>
      <div class="buttons-panel">
          <button class="icon-fax"></button>
          <button class="icon-call"></button>
          <span [bd-popover]="phoneNumber" [popoverOnHover]="true">
              <button class="icon-message"></button>
          </span>
        </div>
    </div>
    <div class="right-panel">
      <appointment-type [appointment]="tripData.appointment"></appointment-type>
      <appointment-range [appointment]="tripData.appointment"></appointment-range>
    </div>
  </div>
  <stop-actions [stopActions]="tripData.stopActions" *ngIf="isExpanded"></stop-actions>
</div>
