@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/font-icons';
@import '../../../../../../assets/styles/mixins';
@import '../../../../../../assets/styles/styles';

.customer-view-container {
  @include default-view-container;
  display: flex;
  border-radius: $default-border-radius;
  flex-direction: row;

  section {
    display: flex;
    width: 50%;
    padding: 11px $default-margin;

    &:first-of-type {
      border-right: $border;
    }

    .circle {
      margin-right: 10px;
    }

    .info-container {
      display: flex;
      overflow: hidden;
      height: 28px;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 4px;

      span {
        line-height: 14px;
      }

      .buttons-panel {
        display: flex;

        button {
          padding: 0 5px;
          border: 0;
          background: none;
          color: $dark-grey;
          outline: 0;

          &:first-of-type {
            padding-left: 0;
          }

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

@include interactive-text;

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
