<div class="customer-view-container">
    <section class="company-info">
        <bd-company-circle
            [companyName]="company.name"
            class="circle"
            size='default'>
        </bd-company-circle>
        <div class="info-container">
            <span class="company-name ellipsis">{{company.name}}</span>
            <span class="company-mc ellipsis">MC# {{company.mc}}</span>
        </div>
    </section>
    <section class="contact-info">
        <bd-user-circle
            [initials]="selectedContactInitials"
            class="circle"
            size='default'>
        </bd-user-circle>
        <div class="info-container">
            <span class="contact-name ellipsis">{{selectedContact.firstName}} {{selectedContact.middleName}} {{selectedContact.lastName}}</span>
            <span class="buttons-panel">
                <button class="icon-fax"></button>
                <button class="icon-call"></button>
                <button class="icon-message"></button>
            </span>
        </div>
    </section>
</div>
