@import '../../../assets/styles/variables';

:host {
  background: $white;

  &.active,
  &:hover {
    background: $light-blue;
  }

  &.active {
    .card-section {
      border-bottom-color: $blue;
    }
  }
}
