<form [formGroup]="passwordRecoveryForm" novalidate (ngSubmit)="onSubmit(passwordRecoveryForm)" class="auth-form">
  <bd-auth-general-form-error *ngIf="isRecoveryFailed && passwordRecoveryForm.pristine"
    [headerText]="'No such user exists.'">
    {{ errorDescription }}
  </bd-auth-general-form-error>
  <bd-auth-form-message-helper>
    Please enter the Email or Phone number that you used to log on to the site.
  </bd-auth-form-message-helper>
  <bd-validator [component]="passwordRecoveryForm.controls.username" [errorDefs]="{required: 'This field is required'}">
    <bd-input
      class="bd-form-control"
      [labelText]="'Email or Phone'"
      formControlName="username">
    </bd-input>
  </bd-validator>
  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button"
    [(disabled)]="!passwordRecoveryForm.valid"
    [text]="'Next'">
  </bd-button>
  <bd-spinner *ngIf="isLoading"></bd-spinner>
</form>
