<form [formGroup]="passwordRecoveryForm" novalidate (ngSubmit)="onSubmit(passwordRecoveryForm)" class="auth-form">
  <bd-auth-general-form-error *ngIf="isRecoveryFailed && passwordRecoveryForm.pristine"
    [headerText]="'No such user exists.'">
    {{ errorDescription }}
  </bd-auth-general-form-error>
  <bd-auth-form-message-helper>
    Please enter the Email or Phone number that you used to log on to the site.
  </bd-auth-form-message-helper>

  <bd-form-switch class="bd-form-control"
    formControlName="userNameType"
    class="user-name-type"
    [hideLabel]="true"
    [enableButtonSwitch]="true"
    [items]="constants.USER_NAME_TYPES">
  </bd-form-switch>

  <bd-validator *ngIf="passwordRecoveryForm.controls.userNameType.value === 'email'"
    [component]="passwordRecoveryForm.controls.email"
    [errorDefs]="{required: 'This field is required', isValidMailFormat: 'Email entered not correct.'}">
    <bd-input
      class="bd-form-control email"
      [labelText]="'Email'"
      formControlName="email">
    </bd-input>
  </bd-validator>
  <bd-validator *ngIf="passwordRecoveryForm.controls.userNameType.value === 'phone'"
    [component]="passwordRecoveryForm.controls.cellphone"
    [errorDefs]="{required: 'This field is required', isValidPhoneFormat: 'Phone number does not comply with standard format.'}">
    <bd-input
      class="bd-form-control cell-phone"
      [labelText]="'Phone'"
      formControlName="cellphone">
    </bd-input>
  </bd-validator>

  <div class="divider"></div>
  <bd-button
    type="submit"
    color="primary"
    class="button next"
    [(disabled)]="!passwordRecoveryForm.valid"
    [text]="'Next'">
  </bd-button>
  <bd-spinner *ngIf="isLoading"></bd-spinner>
</form>
