@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/font-icons';

.expandable-arrow-wrapper {
  display: flex;
  width: 100%;
  height: $form-control-height;
  background: $light-blue;
  border-bottom: $border;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: $default-border-radius;
  border-bottom-right-radius: $default-border-radius;

  &.open {
    margin-top: 20px;
    border-radius: $default-border-radius;
  }

  &:hover {
    cursor: pointer;
  }

  .expandable-arrow {
    color: $grey;
    font-size: 24px;
  }
}
