$hover-clor: #f5fefe;

.gm-style {
	.gm-style-iw {
		overflow: hidden;
		font-size: 7px;
		font-weight: 300;
	}
}

.pac-icon,
.pac-logo:after {
	display: none;
}

.pac-item {
	display: flex;
	height: 50px;
	padding-left: 17px;
	align-items: center;

	&:hover,
	&.pac-item-selected {
		background: $hover-clor;
	}

	span {
		font-size: 17px;
	}
}

.item-wrapper {
	display: flex;
	height: 100%;
	padding: 0 17px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.left-panel {

		.name {
			color: #000;
			font-size: 14px;
		}
	}

	.right-panel {
		.number {
			color: #000;
			font-size: 14px;
		}
	}
}