$hover-clor: #f5fefe;

.gm-style {
	.gm-style-iw {
		overflow: hidden;
		font-size: 7px;
		font-weight: 300;
	}
}

.pac-icon,
.pac-logo:after {
	display: none;
}

.pac-item {
	display: flex;
	height: 50px;
	padding-left: 17px;
	align-items: center;

	&:hover,
	&.pac-item-selected {
		background: $hover-clor;
	}

	span {
		font-size: 17px;
	}
}
