<div *ngIf="selectedItem">
  <bd-button class="add-button" [color]="'primary'" [text]="'Edit'" (click)="onEdit()">
  </bd-button>
  <form-navigation [title]="driverFullName" [anchors]="anchors">
  </form-navigation>
  <div class="driver-detail-container">
    <navigation-anchor id="information"></navigation-anchor>
    <bd-view-detail-section [addButton]="false" [labelText]="'INFORMATION'"></bd-view-detail-section>
    <driver-information [driver]="selectedItem">
    </driver-information>
    <navigation-anchor id="equipment-associations"></navigation-anchor>
    <bd-view-detail-section [labelText]="'EQUIPMENT ASSOCIATIONS'"></bd-view-detail-section>
    <driver-equipment-associations *ngFor="let associatedEquipment of selectedItem.associatedEquipments" [associatedEquipment]="associatedEquipment"></driver-equipment-associations>
    <driver-payment-type [driver]="selectedItem"></driver-payment-type>
    <navigation-anchor id="license"></navigation-anchor>
    <bd-view-detail-section [addButton]="false" [labelText]="'License'"></bd-view-detail-section>
    <driver-license [driver]="selectedItem"></driver-license>
  </div>
</div>
