@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.bd-switch-container {
  display: flex;
  height: $form-control-height;
  padding: 0 $default-margin;
  background: $serenity;
  border-bottom: $border;

  .bd-switch-label {
    display: flex;
    width: 24%;
    height: 100%;
    color: $dark-grey;
    font-size: $input-label-font-size;
    text-align: right;
    margin-right: $default-margin * 2;
    margin-left: -$default-margin;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-end;
  }

  .bd-buttons-container {
    display: flex;
    flex: 1;
    margin-right: -$default-margin;

    button {
      width: 100%;
      padding: 0;
      border: 0;
      margin: 1px 1px 1px 0;
      background: transparent;
      font-size: $form-control-font-size;
      letter-spacing: 1px;
      border-radius: $default-border-radius;
      flex: 1;

      &.active {
        background: $blue;
        color: $white;
      }

      &:focus {
        outline: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.bd-disabled {

  .bd-buttons-container {
    button {
      color: $label-default-color;
    }
  }
}

@include hovered-text;

:host-context(.interactive-panel:hover) {
  @include hovered-bg;
}
