<div *ngIf="selectedItem">
  <form-navigation sticky [stickyPositionInsideScroll]="true" [title]="equipmentInfo" [anchors]="anchors">
  </form-navigation>
  <div class="equipment-detail-container">

    <navigation-anchor id="employment"></navigation-anchor>
    <bd-view-detail-section [labelText]="'EMPLOYMENT'" [addButton]="false" [changeButton]="false">
      <equipment-employment [equipment]="selectedItem"></equipment-employment>
    </bd-view-detail-section>

    <navigation-anchor id="assignment"></navigation-anchor>
    <bd-view-detail-section [labelText]="'ASSIGNMENT'" [addButton]="false" [changeButton]="false">
      <equipment-assignment [equipment]="selectedItem"></equipment-assignment>
    </bd-view-detail-section>

    <navigation-anchor id="details"></navigation-anchor>
    <bd-view-detail-section [labelText]="'EQUIPMENT DETAILS'" [addButton]="false" [changeButton]="false">
      <equipment-details [equipment]="selectedItem"></equipment-details>
    </bd-view-detail-section>
  </div>
</div>