$color-messages: #666;
$color-message-form: #dcdcdc;
$color-send-block: #868686;
$color-background: #f7f7f7;
$color-button: #fff;
$color-background-button: #04d239;

.placeholder {
	color: $color-messages;
	opacity: 1;
}

body {
	input {
		&:focus {
			color: $color-messages;
		}
	}

	textarea {
		&:focus {
			color: $color-messages;
		}
	}
	padding: 10px;
	background: $color-background;
}

.driver-name {
	margin: 10px 0;
	text-align: left;
}

.chat {
	//height: -webkit-calc(100% - 50px);
	//height: calc(100% - 50px);
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.message-form {
	width: 50%;
	height: 120px;
	margin: 0 auto;
	min-width: 100px;

	textarea {
		display: block;
		box-sizing: border-box;
		width: calc(100% - 100px);
		height: 120px;
		padding: 8px;
		border: 1px solid $color-message-form;
		margin: 10px 0;
		max-width: calc(100% - 70px);
		min-width: calc(100% - 70px);
		outline: 0;
		border-radius: 6px;
		float: left;
	}

	.send-block {
		position: relative;
		display: block;
		width: 60px;
		margin: 10px 0 0 10px;
		float: left;

		.status {
			position: absolute;
			top: 2px;
			width: 8px;
			height: 8px;
			background: $color-background-button;
			left: 0;
			border-radius: 50%;
		}

		p {
			margin: 0;
			color: $color-send-block;
			line-height: 18px;
			text-align: center;

			&:first-child {
				color: $color-button;
			}
		}

		button {
			width: 100%;
			height: 30px;
			border: 0;
			background: $color-background-button;
			color: $color-button;
			font-size: 14px;
			margin-top: 10px;
			outline: 0;
			border-radius: 5px;
			transition: all .2s;

			&:hover {
				background: $color-background-button;
			}
		}
	}
}
