<div class="container">
  <div class="row">
    <div class="col-sm-3 driver-name">Driver: George Clooney</div>
    <div class="col-sm-9 chat">
      <!-- messages -->
      <!--<li *ngFor="let message of messages">
        {{ message.message }}
      </li>-->
       <message
        *ngFor="let message of messages"
        [message]="message">
      </message>
    </div>
</div>
    <div class="row">
      <div class="col-sm-12">
        <form action="#" class="message-form" name="sendMessageForm">
          <textarea name="message" placeholder="Type your message here"></textarea>
          <div class="send-block">
            <div class="status"></div>
            <p>Text</p>
            <p>App</p>
            <p>Email</p>
            <button class="send-message" (click)="onEnter($event)">Send</button>
          </div>
        </form>
      </div>
    </div>
</div>
