@import '../../../../../assets/styles/variables';

.common {
  width: 100%;
  height: $form-control-height;
  border: 0;
  font-size: $small-font-size;
  border-bottom: $border;
  border-radius: $default-border-radius;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.primary {
  border: 0;
  background: $blue;
  color: $white;

  &:hover {
    background: $btn-primary-hover;
  }

  &:active {
    background: $btn-primary-focus;

    &:hover {
      background: $btn-primary-focus;
    }
  }
}

.bd-disabled {
  background: $btn-primary-focus;

  &:hover {
    background: $btn-primary-focus;
  }
}

.default {
  background: $light-grey;
  color: $black;

  &:hover {
    background: $btn-default-hover;
  }

}
