@import '../../../../../assets/styles/variables';

.primary {
  background: $blue;
  color: $white;

  &:hover {
    background: $btn-primary-hover;
  }

  &:active {
    background: $btn-primary-focus;

    &:hover {
      background: $btn-primary-focus;
    }
  }
}

.bd-disabled {
  background: $btn-primary-focus;

  &:hover {
    background: $btn-primary-focus;
  }
}

.default {
  background: $light-grey;
  color: $black;

  &:hover {
    background: $btn-default-hover;
  }
}

.white {
  background: $white;
  color: $black;

  // &:hover {
  //   background: $btn-default-hover;
  // }
}

.common {
  border: 0;
  border-bottom: $border;
  border-radius: $default-border-radius;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.default-size {
  width: 100%;
  height: $form-control-height;
  font-size: $small-font-size;
}

.small {
  height: 30px;
  padding: 2px 13px 0;
  font-size: $tiny-font-size;
}
