@import '../../../assets/styles/variables';
@import '../../../assets/styles/form-control';
@import '../../../assets/styles/font-icons';

.mileage-form-container {
  display: flex;

  .mileage-value {
    width: 25%;
  }

  .mileage-date {
    flex: 1;
  }

  .btn-container {
    display: flex;
    width: 40px;
    background: $white;
    justify-content: center;
    align-items: center;
    border-bottom: $border;

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: 0;
    }
  }
}
