//sass-lint:disable no-important no-vendor-prefixes no-duplicate-properties no-unknown-properties
@font-face {
  font-family: 'icon';
  src: url('./assets/fonts/font-icons/icon.eot?yk6m6j');
  src: url('./assets/fonts/font-icons/icon.eot?yk6m6j#iefix') format('embedded-opentype'), url('./assets/fonts/font-icons/icon.ttf?yk6m6j') format('truetype'), url('./assets/fonts/font-icons/icon.woff?yk6m6j') format('woff'), url('./assets/fonts/font-icons/icon.svg?yk6m6j#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=' icon-'],
[class^='icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  line-height: 1;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//sass-lint:enable no-important no-vendor-prefixes no-duplicate-properties no-unknown-properties

.icon-plus {
  &:before {
    content: '\e900';
  }
}

.icon-warning {
  &:before {
    content: '\e901';
  }
}

.icon-minus {
  &:before {
    content: '\e902';
  }
}

.icon-upload {
  &:before {
    content: '\e903';
  }
}

.icon-tasks {
  &:before {
    content: '\e911';
  }
}

.icon-search {
  &:before {
    content: '\e915';
  }
}

.icon-calendar {
  &:before {
    content: '\e904';
  }
}

.icon-close {
  &:before {
    content: '\e905';
  }
}

.icon-dropdown {
  &:before {
    content: '\e906';
  }
}

.icon-up-arrow {
  &:before {
    content: '\e907';
  }
}

.icon-down-arrow {
  &:before {
    content: '\e908';
  }
}

.icon-item {
  &:before {
    content: '\e909';
  }
}

.icon-error {
  &:before {
    content: '\e90a';
  }
}

.icon-success {
  &:before {
    content: '\e912';
  }
}

.icon-pickup-dropoff {
  &:before {
    content: '\e90b';
  }
}

.icon-dropoff {
  &:before {
    content: '\e90c';
  }
}

.icon-pickup {
  &:before {
    content: '\e90d';
  }
}

.icon-user {
  &:before {
    content: '\e90e';
  }
}

.icon-notifications {
  &:before {
    content: '\e90f';
  }
}

.icon-messages {
  &:before {
    content: '\e910';
  }
}

.icon-task-succes-icon {
  &:before {
    content: '\e913';
  }
}

.icon-call {
  &:before {
    content: '\e917';
  }
}

.icon-location {
  &:before {
    content: '\e919';
  }
}

.icon-fax {
  &:before {
    content: '\e91b';
  }
}

.icon-message {
  &:before {
    content: '\e918';
  }
}

.icon-phone {
  &:before {
    content: '\e91a';
  }
}

.icon-mail {
  &:before {
    content: '\e916';
  }
}

.icon-up-arrow-bold {
  &:before {
    content: '\e91d';
  }
}

.icon-left-arrow {
  &:before {
    content: '\e920';
  }
}

.icon-right-arrow {
  &:before {
    content: '\e921';
  }
}

.icon-left-arrow-bold {
  &:before {
    content: '\e91e';
  }
}

.icon-right-arrow-bold {
  &:before {
    content: '\e91f';
  }
}
