@import './variables';

form {
  &.view {
    .bd-form-control {
      box-shadow: inset 0 0 0 1px $white;
      background-color: $light-blue;
    }
  }

  &.edit {
    .bd-form-control {
      background-color: $white;
    }
  }

  .bd-form-control {
    &:hover {
      background-color: $white;
    }

    &.bd-focused {
      background-color: $white;
    }
  }
}
