@mixin multi-line-ellipsis($line-height: 1.2em, $line-count: 2) {
  //sass-lint:disable no-vendor-prefixes
  display: -webkit-box;
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $line-count; /* Fallback for non-webkit */
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  //sass-lint:enable no-vendor-prefixes
}
