@mixin multi-line-ellipsis($line-height: 1.2em, $line-count: 2) {
  //sass-lint:disable no-vendor-prefixes
  display: -webkit-box;
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $line-count; /* Fallback for non-webkit */
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  //sass-lint:enable no-vendor-prefixes
}

@mixin driver-view-form-container {
  display: flex;
  width: 100%;
  padding: 0 $default-margin;
  background: $white;
  font-size: $tiny-font-size;
  line-height: $element-height;
  border-bottom: $border;

  .left {
    width: 50%;
    padding: $default-margin 0;
    border-right: $border;
  }

  .right {
    width: 50%;
    padding: $default-margin;
    color: $dark-grey;
  }
}
