@mixin multi-line-ellipsis($line-height: 1.2em, $line-count: 2) {
  //sass-lint:disable no-vendor-prefixes
  display: -webkit-box;
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $line-count;
  /* Fallback for non-webkit */
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  //sass-lint:enable no-vendor-prefixes
}
@mixin driver-view-form-container {
  display: flex;
  width: 100%;
  padding: 0 $default-margin;
  font-size: $tiny-font-size;
  line-height: $element-height;
  border-bottom: $default-border;

  .left {
    width: 50%;
    padding: $default-margin $default-margin $default-margin 0;
    border-right: $default-border;
  }

  .right {
    width: 50%;
    padding: $default-margin;
    color: $dark-grey;
  }
}

@mixin hovered {

  .hovered-text {
    color: $dark-grey;
    transition: all 500ms;
  }

  &.parent-hover {
    .hovered-text {
      color: $black;
      transition: all 500ms;
    }

    .hovered-bg {
      background: $white;
      border-bottom: $border;
      transition: all 500ms;

      .left {
        border-right: $border;
        transition: all 500ms;
      }
    }
  }
}
