@import './variables';

.button-group {
  display: flex;
  width: 100%;
  min-height: $form-control-height;
  padding-top: 30px;

  .button {
    flex: 1;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}
