@import './variables';

.button-group {
  display: flex;
  width: 100%;
  min-height: $form-control-height;

  .button {
    flex: 1;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sticked-form-navigation {
  position: absolute;
  z-index: $sticked-z-index;
  top: 0;
  display: block;
  width: 100%;
  min-height: $form-navigation-height;
  max-height: $form-navigation-height;
}
