/* colors */
$white: #fff;
$black: #000;
$seagul: #75b3e2;
$nobel: #b3b2b2;
$iron: #d7d8db;
$dropitem: #f5fefe;
$error: #fb3a3a;
$error-background: rgba(251, 58, 58, .2);

/* fonts */
$small-font-size: 10px;
$base-font-size: 16px;
$large-font-size: 24px;

/* form paddings */
$default-form-padding: 17px;

/* form element's margin */
$default-form-margin: 15px;

/* form border */
$default-form-border: 1px solid $nobel;
