/* colors */
$white: #fff;
$black: #30353b;
$dark-grey: #b3b2b2;
$grey: #d7d8db;
$light-grey: #f0f0f0;
$dirty-grey: #b7bcc1;
$blue: #75b3e2;
$light-blue: #f5fefe;
$serenity: #f5f9fc;
$red: #fc3b3b;
$light-red: #ffebeb;

/*  */
$text-color: $black;

/* labels */
$label-default: $dark-grey;
$label-active: $blue;
$label-warning: $red;

/* buttons */
$btn-primary-background: $blue;
$btn-primary-color: $white;

$btn-secondary-background: $light-grey;
$btn-secondary-color: $black;


/* placeholder */
$placeholder-color: $dark-grey;

/* form border */
$border: 1px solid $grey;
$active-border: 1px solid $blue;
$error-border: 1px solid $red;

/* default border radius */
$default-border-radius: 3px;

/* fonts */
$base-font-size: 16px;

$default-font-size: 1rem;
$mini-font-size: .625rem;
$tiny-font-size: .75rem;
$small-font-size: .875rem;
$large-font-size: 1.25rem;

@font-face {
	font-family: 'SFUIText-Regular';
	src: ('../assets/fonts/sf-regular.woff');
}
/* default input height */
$input-height: 50px;
