/* colors */
$white: #fff;
$black: #30353b;
$shark: #23282d;
$dark-grey: #a7a7a7;
$grey: #d7d8db;
$light-grey: #f0f0f0;
$dirty-grey: #b7bcc1;
$iron: #cccecf;
$gray-chateau: #9fa3a6;
$blue: #75b3e2;
$closable-card-bg: rgba($shark, .9);
$closable-card-ellipsis: #393d42;
$horizon: #597c97;
$mako: #485158;
$light-blue: #f5fefe;
$serenity: #f5f9fc;
$red: #fc3b3b;
$light-red: #ffebeb;
$dark-blue: #3d454d;
$light-black: #2a2e33;
$plum: #d289dd;
$primrose: #dfd78f;


/* load view mode colors */
$pickup-view-mode-color: $plum;
$dropoff-view-mode-color: $primrose;
/*  */
$text-color: $black;
$active-color: $blue;

/* labels */
$label-default-color: $dark-grey;
$label-active-color: $active-color;
$label-warning-color: $red;

/* buttons */
$btn-primary-background: $blue;
$btn-primary-color: $white;
$btn-default-hover: $iron;
$btn-default-focus: $gray-chateau;
$btn-primary-hover: $horizon;
$btn-primary-focus: $mako;

$btn-secondary-background: $light-grey;
$btn-secondary-color: $black;

$disabled-text-color: $grey;

/* placeholder */
$placeholder-color: $dark-grey;

/* form border */
$default-border-size: 1px;
$border: $default-border-size solid $grey;
$active-border: $default-border-size solid $blue;
$error-border: $default-border-size solid $red;

/* default border radius */
$default-border-radius: 3px;

/* fonts */
$base-font-size: 16px;

$default-font-size: 1rem;
$micro-font-size: .5625rem; // 9px
$mini-font-size: .625rem; // 10px
$tiny-font-size: .75rem; // 12px
$low-font-size: .8125rem; // 13px
$small-font-size: .875rem; // 14px
$large-font-size: 1.25rem;
$extra-large-font-size: 2rem;

$input-label-font-size: $micro-font-size;
$form-control-font-size: $low-font-size;


$top-panel-icon-size: 19px;

@font-face {
  font-family: 'SFUIText-Regular';
  src: ('../assets/fonts/sf-regular.woff');
}
/* form control height */
$form-control-height: 40px;
$horizontal-scroll-container-height: 43px;
$view-mode-element-height: 35px;

/* top panel height */
$top-panel-height: 50px;

/* circle-radius */
$circle-radius: 50px;

/* card height */
$card-height: 92px;

/* form navigation */
$form-navigation-height: 91px;

/* */
$default-margin: 13px;
$popover-margin: 15px;

/* zIndexes */
$sticked-z-index: 100;
$form-control-popup-z-index: 10;
$navbar-z-index: 1;
$main-z-index: 0;
