<form [formGroup]="driverForm" novalidate (ngSubmit)="submit(driverForm.value, driverForm.valid)">
	<navigation-anchor id="driver-personal-information" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [labelText]="'PERSONAL INFO'">
		<bd-input class="bd-form-control" [labelText]="'First Name'" formControlName="firstName"></bd-input>
		<bd-input class="bd-form-control" [labelText]="'Last Name'" formControlName="lastName"></bd-input>
		<bd-input class="bd-form-control" [labelText]="'Date Of Birth'" formControlName="dateOfBirth"></bd-input>
		<bd-input class="bd-form-control" [labelText]="'SSN'" formControlName="ssn"></bd-input>
	</bd-form-section>
	<navigation-anchor id="driver-contact" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [labelText]="'CONTACT'" >
		<bd-input class="bd-form-control" formControlName="primaryPhone" [labelText]="'Primary Phone'">
		</bd-input>
		<bd-input class="bd-form-control" formControlName="alternativePhone" [labelText]="'Alt Phone'">
		</bd-input>
		<bd-input class="bd-form-control" formControlName="fax" [labelText]="'Fax'">
		</bd-input>
		<bd-input class="bd-form-control" formControlName="email" [labelText]="'Email'">
		</bd-input>
	</bd-form-section>
	<navigation-anchor id="driver-address" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [labelText]="'ADDRESS'" >
		<address-form [group]='driverForm.controls.address' [address]='driver.address' [viewMode]="3"></address-form>
	</bd-form-section>
	<navigation-anchor id="driver-payment" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [labelText]="'PAYMENT'">
		<bd-dropdown class="bd-form-control" [labelText]="'Payment options'" formControlName="paymentOption" [items]="paymentsTypes">
		</bd-dropdown>
		<bd-input class="bd-form-control" formControlName="rate" [labelText]="'Rate'">
		</bd-input>
	</bd-form-section>
	<navigation-anchor id="driver-license" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [labelText]="'LICENSE'">
		<bd-input class="bd-form-control" formControlName="number" [labelText]="'Number'">
		</bd-input>
		<bd-input class="bd-form-control" formControlName="expiration" [labelText]="'Expiration'">
		</bd-input>
		<bd-input class="bd-form-control" formControlName="dateIssued" [labelText]="'Date Issued'">
		</bd-input>
		<bd-dropdown class="bd-form-control" [labelText]="'State issued'" formControlName="stateIssued" [items]="states">
		</bd-dropdown>
		<bd-dropdown class="bd-form-control" [labelText]="'Class'" formControlName="class" [items]="licenseSlassed">
		</bd-dropdown>
		<!--TODO: add endorsments and restrictions elements-->
	</bd-form-section>
	<form-sticky-bottom-container [sticky]="!isNestedForm" *ngIf="isEditMode">
		<div class="button-group">
			<bd-button
				(click)="onCancel()"
				[text]="'Cancel'"
				class="button">
			</bd-button>
			<bd-button
				type="submit"
				color="primary"
				class="button"
				[text]="submitButtonText">
			</bd-button>
		</div>
	</form-sticky-bottom-container>
</form>
