<form [formGroup]="driverForm" novalidate (ngSubmit)="submit(driverForm.value, driverForm.valid)">
	<navigation-anchor id="driver-personal-information" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [disabled]="disabled" [labelText]="'PERSONAL INFO'">
		<bd-input class="bd-form-control" formControlName="firstName" [labelText]="'First Name'"></bd-input>
		<bd-input class="bd-form-control" formControlName="lastName" [labelText]="'Last Name'"></bd-input>
		<bd-form-datepicker class="bd-form-control" formControlName="birthDate" [labelText]="'Date Of Birth'" [minDate]="minBirthDate" [maxDate]="maxBirthDate"></bd-form-datepicker>
		<bd-input class="bd-form-control" formControlName="ssn" [labelText]="'SSN'"></bd-input>
		<bd-dropdown class="bd-form-control" formControlName="type" [labelText]="'Driver type'" [items]="driverTypes">
		</bd-dropdown>
	</bd-form-section>
	<navigation-anchor id="driver-contact" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [disabled]="disabled" [labelText]="'CONTACT'" >
    <contacts-info-form [items]="driver.contactInfo" [formArray]='driverForm.controls.contactInfo' [disabled]="disabled" [viewMode]="viewMode"></contacts-info-form>
	</bd-form-section>
	<navigation-anchor id="driver-address" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [disabled]="disabled" [labelText]="'ADDRESS'" >
		<address-form [group]='driverForm.controls.address' [disabled]="disabled" [address]='driver.address' [viewMode]="viewMode" ></address-form>
	</bd-form-section>
	<navigation-anchor id="driver-payment" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [disabled]="disabled" [labelText]="'PAYMENT'">
		<bd-dropdown class="bd-form-control" formControlName="paymentOptions" [labelText]="'Payment options'" [items]="paymentsTypes">
		</bd-dropdown>
		<bd-input class="bd-form-control" formControlName="rate" [labelText]="'Rate'">
		</bd-input>
	</bd-form-section>
	<navigation-anchor id="driver-license" [isNestedForm]="isNestedForm"></navigation-anchor>
	<bd-form-section [disabled]="disabled" [labelText]="'LICENSE'">
		<license-form [group]='driverForm.controls.license' [disabled]="disabled" [license]='driver.license' [viewMode]="viewMode"></license-form>
	</bd-form-section>
	<form-sticky-bottom-container [sticky]="!isNestedForm" [stickyPositionInsideScroll]="true" *ngIf="isEditMode">
		<div class="button-group">
			<bd-button
        [disabled]="disabled"
				(click)="onCancel()"
				[text]="'Cancel'"
				class="button">
			</bd-button>
			<bd-button
        [disabled]="disabled"
				type="submit"
				color="primary"
				class="button"
				[text]="submitButtonText">
			</bd-button>
		</div>
	</form-sticky-bottom-container>
</form>
