@import '../../../../assets/styles/variables';

.email-confirmation-wrapper {
  width: 480px;

  h3 {
    color: $blue;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .general-help-message {
    padding: 10px;
    margin: 15px 0;
    background: $light-blue;
    color: $dark-blue;
  }
}
