@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';
$container-height: $horizontal-scroll-container-height;

:host {
  position: absolute;
  z-index: $sticked-z-index;
  top: 0;
  display: block;
  width: 100%;
  min-height: $form-navigation-height;
  max-height: $form-navigation-height;

  .form-navigation {
    padding: $default-margin $default-margin 0;
    background: $default-background;
    border-radius: $default-border-radius;
    border-bottom: $border;
    transition: background $interactive-animation-time;

    .top-panel {
      display: flex;
      justify-content: space-between;

      .title {
        display: inline-block;
        color: $nevada;
        font-size: $default-font-size;
        line-height: $default-font-size;
        font-weight: bold;
        transition: all $interactive-animation-time;
      }

      .top-panel-content {
        visibility: hidden;
        opacity: 0;
        transition: all $interactive-animation-time;
      }
    }

    .container {
      position: relative;
      width: 100%;
      height: $container-height;
      padding: 0;
    }

    .content {
      white-space: nowrap;

      span {
        margin: 0 5px;
        color: $dark-grey;
        font-size: $tiny-font-size;
        cursor: default;

        &:hover {
          color: $black;
        }

        &.active {
          color: $nevada;
          font-weight: bold;
          transition: all $interactive-animation-time;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.bd-disabled {
  .title {
    color: $label-default-color;
  }

  .container {
    .content {
      span {
        color: $label-default-color;

        &.active {
          color: $label-default-color;
        }

        &:hover {
          color: $label-default-color;
        }
      }
    }
  }
}

:host-context(.interactive-panel:hover) {

  .form-navigation {
    background: $white;
    transition: all $interactive-animation-time;

    .top-panel {

      .title {
        color: $black;
        transition: all $interactive-animation-time;
      }

      .top-panel-content {
        opacity: 1;
        visibility: visible;
        transition: all $interactive-animation-time;
      }
    }
  }

  .content {

    span {

      &.active {
        color: $black;
        transition: all $interactive-animation-time;
      }
    }
  }
}
