@import '../../../../assets/styles/variables';

driver-card {
  background: $default-background;
  color: $dark-grey;

  .status-text {
    background: $default-background;
  }

  &.active {
    background: $white;
    color: $black;

    .status-text {
      background: $white;
    }
  }
}
