Home page
<datatable
    class='material striped'
    [rows]='rows'
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
>
</datatable>

<div style="width:500px; margin:100px auto">
  <bd-input
      placeholder="placeholder"
      [collapsibleInput]="false"
      [labelText]="'date'">
      <span class="prefix" bd-prefix>$&nbsp;</span>
  </bd-input>

  <div style="margin-top:30px;"></div>

  <bd-input
      [labelText]="'Estimated distance Estimated'"
      [collapsibleInput]="true"
      [attr.name]="'Andrew'">
  </bd-input>
    <div style="margin-top:30px;"></div>
  <bd-textarea
  [labelText]="'textarea'"
  [collapsibleInput]="false"
  >
  <span class="prefix" bd-prefix>$&nbsp;</span>
  </bd-textarea>

  <div style="margin-top:30px;"></div>
  <bd-textarea
  [collapsibleInput]="true"
  [labelText]="'textarea'">
  </bd-textarea>
</div>
