Home page
<datatable
    class='material striped'
    [rows]='rows'
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
>
</datatable>

<div style="width:500px; margin-top:100px;">
<bd-input
    placeholder="placeholder"
    [collapsibleInput]="false"
    [labelText]="'Date'">
    <span class="prefix" bd-prefix>$&nbsp;</span>
</bd-input>

<div style="margin-top:30px;"></div>

<bd-input
    [labelText]="'Estimated distance Estimated'"
    [collapsibleInput]="true"
    [attr.name]="'Andrew'">
</bd-input>


</div>
