<form [formGroup]="companyForm" novalidate (ngSubmit)="onSave(companyForm.value, companyForm.valid)">
    <bd-form-section [disabled]="disabled" [labelText]="'BASIC INFORMATION'">
      <bd-input class="bd-form-control" [labelText]="'Company Name'" formControlName="name">
      </bd-input>
      <bd-dropdown class="bd-form-control" [defaultTitleText]="'Select Company Type'" [labelText]="'Company type'" formControlName="type" [items]="companyTypes">
      </bd-dropdown>
      <bd-validator [component]="companyForm.controls.status" [errorDefs]="{required: 'Status is required'}">
        <bd-form-switch class="bd-form-control" [labelText]="'Status'" [enableButtonSwitch]="true" formControlName="status"
        [items]="companyStatuses">
        </bd-form-switch>
      </bd-validator>
      <bd-validator [component]="companyForm.controls.mc" [errorDefs]="{required: 'MC# is required'}">
        <bd-input class="bd-form-control" [labelText]="'MC #'" formControlName="mc">
        </bd-input>
      </bd-validator>
      <bd-input class="bd-form-control" [labelText]="'Tax ID (W9)'" formControlName="taxId">
      </bd-input>
    </bd-form-section>
    <form-sticky-bottom-container [sticky]="true" [stickyPositionInsideScroll]="true">
      <div class="button-group">
        <bd-button [disabled]="disabled" (click)="onCancel()" [text]="'Cancel'" class="button">
        </bd-button>
        <bd-button [disabled]="disabled" type="submit" color="primary" class="button" [text]="submitButtonText">
        </bd-button>
      </div>
    </form-sticky-bottom-container>
</form>
