<template #customItemTemplate let-model="item" let-index="index">
    <div class="dropdown-company-item-wrapper">
      <div class="full-properties-wrapper">
        <div class="name-title">
          {{model.name}}
        </div>
        <div class="properties">
          MC#: {{model.mc}}
        </div>
      </div>
    </div>
</template>
<form [formGroup]="loadForm" class="edit">
	<bd-form-spinner *ngIf="isLoading"></bd-form-spinner>
  <navigation-anchor id="info"></navigation-anchor>
  <bd-form-section labelText="Info">
    <bd-input class="bd-form-control" [labelText]="'System Load Number'" [disabled]="disabled" formControlName="systemLoadNo">
    </bd-input>
    <bd-input class="bd-form-control" [labelText]="'Customer Load Number'" formControlName="customerLoadNo">
    </bd-input>
    <bd-form-switch class="bd-form-control" [labelText]="'Load Type'" [enableButtonSwitch]="isEditMode" formControlName="type" [items]="loadTypesNames">
    </bd-form-switch>
    <bd-form-switch class="bd-form-control" [labelText]="'Freight'" [enableButtonSwitch]="isEditMode" formControlName="freightType" [items]="freightTypesNames">
    </bd-form-switch>
  </bd-form-section>
  <navigation-anchor id="company"></navigation-anchor>
  <bd-form-section labelText="Customer">
    <bd-validator [component]="loadForm.controls.customer" [errorDefs]="{required: 'Customer is required'}">
      <bd-typeahead
        class="bd-form-control"
        formControlName="customer"
        [labelText]="'Name or MC#'"
        [footerButtonText]="'Add New Company'"
        [source]="companySource"
        (onRemove)="onCompanyRemove()"
        [(value)]="companyQuery"
        [itemTemplate]="customItemTemplate"
        (onSelect)="onCompanySelect($event)"
        (onFooterButtonClick)="onAddNewCompany()"
        [optionField]="'name'">
      </bd-typeahead>
    </bd-validator>
    <bd-form-section>
      <bd-dropdown
        *ngIf='load.customer'
        class="bd-form-control"
        labelText='Location'
        clearLabel='Leave Empty'
        formControlName="customerLocationId"
        defaultTitleText="Select location"
        [dropdownItemTemplate]="addressDropdown"
        [items]="load.customer.locations"
        keyField="id"
        valueField="name">
      </bd-dropdown>
    </bd-form-section>
    <bd-form-section>
      <bd-dropdown
        *ngIf='load.customer'
        clearLabel='Leave Empty'
        class="bd-form-control"
        labelText='Billing Location'
        formControlName="customerBillingLocationId"
        defaultTitleText="Select Billing Location"
        [dropdownItemTemplate]="addressDropdown"
        [items]="load.customer.locations"
        keyField="id"
        valueField="name">
      </bd-dropdown>
    </bd-form-section>
    <bd-form-section>
      <bd-dropdown
        *ngIf='load.customer'
        clearLabel='Leave Empty'
        class="bd-form-control"
        labelText='Contact'
        defaultTitleText="Select Contact"
        formControlName="contactId"
        [items]="load.customer.contacts"
        keyField="id"
        valueField="firstName">
      </bd-dropdown>
    </bd-form-section>
    <navigation-anchor id="requirements"></navigation-anchor>
    <bd-form-section labelText="REQUIREMENTS">
      <bd-form-switch class="bd-form-control" [labelText]="'Driver'" [enableButtonSwitch]="isEditMode" formControlName="driverRequirement" [items]="driverRequirementsNames">
      </bd-form-switch>
      <bd-dropdown class="bd-form-control" [labelText]="'Power unit'" formControlName="requiredPowerUnitType" [items]="requiredPowerUnitTypesNames">
      </bd-dropdown>
      <bd-dropdown class="bd-form-control" [labelText]="'Trailer'" formControlName="requiredTrailerType" [items]="requiredTrailerTypesNames">
      </bd-dropdown>
      <bd-textarea
        class="bd-form-control"
        formControlName="specialRequirments"
      [labelText]="'Special Requirements'">
      </bd-textarea>
    </bd-form-section>
  </bd-form-section>
  <navigation-anchor id="documents"></navigation-anchor>
  <bd-form-section labelText="DOCUMENTS">
    <load-document-form [items]="load.documents"></load-document-form>
  </bd-form-section>
  <form-sticky-bottom-container>
    <div class="button-group">
      <bd-button
        [text]="'Cancel'"
        class="bd-button button"
        (click)="onLoadCancel()">
      </bd-button>
      <bd-button
        color="primary"
        class="bd-button button"
        [text]="'Save'"
        (click)="onLoadSave()">
      </bd-button>
    </div>
  </form-sticky-bottom-container>
</form>
<template #addressDropdown let-item="item">
  <address-item-template [item]='item'></address-item-template>
</template>
