<div class="wrapper">
  <template #customItemTemplate let-model="item" let-index="index">
      <div class="item-wrapper">
        <div class="left-panel">
          <div class="name">
              {{model.name}}
          </div>
          <div class="address">
              {{model.address.streetAddress}}
          </div>
        </div>
        <div class="right-panel">
          <div class="number">
            {{model.mc}}
          </div>
        </div>
      </div>
  </template>
<form [formGroup]="loadForm" [class.edit]="isEditMode" [class.view]="!isEditMode">
  <div class="bd-form">
    <div class="bd-form-title">
      Customer
    </div>
    <bd-validator [component]="loadForm.controls.customer" [errorDefs]="{required: 'Customer is required'}">
      <bd-typeahead
         class="bd-form-control"
         formControlName="customer"
         [labelText]="'Name or MC#'"
         [footerButtonText]="'Add New Customer'"
         [source]="customerSource"
         (onRemove)="onCustomerRemove()"
         [(value)]="customerQuery"
         [itemTemplate]="customItemTemplate"
         (onSelect)="onCustomerSelect($event)"
         (onFooterButtonClick)="onAddNewCustomer()"
         [optionField]="'name'">
       </bd-typeahead>
     </bd-validator>
      <customer-form *ngIf='selectedCustomer' [customer]='selectedCustomer' (save)="onCustomerSave($event)" (cancel)="onCustomerEditCancel()" [viewMode]="customerViewMode"> </customer-form>
        <bd-form-section [labelText]="'REQUIREMENTS'">
        <bd-form-switch class="bd-form-control" [labelText]="'Driver'" [enableButtonSwitch]="isEditMode" formControlName="driverRequirment" [items]="driverRequirmentsNames">
        </bd-form-switch>
        <bd-dropdown class="bd-form-control" [labelText]="'Power unit'" formControlName="powerUnitType" [items]="powerUnitTypesNames">
        </bd-dropdown>
        <bd-dropdown class="bd-form-control" [labelText]="'Trailer'" formControlName="trailerType" [items]="trailerTypesNames">
        </bd-dropdown>
        <bd-textarea
          class="bd-form-control"
          formControlName="specialRequirment"
         [labelText]="'Special Requirements'">
        </bd-textarea>
      </bd-form-section>
  </div>
</form>
</div>
