<div *ngIf="selectedItem">
  <bd-form-spinner *ngIf="isLoading$ | async"></bd-form-spinner>
	<form-navigation
    sticky
    [stickyPositionInsideScroll]="true"
    [disabled]="isLoading"
    [anchors]="anchors">
  </form-navigation>
  <bd-form-section [disabled]="disabled" [labelText]="'Contact'">
    <stop-form
      [contact]="selectedItem"
      [disabled]="isLoading"
      [scrollable]="true"
      [viewMode]="viewMode"
   >
    </stop-form>
    <form-sticky-bottom-container [sticky]="true" [stickyPositionInsideScroll]="true">
      <div class="button-group">
        <bd-button [disabled]="disabled" (click)="onItemCancel()" [text]="'Cancel'" class="button">
        </bd-button>
        <bd-button [disabled]="disabled" (click)="onFormSave()" color="primary" class="button" [text]="'Save'">
        </bd-button>
      </div>
    </form-sticky-bottom-container>
  </bd-form-section>
</div>