@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/font-icons';

.button {
  display: flex;
  width: 100%;
  height: $form-control-height;
  padding: 0 $default-margin;
  border: 0;
  text-align: right;
  cursor: pointer;
  background-color: inherit;
  box-shadow: inherit;
  border-bottom: $border;
  border-radius: $default-border-radius;
  outline: 0;
  align-items: center;

  .suffix-label {
    margin-left: $default-margin;
  }

  .btn-icon {
    font-size: $small-font-size;
    flex: 1;
  }

  .text {
    font-size: $tiny-font-size;
    text-transform: uppercase;
  }
}

.bd-disabled {
  color: $label-default-color;
}
