@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

$default-size: 40px;
$small-size: 35px;

.header {
  display: flex;
  background: $default-background;
  transition: all $interactive-animation-time;

  div {
    display: flex;
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: $grey;
    border-width: 0 1px 1px 0;

    &:last-child {
      border-right-width: 0;
    }

    &.default {
      height: $default-size;
    }

    &.small {
      height: $small-size;
    }

    &.active {
      p {
        color: $blue;
      }
    }

    p {
      margin: 0;
      color: $dark-grey;
      font-size: $mini-font-size;
      cursor: default;
    }
  }
}

:host-context(.interactive-panel:hover) {
  @include interactive-background;
}
