@import '../../../../../assets/styles/variables';

:host {
  display: flex;
}

.form-button {
  border: 0;
  background: transparent;

  &.default {
    color: $blue;
    font-size: $small-font-size;
  }

  &.small {
    padding: 0;
    color: $dark-grey;
    font-size: $tiny-font-size;

    &.centered {
      margin: $default-margin auto;
    }

    &:hover {
      color: $blue;
    }
  }

  &:focus {
    outline: 0;
  }
}
