@import '../../../../../assets/styles/variables';

.form-button {
  border: 0;
  background: transparent;
  
  &.default {
    color: $blue;
    font-size: $small-font-size;
  }

  &.small {
    color: $dark-grey;
    font-size: $tiny-font-size;

    &:hover {
      color: $blue;
    }
  }

  &:focus {
    outline: 0;
  }
}
