<form [formGroup]="licenseForm">
		<bd-input class="bd-form-control number" formControlName="number" [labelText]="'Number'">
		</bd-input>
		<bd-form-datepicker class="bd-form-control date-issued" formControlName="dateIssued" [labelText]="'Date Issued'">
		</bd-form-datepicker>
		<bd-form-datepicker class="bd-form-control expiration" formControlName="expiration" [labelText]="'Expiration'">
		</bd-form-datepicker>
		<bd-dropdown class="bd-form-control state-issued" formControlName="stateIssued" [defaultTitleText]="'Select State'" [labelText]="'State issued'" [items]="states">
		</bd-dropdown>
		<bd-dropdown class="bd-form-control license-class" formControlName="licenseClass" [defaultTitleText]="'Select Class'" [labelText]="'Class'" [items]="licenseClasses">
		</bd-dropdown>
		<bd-checkboxes class="bd-form-control endorsements" [labelText]="'Endors.'" formControlName="endorsements" [items]="endorsmentList">
		</bd-checkboxes>
		<bd-checkboxes class="bd-form-control restrictions" [labelText]="'Restric.'" formControlName="restrictions" [items]="restrictionList">
		</bd-checkboxes>
</form>
