<form [formGroup]="licenseForm">
		<bd-input class="bd-form-control" formControlName="number" [labelText]="'Number'">
		</bd-input>
		<bd-form-datepicker class="bd-form-control" formControlName="dateIssued" [labelText]="'Date Issued'">
		</bd-form-datepicker>
		<bd-form-datepicker class="bd-form-control" formControlName="expiration" [labelText]="'Expiration'">
		</bd-form-datepicker>
		<bd-dropdown class="bd-form-control" formControlName="stateIssued" [labelText]="'State issued'" [items]="states">
		</bd-dropdown>
		<bd-dropdown class="bd-form-control" formControlName="licenseClass" [labelText]="'Class'" [items]="licenseClasses">
		</bd-dropdown>
		<bd-checkboxes class="bd-form-control" [labelText]="'Endors.'" formControlName="endorsements" [items]="endorsmentList">
		</bd-checkboxes>
		<bd-checkboxes class="bd-form-control" [labelText]="'Restric.'" formControlName="restrictions" [items]="restrictionList">
		</bd-checkboxes>
</form>
